/** 헤더 카드 **/
/** 헤더 마이메뉴 **/
#header .header-nav-features .header-nav-feature .my_menu,
#header .header-nav-features .header-nav-feature .my_message{
    font-family: nanumGothic;
    display: none;
    position: absolute;
    top: 59px;
    right: -60px;
    width: 260px;
    font-weight: 500;
}
#header .header-nav-features .header-nav-feature .my_menu:hover,
#header .header-nav-features .header-nav-feature .my_message:hover{
    display: block;
}
#header .header-nav-features .header-nav-feature:hover > .my_menu,
#header .header-nav-features .header-nav-feature:hover > .my_message {
    display: block;
}
.my_menu{
    padding: 0;
    border: 1px solid #ddd;
}
.my_menu .card{
    padding: 0.5rem 0.8rem;
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
}
.my_menu .card .card_top{
    display: flex;
    padding: 1rem 0 0 0;
    justify-content: center;
}
.my_menu .card .card_top .profile_img{
    width: 70px;
    height: 70px;
}
.my_menu .card .card_top .profile_img .center-crop-wrapper img{
    border: 1px solid #e4e4e4;
}
.my_menu .card .card_top .info{
    margin-left: 0.5rem;
}
.my_menu .card .card_top .info .username{
    max-width: 150px;
    font-size:17px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 20px;
    margin-top: 0.3rem;
}
.my_menu .card .card_top .info .badge{
    font-size: 13px;
    color: #0088cc;
    padding: 0;
}
.my_menu .card .card_top .info .par{
    font-size: 12px;
    letter-spacing: -0.5px;
    white-space: nowrap;
}
.my_menu .card .card_top .info .par .count{
    color: #0088cc;
}
.my_menu .card .card_middle{
    text-align: center;
    padding: 0.8rem 0 0.5rem 0;
}
.my_menu .card .card_middle .sns_export{
    display: inline-flex;
    align-items: center;
    color: #d6d6d6;
    margin-top: 0;
    margin-bottom: 0.7rem;
}
.my_menu .card .card_middle .sns_export .sns i{
    font-size: 17px;
}
.my_menu .card .card_bottom{
    border-bottom: 1px solid #ddd;
    font-size: 13px;
    line-height: 25px;
    padding: 0rem 0.3rem 0.7rem 0.3rem;;
}
.my_menu .card .card_bottom .homepageUrl{
    font-size: 13px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    color: #939393;
}
.my_menu .card .price{
    color: #0088CC !important;
    display: flex;
    justify-content: space-between;
    background: #edf7ff;
    padding: 7px 7px;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 8px;
}
.my_menu .card .price div:last-child{
    font-size: 13px;
}
.my_menu .card .balance{
    color: #e36159 !important;
    display: flex;
    justify-content: space-between;
    padding: 7px 7px;
    background-color: #ffefef;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 8px;
}
.my_menu .card .balance div:last-child{
    font-size: 13px;
}
.my_menu .card .expose_email{
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 0px;
}
.my_menu .card .cellphone{
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.my_menu .card .profile_img_crop{
    position: relative;
}
.my_menu .card .badge{
    color: #0088cc;
    font-size: 12px;
}
.my_menu .rating-container{
    line-height: 15px;
}
.my_menu .client .rating-container{
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
}
.my_menu .rating-container .rating-stars{
    margin-top: -1px;
    margin-bottom:2px;
}
.my_menu .my_menu_list .list-group-item{
    display: flex;
    justify-content: space-between;
    border: 0;
    padding: 0.3rem 1.1rem;
    font-size: 13px!important;
}
.my_menu .my_menu_list .list-group-item span:last-child{
    color: #0088cc;
}
.my_menu .my_menu_list .list-group-item.out{
    padding: 0.8rem 0.6rem 0.8rem 1.1rem;
    background-color: #f4f4f4;
}
.my_menu .my_menu_list .list-group-item.out span{
    color: #495057;
}
.my_menu .message_alarm{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 4px;
    font-size: 13px;
}
.my_menu .message_alarm .message_badge .badge{
    background-color: #e36159;
    border-radius: 5px;
    color: #fff;
    padding: 5px 8px;
    cursor: pointer;
}

/******************************** 공통 ********************************/
.card{display: block!important}
.badge-g-list {
    position: absolute;
    top: -4px;
    left: -1px;
    width: 100%;
    z-index: 99;
    text-align: left;
}
.kind-c{
    position: absolute;
    z-index: 10;
    bottom: 7px;
    right: 7px;
}
.card-title div:first-child{
    height: 17px;
    font-size: 13px;
    line-height: 17px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    padding:0 5px;
    margin-top:5px;
}
.card-body{
    padding-bottom:1rem;
}
.blog_text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 25px 17px;
    border-radius: 4px 4px 0 0 ;
    font-size: 13px;
}
.blog_text .text:before{
    content: '';
    background: url(/static/images/icon/logo_icon.png)no-repeat;
    background-size: contain;
    height: 17px;
    position: absolute;
    width: 17px;
    top: 30px;
    left: calc(50% - 8px);
    background-position: center;
}
.blog_text .text{
    height: 57px;
    margin-top: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.project.card{
    position: relative;
    transition: all .15s ease-out;
    box-shadow: 0 5px 20px -5px rgba(50, 50, 93, 0.12), 0 3px 4px -2px rgba(0, 0, 0, 0.08);
}
.list.list-borders li{
    margin-top: 2px!important;
    padding-bottom: 2px!important;
}
.card-footer li{
    white-space: nowrap;
}
.project span.mark{
    background-color: #e2f2ff;
}
.contest span.mark{
    background-color: #ffe3e3;
}
.emp{
    font-weight: 700;
    display: inline-block;
    margin-right: 0.5rem;
    float: right;
    padding: 5px 10px;
    background-color: #f4f4f4;
}
.emp:after{
    content: '';
    display: block;
    clear: both;
}
.emp div{
    line-height: 15px;
    text-align: left;
}
.post-meta{

}

.rank_badge{
    position: absolute;
    top:5px;
    left:5px;
}
.icon-folder-alt.icons{
    text-align: center;
    font-size: 1000%;
    color: #0088cc;
    text-align: center;
}
.icon-trophy.icons{
    font-size: 1000%;
    color: #f45f56;
    text-align: center;
}
article.post{
    position: relative;
}
.bid_completed{
    display: none;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 10;
}
.bid_completed.active{
    display: block;
}
.bid_completed .bg {
    background-color: #383f48;;
    width:100%;
    height:100%;
    opacity: 0.5;
}
.bid_completed .wrap_img{
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.bid_completed .wrap_img .img{
    position: absolute;
    align-self: center;
    max-width: 80%;
    max-height:60%;
    z-index: 100;
}
.thumb-info-wrapper .thumb-info-title{
    z-index: 10;
}
.pickmeup-open{
    display: none;
    z-index: 1;
}
.pickmeup-open.active{
    display: flex;
}
.pickmeup-open .bg {
    background-color: #383f48;;
    width:100%;
    height:100%;
    opacity: 0.5;
}

article.project .c_logo_img{
    background: url(/static/images/logo_02.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 70%;
}



/******************************** 광고 카드 ********************************/
.ad.card{
    height: 100%;
    min-height: 350px;
    background-color: #ffd73c;
    padding: 0.5rem 0.3rem;
}
.ad.card img{
    max-width: 100%;
    margin-top: 1.2rem;
}
.ad.card .spon_text{
    color: #999;
    position: absolute;
    left: 1rem;
    z-index: 1;
}
.ad.card .title{
    color: #2a2a2a;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: -0.7px;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}
.ad.card .card-des{
    color: #2a2a2a;
    font-size: 13px;
    letter-spacing: -0.7px;
    line-height: 1.3rem;
}
.ad.card .card-des .br{
    display: block;
}
.ad.card .card-des span{
    font-weight: 900;
    background-color: rgba(198, 244, 255, .54);
}
.ad.card .more{
    position: absolute;
    bottom: 1rem;
    right: 0.5rem;
    font-size: 13px;
}

/******************************** 프로젝트 카드 ********************************/
.project.card .btnLike{
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    color: #cecece;
    font-size: 13px;
    cursor: pointer;
    z-index: 100;
    white-space: nowrap;
}
.project.card .like .like-on{
    display: none;
}
.project.card .like.active .like-on{
    display: inline-block;
    color:#dc3545;
}
.project.card .like .like-off{
    display: inline-block;
}
.project.card .like.active .like-off{
    display: none;
}
.project.card .card-layout{
    margin: 0!important;
    padding-top: 1.6rem;
}
.project.card .client-logo-img{
    height: 70px;
    background-size: contain;
    width: 70%;
    background-position: center center;
    margin: 1rem auto;
    margin-bottom: 0.5rem;
    background-repeat: no-repeat;
}
.project.card .client-basic-info{
    color:#000;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.project.card .client-basic-info .project_title{
    
}
.project.card .client-basic-info a{
    text-decoration: none;
    color: #333;
}
.project.card .client-basic-info a:hover{
    text-decoration: none;
    color: #333;
}
.project.card .card-des {
    height: 40px;
    overflow: hidden;
    font-size: 13px;
    margin-top:0.2rem;
    margin-bottom: 0.5rem;
    line-height: 20px;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.project.card .card-tag{
    height: 40px;
    font-size: 13px;
    overflow: hidden;
    margin-bottom:10px;
    line-height: 20px;
}
.project.card .card-tag span.badge{
    background-color: #dee2e6;
}
.project.card .card-bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}
.project.card .card-bottom .left-area {
    flex: 1;
}
.project.card .card-bottom .budget{
    font-weight: 700;
    text-align: right;
    font-size: 15px;
}
.project.card .card-bottom .more{
    font-size: 13px;
}
.project.card .card-bottom .d-day span{
    background: #ddd;
    padding: 5px;
    margin-right: 2px;
    font-weight: 700!important;
    color: #000;
}



/******************************** 컨테스트 카드 ********************************/
.contest.card{
    min-height: 350px;
    background-color: #000;
    position: relative;
    height: 100%;
    transition: all .15s ease-out;
    box-shadow: 0 5px 20px -5px rgba(50, 50, 93, 0.12), 0 3px 4px -2px rgba(0, 0, 0, 0.08);
}
.contest.card:hover,
.project.card:hover{
    box-shadow: 0 30px 75px -15px rgba(50, 50, 93, 0.3), 0 25px 40px -20px rgba(0, 0, 0, 0.1);
}
.contest.card .contest-img{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.contest.card .btnLike{
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    color: #cecece;
    font-size: 13px;
    cursor: pointer;
    z-index: 100;
    white-space: nowrap;
}
.contest.card .like .like-on{
    display: none;
}
.contest.card .like.active .like-on{
    display: inline-block;
    color:#dc3545;
}
.contest.card .like .like-off{
    display: inline-block;
}
.contest.card .like.active .like-off{
    display: none;
}
.contest.card .card-layout{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #fff;
    padding: 1rem;
}
.contest.card .card-layout .contest-sector_01{
    width: 100%;
    font-weight: 700;
    color: #fff;
    margin-top: 2rem;
    margin-bottom: 0.6rem;
}
.contest.card .card-layout .contest-sector_01 .wrap span{
    display: block;
    line-height: 30px;
}
.contest.card .card-layout .contest-sector_01 .wrap span:first-child{
    font-family: 'nanumSquare';
    font-size: 30px;
    white-space: nowrap;
}
.contest.card .card-layout .contest-sector_01 .wrap span:last-child{
    font-family: 'nanumSquare';
    font-size: 30px; 
}
.contest.card .card-layout .trophy{
    border-bottom: 2px solid #fff;
    position: absolute;
    right: -1px;
    top: 7.5rem;
}
.contest.card .card-layout .trophy .text{
    font-size: 14px;
    padding-left: 10px;
}
.contest.card .card-layout .trophy .count{
    text-align: right;
    font-weight: 700;
    font-size: 20px;
    padding-right: 1rem;
}
.contest.card .card-layout .client-basic-info{
    padding: 1.3rem 1rem;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.contest.card .card-layout .client-basic-info a{
    color: #fff;
    text-decoration: none;
}
.contest.card .card-layout .client-basic-info a:hover{
    text-decoration: none;
}
.contest.card .card-layout .client-basic-info .box{
    min-height: 85px;
    margin-bottom: 0.5rem;
}
.contest.card .card-layout .client-basic-info .contest_title{
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.contest.card .card-layout .client-basic-info .contest_sector_02{
    width: 100%;
    max-width: 222px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: #dd5353;
    border-radius: 4px;
    padding: 0 0.5rem;
    margin: auto;
    margin-bottom: 0.5rem;
}
.contest.card .card-layout .client-basic-info .contest_sector_02 span:first-child{
    font-size: 13px;
}
.contest.card .card-layout .client-basic-info .contest_sector_02 span:last-child{
    font-size: 12px;
}
.contest.card .card-layout .client-basic-info .contest_sector_02 i{
    font-size: 11px;
}
.contest.card .card-layout .client-basic-info .after_contest{
    width: 100%;
    max-width: 222px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    background-color: #2285cc;
    border-radius: 4px;
    padding: 0 0.5rem;
    margin: auto;
    margin-bottom: 0.5rem;
}
.contest.card .card-layout .client-basic-info .target_person{
    width: 100%;
    max-width: 222px;
    font-size: 12px;
    background-color: #e67e38;
    border-radius: 4px;
    padding: 0 0.5rem;
    margin: auto;
    margin-bottom: 0.5rem;
}
.contest.card .card-layout .card-bottom{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}
.contest.card .card-layout .card-bottom .left-area {
    flex: 1;
}
.contest.card .card-layout .card-bottom .d-day span{
    border: 1px solid #fff;
    padding: 5px;
    margin-right: 2px;
    font-weight: 700!important;
    color: #fff;
}
.contest.card .card-layout .card-bottom .more{
    font-size: 13px;
}
.contest.card .card-layout .card-bottom .more a{
    color: #fff;
}



/******************************** 입찰 카드 ********************************/
.list_card{
    margin-bottom:3rem;
}
.list_card .card_title_date{
    display: flex;
    margin-bottom:1rem;
}
.list_card .card_title_date .title{
    max-width: calc(100% - 500px);
    overflow: hidden;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.list_card.project .card_title_date .title{
    color: #0088cc;
}
.list_card.contest .card_title_date .title{
    color: #e36159;
}
.list_card .card_title_date .date{
    font-size: 13px;
    display: block;
    min-width: 300px;
    align-self: center;
    margin-left:1rem;
}
.list_card .cellbox{
    width: 100%;
}
.list_card .cellbox .cell{
    position: relative;
    margin-right: 2rem;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 15px;
}
.list_card .cellbox .cell .font_emp{
    font-weight: 900;
}
.list_card .cellbox .cell .font_emp.red{
    color: #e36159;
    font-size: 14px;
    background-color: #f7e7e1;
    padding: 3px 5px;
}
.list_card .post-image span.badge-g-list {
    position: absolute;
    z-index: 10;
    top: -1px;
    left: 0px;
    right: 0;
    padding: 0 10px;
}
.list_card .post-image span.badge-g-list .direct{
    background-color: #ff8400;
    color: #fff;
    font-size: 10px;
    border-radius: 0 0 50px 50px;
    display: inline-block;
    text-align: center;
    padding: 6px 4px;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.24);
}
.list_card .post-image span.badge-g-list .master{
    background-color: #144089;
    color: #fff;
    font-size: 10px;
    border-radius: 0 0 50px 50px;
    display: inline-block;
    text-align: center;
    padding: 6px 4px;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.24);
}
.list_card .post-image span.badge-g-list .creative{
    background-color: #612a90;
    color: #fff;
    font-size: 10px;
    border-radius: 0 0 50px 50px;
    display: inline-block;
    text-align: center;
    padding: 6px 5px;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.24);
}
.list_card .btn-group .btn{
    min-width: 120px;
}
.list_card .action_line{
    border-top: 1px solid #ddd;
    padding: 0.8rem;
    padding-top: 0.8rem;
    background-color: #f5f5f5;
}
.list_card .action_line .col-lg-6:first-child{
    min-height: 25px;
    display: flex;
}
.list_card .action_line .btn-group .btn{
    font-size: 12px;
    font-weight: 700;
}
.list_card .action_line .btn-group .btn-light.disabled,
.list_card .action_line .btn-group .btn-light:disabled{
    color: #b3b3b3;
}
.list_card .action_line .btn-group .fa-angle-right{
    margin-left:0.3rem;
    font-size: 0.9rem;
    vertical-align: text-bottom;
}
.list_card .card_info{
    white-space: nowrap;
    font-size: 12px;
    align-self: center;
}
.list_card .card_info .content_wrap{
    display: flex;
    margin-right: 1.5rem;
}
.list_card .card_info .content_wrap .icon-envelope ~ span{
    cursor: pointer;
}
.list_card .card_info .content_wrap i{
    align-self: center;
    margin-right: 0.3rem;
}
.list_card .question-pop .popup-content{
     display: none;
     z-index: 100;
     background-color: #fff;
     position: absolute;
     left:0;
     min-width: 320px;
}
.list_card .question-pop:hover .popup-content {
    display: block
}
.popup-content .tooltip_profile_detail td{
    font-size: 11px;
    text-align: center;
}
.popup-content .tooltip_profile_detail td.td-s{
    width: 50px;
}
.list_card.project .list_deco{
    color: #0088cc;
}
.list_card.contest .list_deco{
    color: #e36159;
}
.list_card .post-image .thumb-info-wrapper img{
    height: 187px;
}


/********************************  픽미업 카드  ********************************/
.pickmeup_card_sector{
    width: calc(100% - 55px);
    font-size: 11px;
    bottom: 0;
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #949494;
    float: right;
}
.pickMeUp .img_con{
	height: 160px;
	background-position: center;
	background-size: cover;
}
.pickMeUp span.badge-g-list {
	position: absolute;
    z-index: 10;
    top: -1px;
    left: 0px;
    right: 0;
    padding: 0 10px;
}
.pickMeUp span.badge-g-list .direct{
    background-color: #ff8400;
    color: #fff;
    font-size: 10px;
    border-radius: 0 0 50px 50px;
    display: inline-block;
    text-align: center;
    padding: 6px 4px;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.24);
}
.pickMeUp span.badge-g-list .master{
    background-color: #144089;
    color: #fff;
    font-size: 10px;
    border-radius: 0 0 50px 50px;
    display: inline-block;
    text-align: center;
    padding: 6px 4px;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.24);
}
.pickMeUp span.badge-g-list .creative{
    background-color: #612a90;
    color: #fff;
    font-size: 10px;
    border-radius: 0 0 50px 50px;
    display: inline-block;
    text-align: center;
    padding: 6px 5px;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.24);
}
.pickMeUp article .card-title{
    font-size: 13px;
    line-height: 17px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom:10px;
}
.pickmeup-profile-image img{
    width: 45px;
    height: 45px;
    border:2px solid #fff;
    border-radius: 50%;
    position: absolute;
    left:10px;
    bottom:30px;
    background-color: #efefef;
    z-index: 10;
}
.pickmeup_card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: all .15s ease-out;
    box-shadow: 0 5px 20px -5px rgba(50, 50, 93, 0.12), 0 3px 4px -2px rgba(0, 0, 0, 0.08);
}
.pickmeup_card:hover{
    box-shadow: 0 30px 75px -15px rgba(50, 50, 93, 0.3), 0 25px 40px -20px rgba(0, 0, 0, 0.1);
}
.pickmeup_card .image_wrap{
    z-index: 10;
}
.pickmeup_card .image_wrap .post-image:after {
    content: '';
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;
    opacity: 0.04;
}
.pickmeup_card .c_action_btn{
    display: flex;
}
.pickmeup_card .c_action_btn div{
    width: 100%;
    text-align: center;
    padding: 0.3rem;
    font-size: 12px;
}
.pickmeup_card .c_action_btn .c_propose_btn{
    color: #0088cc;
    border: 1px solid #0088cc;
    margin: 5px 5px 5px 5px;
}
.pickmeup_card .c_action_btn .c_propose_btn:hover{
    cursor: pointer;
    color: #fff;
    background-color: #0088cc;
    transition: background-color 0.5s;
}
.pickmeup_card .c_action_btn .c_direct_btn{
    color: #f1833b;
    border: 1px solid #f1833b;
    margin: 5px 5px 5px 0px;
}
.pickmeup_card .c_action_btn .c_direct_btn:hover{
    cursor: pointer;
    color: #fff;
    background-color: #f1833b;
    transition: background-color 0.5s;
}



/******************************** 반응형 ********************************/
@media(min-width: 1330px){

}
@media (min-width: 1200px) and (max-width: 1329px) { 
    .my_menu{
        border: 0;
    }
    .my_menu .card{
        padding: 0;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .my_menu{
        border: 0;
    }
    .my_menu .card{
        padding: 0;
    }
    /** 광고카드 **/
    .ad.card{
        padding: 0.5rem;
    }
    .ad.card .title .br{
        display: block;
    }
    .ad.card .card-des .br{
        display: none;
    }
    /** 입찰카드 **/
    .list_card .post-image .thumb-info-wrapper img{
        height: 147px;
    }
 }
@media (min-width: 768px) and (max-width: 991.98px) { 
    .my_menu{
        border: 0;
    }
    .my_menu .card{
        padding: 0;
    }
    /** 광고카드 **/
    .ad.card{
        padding: 0.5rem;
    }
    .ad.card .title .br{
        display: block;
    }
    .ad.card .card-des .br{
        display: none;
    }
    /** 프로젝트 카드 **/
    .project.card .card-tag {
        margin-bottom:0;
        height:37px;
    }
    .project.card .client-logo-img{
        margin: 1.5rem auto 0.5rem auto;
    }
    /** 컨테스트 카드 **/
    .contest.card .card-layout .contest-sector_01{
        margin-top: 1rem;
    }
    /** 입찰카드 **/
    .list_card{
        margin-bottom:4rem;
    }
    .list_card .card_title_date{
        display: block;
    }
    .list_card .card_title_date .title{
        max-width: 100%;
        text-align: center;
    }
    .list_card .card_title_date .date{
        margin:auto;
        text-align: center;
    }
    .list_card .post-image .thumb-info-wrapper img{
        height: 107px;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .my_menu{
        border: 0;
    }
    .my_menu .card{
        padding: 0;
    }
    /** 공통 **/
    .blog_text .text{
        line-height: 21px;
        -webkit-line-clamp: 7;
    }
    /** 광고 카드 **/
    .ad.card{
        min-height: 320px;
        padding: 0.5rem;
    }
    .ad.card .title{
        font-size: 17px;
        margin-top: 1rem;        
    }
    .ad.card .title .br{
        display: none;
    }
    .ad.card .card-des .br{
        display: block;
    }
    .ad.card img{
        margin-top: 0;
    }
    .ad.card .more{
        right: 1rem;
        bottom: 1rem;
    }
    /** 프로젝트 카드 **/
    .project.card .client-logo-img{
        width: 100%;
    }
    .project.card .card-des{
        height: 20px;
        -webkit-line-clamp: 1;
        margin:0;
    }
    .project.card .card-tag {
        margin-bottom:0;
    }
    .project.card .client-logo-img{
        margin: 2.5rem auto 0.5rem auto;
    }
    .project.card .card-tag{
        height:18px;
    }
    .project.card .card-layout{
        padding-top: 2rem;
    }
    /** 컨테스트 카드 **/
    .contest.card {
        min-height: 250px;
    }
    .contest.card .card-layout .trophy{
        top: 3rem;
    }
    .contest.card .card-layout .client-basic-info .contest_title{
        margin-top: 0;
    }
    .contest.card .card-layout .contest-sector_01{
        margin-top: 0;
        margin-bottom: 0;
    }
    .contest.card .card-layout .client-basic-info {
        padding: 0.2rem 1rem;
    }
    /** 입찰카드 **/
    .list.list-icons{
        margin-bottom:0;
    }
    .list_card{
        margin-bottom:4rem;
    }
    .list_card .post-image .thumb-info-wrapper img{
        height: 162px;
    }
    .list_card .project .card_title_date{
        display: block;
        margin:auto;
        width: 100%;
        text-align: center;
    }
    .list_card .card_title_date{
        display: block;
    }
    .list_card .card_title_date .title{
        max-width: 100%;
        text-align: center;
    }
    .list_card .card_title_date .date{
        margin:auto;
        text-align: center;
    }
    .list_card .cellbox{
        border-bottom:0;
    }
    .list_card .cellbox .cell{
        display: block;
        border-bottom: 1px solid #ddd;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        margin-right:0;
        margin-bottom:0;
    }
    .list_card .action_line{
        border-top: 0;
        margin-top:0.5rem;
    }
    .list_card .content_wrap{
        padding-bottom:0.5rem;
    }
}
@media (max-width: 575.98px) {
    .my_menu{
        border: 0;
    }
    .my_menu .card{
        padding: 0;
    }
    /** 블로그 카드 **/
    .blog_text .text{
        line-height: 21px;
        -webkit-line-clamp: 7;
    }
    /**  픽미업 카드 **/
    .pickMeUp .col-sm-4{
        width:33.3%!important;
        padding:0.3rem;
    }
    .pickMeUp .img_con{
        height: 200px;
        background-position: center;
        background-size: cover;
    }
    .pickMeUp article .card-title{
        margin-bottom:10px;
    }
    /** 광고 카드 **/
    .ad.card{
        min-height: 320px;
        padding: 0.5rem;
    }
    .ad.card .title{
        font-size: 17px;
        margin-top: 1rem;
    }
    .ad.card .title .br{
        display: none;
    }
    .ad.card .card-des .br{
        display: block;
    }
    .ad.card img{
        margin-top: 0;
    }
    .ad.card .more{
        right: 1rem;
        bottom: 1rem;
    }
    /**  프로젝트 카드 **/
    .project.card .client-logo-img{
        margin: 1.5rem auto 0.5rem auto;
        width: 100%;
    }
    .project.card .card-des{
        height: 20px;
        -webkit-line-clamp: 1;
        margin:0;
    }
    .project.card .card-tag {
        height:20px;
        margin-bottom:0;
    }
    .project.card .card-layout{
        padding-top: 2rem;
    }
    /**  컨테스트 카드 **/
    .contest.card{
        min-height: 250px;
    }
    .contest.card .card-layout .trophy{
        top: 3rem;
    }
    .contest.card .card-layout .client-basic-info .contest_title{
        margin-top: 5px;
    }
    .contest.card .card-layout .client-basic-info .box{
        min-height: 85px;
    }
    .contest.card .card-layout .contest-sector_01{
        margin-top: 0;
        margin-bottom: 0;
    }
    .contest.card .card-layout .client-basic-info {
        padding: 0.2rem 1rem;
    }
    /** 입찰 카드 **/
    .list_card{
        margin-bottom:4rem;
    }
    .list_card .post-image .thumb-info-wrapper img{
        height: 148.33px;
    }
    .list_card .card_title_date{
        display: block;
        margin-bottom:0;
    }
    .list_card .card_title_date .title{
        max-width: 100%;
        text-align: center;
    }
    .list_card .card_title_date .date{
        margin:auto;
        width: 100%;
        text-align: center;
    }
    .list_card .cellbox{
        display: block;
        border-bottom:0;
    }
    .list_card .cellbox .cell{
        display: block;
        border-bottom: 1px solid #ddd;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        margin-right:0;
        margin-bottom:0;
    }
    .list_card .action_line{
        border-top: 0;
        margin-top:0.5rem;
    }
    .list_card .action_line .btn-group{
        display: block;
    }
    .list_card .action_line .btn-group .btn{
        width: 100%;
        margin-bottom: -1px;
    }
    .list_card .content_wrap{
        margin-bottom:0.5rem;
    }
}
@media(max-width: 466.98px){
    .my_menu .card{
        padding: 0;
    }
    /** 프로젝트 카드 **/
    .project.card .client-logo-img{width: 100%;}
    .project.card .card-des{
        height: 20px;
        -webkit-line-clamp: 1;
        margin:0;
    }
    .project.card .card-tag {
        margin-bottom:0;
    }
    .project.card .client-logo-img{
        margin: 2rem auto 0.5rem auto;
    }
    .project.card .card-tag{
        height:20px;
    }
    /** 컨테스트 카드 **/
    .contest_sector .sector_name{
        max-width: 200px;
    }
    /** 픽미업 카드 **/
    .pickMeUp article .card-title{
        margin-bottom:10px;
    }
    .pickMeUp article .card-title{
        font-size: 13px;
        line-height: 17px;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 10px;
    }
    /** 입찰 카드 **/
    .list.list-icons{
        margin-bottom:0;
    }
    .list_card .post-image .thumb-info-wrapper img{
        height: 123.66px;
    }
}
@media(max-width: 375px){
    .my_menu .card{
        padding: 0;
    }
    /** 광고 카드 **/
    .ad.card img{
        margin-top: 0;
    }
    /** 컨테스트 카드 **/
    .contest.card{
        min-height: 250px;
    }
    .contest_sector .sector_name{
        max-width: 190px!important;
    }
    /** 입찰카드 **/
    .list_card .post-image .thumb-info-wrapper img{
        height: 107px;
    }
}
@media (max-width: 320px) {
    .my_menu .card{
        padding: 0;
    }
    /** 입찰카드 **/
    .list_card .post-image .thumb-info-wrapper img{
        height: 78.6px;
    }
}
