<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/popup">

<th:block layout:fragment="content">	

<!-- Javascript functions	-->
<script type="text/javascript">
    var PER_PAGE_NUM = 5;
	document.addEventListener("DOMContentLoaded", function(){
	    $('#listBody').empty();
	    $('#pagination').empty();
	    
	    getListCategoryData();
	    
		/*<![CDATA[*/
		var contentType = "[[${condition.contentType}]]";
		var active = "[[${condition.active}]]";
		var status = "[[${condition.status}]]";
		var category1 = "[[${condition.category1}]]";
		var category2 = "[[${condition.category2}]]";
		var vendor = "[[${condition.vendor}]]";
		
		var page = "[[${condition.page}]]";
		// var perPageNum = "[[${condition.perPageNum}]]";
		var perPageNum = PER_PAGE_NUM;
	    //console.log(page + " : " + perPageNum);
	    
		/*]]>*/
		
		
		$('#contentType').val(contentType);
		$('#active').val(active);
		$('#status').val(status);
		
		$('#category1').val(category1);
		$('#category2').val(category2);
		$('#vendor').val(vendor);
		
		search(page, perPageNum);
		
		
	});    
	
	function goDetail(contentId){
		// location.href="/w1/product/detail/"+contentId;
	}
	
	function search(page, perPageNum){
		var contentType = $('#contentType').val();
		var active = $('#active').val();
		var status = $('#status').val();
		
		var category1 = $('#category1').val();
		var category2 = $('#category2').val();
		
		var vendor = $('#vendor').val();
		
		var param = {};
	    param.contentType = contentType;
	    param.active = active;
	    param.status = status;
	    
	    param.category1 = category1;
	    param.category2 = category2;
	    param.vendor = vendor;
	    
	    if(page == null) page = 1; 
		if(perPageNum == null) perPageNum = PER_PAGE_NUM;
		
	    param.page = page;
	    param.perPageNum = perPageNum;
	    	    
	    param = JSON.stringify(param);
		
	    $('#listBody').empty();
	    $('#pagination').empty();
	    
		$.ajax({
	        url : "/w1/product/list",
	        data : param,
	        type : 'post',
	        contentType:"application/json; charset=UTF-8",
	        dataType:"json",
	        success : function(data){
	            var results = data.list;
	            var rows = "";
	            $.each(results, function(index, item) {
	            	
	            	rows = rows + getRow(item.content, item.count);
	            	
					//console.log(item.content.seq);
					//console.log(item.count.viewCnt);
				});	            
	            	            
	            $('#listBody').append(rows);
	            
	            var paging = getPageDiv(data.paging);	            
	            $('#pagination').append(paging);
	            
	            //console.log(results); 
	            //console.log(data.paging);
	        },
	        error : function(e){
	        	console.log(e);
	        }
	    });
		
	}
	
	function getRow(content, count){
		var row = "\n";
		row = row + "<tr class='even pointer'>                                     ";   
        row = row + "  <td class='a-center '>                                      ";
        row = row + "    <input type='checkbox' class='flat' name='table_records' value='" + content.contentId + "'> ";
        row = row + "  </td>                                                       ";
        row = row + "  <td class=''><a href='#' onClick='goDetail(\"" + content.contentId + "\")'>"+ content.seq + "</a></td>         ";
        
        row = row + "<td class='' style='vertical-align: middle;'><img src='" + content.mainUrl + "' class='img-responsive img-rounded' style='width:70px;height:75px;'></td>";
        
        row = row + "  <td class=''>"+ content.vendor + "</td>                         ";
        row = row + "  <td class=''>"+ content.title + "</td>                                        ";
        row = row + "  <td class=''>"+ content.viewTypeName + "</td>                                     ";
        row = row + "  <td class=''>"+ content.activeName + "</td>                                     ";
        row = row + "  <td class=''>"+ content.category1Name + "</td>                                      ";
        row = row + "  <td class=''>"+ content.category2Name + "</td>                                        ";
        row = row + "  <td class=''>"+ count.viewCnt + "</td>                                        ";
        row = row + "  <td class=''>"+ count.likeCnt + "</td>                                         ";        
        row = row + "  <td class=''>"+ content.avgReviewGrade + "</td>                                         ";
        row = row + "  </td>                                                       ";
        row = row + "</tr>                                                         ";
		
		return row;
	}
	
	function getPageDiv(paging){
	
	  var pageDiv = "";
	  if(paging == null) return;
	  
	  var previosPage = paging.startPage - 1;
	  var perPage = paging.displayPageNum;
	  var nextPage = paging.endPage + 1;
	  var startPage = paging.startPage;
	  var endPage = paging.endPage;
	  var currPage = paging.page;	  
		  
   	  pageDiv = pageDiv + "<div class='row'>                                                ";
      pageDiv = pageDiv + "  <div class='btn-group' role='group'>                           ";
      
      if(paging.prev){    	  
      	pageDiv = pageDiv + "    <button type='button' class='btn btn-secondary' onClick='search(" + previosPage + ", " + perPage + ")'>이전</button>  ";
      }else{
      	pageDiv = pageDiv + "    <button type='button' class='btn btn-secondary' disabled>이전</button>  ";
      }
      
      for( i = startPage ; i <= endPage ; i++ ){
    	  if(currPage == i){
    		 pageDiv = pageDiv + "<button type='button' class='btn btn-secondary' disabled>" + i + "</button>";    		  
    	  }else{    		  
    	  	pageDiv = pageDiv + "<button type='button' class='btn btn-secondary' onClick='search(" + i + ", " + perPage + ")'>" + i + "</button>   ";
    	  }
    	  
      }
      
      if(paging.next){    	  
       	pageDiv = pageDiv + "    <button type='button' class='btn btn-secondary' onClick='search(" + nextPage + ", " + perPage + ")'>다음</button>  ";
       }else{
       	pageDiv = pageDiv + "    <button type='button' class='btn btn-secondary' disabled>다음</button>  ";
       }
      
      
      pageDiv = pageDiv + "  </div>                                                         ";
      pageDiv = pageDiv + "</div>                                                           ";
      
      return pageDiv;
	}
	
	function selectData(){
		var procType = window.opener.document.getElementById("peerProductProcType").value;
		
		if(procType == null){
			return;
		}
		
		
		var result = new Array();
		
		$('input[type="checkbox"][name="table_records"]').each(function() {
            if ($(this).is(':checked')) {
                var val = $(this).val();
                result.push(val);                
            }
        });

		if(procType == "M"){ // 수정일 경우는 1건만 선택 가능함. 
			if(result.length > 1){
				alert("수정일 경우, 한건만 선택가능합니다.");
				return;
			}
		}
		
		
	 	window.opener.getProductListPoupReturn(JSON.stringify(result));
 		window.close();		
	}
	

</script>

 <div class="x_content"> 
   
   <input type="hidden" id="contentType"  />
   
   <div class="row">
	<label class="control-label col-md-1 col-sm-1 ">타입</label>
	<div class="col-md-4 col-sm-4 ">
	    <select required class="form-control" id="category1">
			<option value="">대분류</option>										
		</select>									
	</div>								
	
	<label class="control-label col-md-1 col-sm-1 ">중분류</label>
	<div class="col-md-4 col-sm-4 ">
	    <select required class="form-control" id="category2">
			<option value="">중분류</option>										
		</select>									
	</div>								
  </div>
  
  
  <div class="row">
	<label class="control-label col-md-1 col-sm-1 ">벤더명</label>
	<div class="col-md-4 col-sm-4 ">
		<input type="text" class="form-control" placeholder="벤더명" id="vendor"  /> 
	</div>
	<label class="control-label col-md-1 col-sm-1 ">활성화</label>
	<div class="col-md-4 col-sm-4 ">
		<select required class="form-control" name="active" id="active">
			<option value="">선택하세요</option>
			<option value="9999">Active</option>  
			<option value="0000">Passive</option>			
		</select>
	</div>
	<div class="col-md-2 col-sm-2 center">
		<button type="button" class="btn btn-round btn-primary" onClick="search()">조회</button>
	</div>
	
  </div>  
  
  
  <p><h5></h5></p>
  <span class="section" style="text-align: right;padding-right: 10px;"></span>
    
  <div class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
      <thead>
        <tr class="headings">
          <th>
            <input type="checkbox" id="check-all" class="flat">
          </th>
         
          <th class="column-title">순번 </th>
          <th class="column-title">대표이미지</th>  
          <th class="column-title">벤더</th>
          <th class="column-title">제품명</th>
          <th class="column-title">공개유형</th>
          <th class="column-title">활성화</th>
          <th class="column-title">대분류</th>          
          <th class="column-title">중분류</th>
          <th class="column-title">조회</th>
          <th class="column-title">Like</th>
          <th class="column-title">평점</th> 
          <th class="bulk-actions" colspan="11">
            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
          </th>
        </tr>
      </thead>

          <tbody id="listBody">
            
          </tbody>
        </table>
      </div>
      
      <div class="col-md-2 col-sm-2" style="display: flex;justify-content: center;">
      
      </div>
      <div class="col-md-8 col-sm-8" id="pagination" style="display: flex;justify-content: center;">
		   <div class="row">
             <div class="btn-group" role="group">
               <button type="button" class="btn btn-secondary">이전</button>
               
               <button type="button" class="btn btn-secondary">1</button>
               <button type="button" class="btn btn-secondary">2</button>
               <button type="button" class="btn btn-secondary">3</button>
               
               <button type="button" class="btn btn-secondary">다음</button>
             </div>
           </div>
      </div>
      
      <div class="col-md-2 col-sm-2" style="display: flex;justify-content: right;">
      	<button type="button" class="btn btn-round btn-success" onClick="selectData()">선택</button>
      </div>     
      
    </div>
  </div>
</div>

      
</th:block>
</html>