@import url('https://fonts.googleapis.com/css?family=Raleway:700');
.custom-control-label::before {
	top: 0.15rem;
}
.custom-control-label::after {
	top: 0.15rem;
}
#c_join.contents{
	width: 100%;
	max-width: 450px;
	margin: auto;
	margin-top: 5rem;
	margin-bottom: 5rem;
}
.top_area {
	text-align: center;
	margin-bottom: 3rem;
}
.top_area img{
	width: 155px;
}
.top_area .title {
	font-size:45px;
	color:#b2b2b2;
	text-transform:uppercase;
	font-family:'Raleway', sans-serif;
}
.top_area .title span {
	color:#0088cc;
	font-family:'Raleway', sans-serif;
}

.middle_area{
	margin-bottom: 3rem;
}
.middle_area .clause_check{
	display: flex;
	justify-content: space-between;
	margin-bottom: 4rem;
}
.middle_area .clause_check .link_text{
	white-space: nowrap;
}
.middle_area .clause_check .link_text a{
	font-size: 13px;
	color: #666;
	margin-right: 0.5rem;
	text-decoration: underline!important;
	white-space: nowrap;
}
.middle_area .clause_check .link_text a:hover{
	color: #333;
}
.middle_area .clause_check .custom-checkbox{
	
}
.middle_area .input {
	
}
.middle_area .input .box input{
	width: 100%;
	font-size: 15px;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #ddd;
	margin-bottom: 0.5rem;
	padding: 0.7rem;
}
.middle_area .input .box input:focus{
	box-shadow: none;
	border-bottom: 1px solid #0088cc;
}
.middle_area .input .box .b_notice{
	display: none;
	padding: 5px 0.7rem;
    background-color: #f7f7f7;
}

.bottom_area{
	margin-bottom: 4rem;
}
.bottom_area .btn_sns{
	display: flex;
	justify-content: space-between;
	margin-bottom: 3rem;
}
.bottom_area .btn_sns .text{
	align-self: center;
	color: #666;
}
.bottom_area .btn_sns .sns_icon{
	opacity: 0.5;
}
.bottom_area .btn_sns .sns_icon a {
    margin-left: 0.5rem;
}
.bottom_area .btn_join .btn{
	display: block;
	width: 100%;
	max-width: 200px;
	margin: auto;
	font-size: 15px;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	#c_join.contents{
		margin-top: 3rem;
		margin-bottom: 3rem;
	}
	#c_join .title {
	    line-height: 50px;
	}
	.middle_area{
		margin-bottom: 1rem;
	}
	.middle_area .other_action{
		margin-bottom: 2rem;
	}
	.middle_area .noti{
		max-width: 350px;
		margin-bottom: 3rem;
	}
	.middle_area .noti .text{
		font-size: 13px;
	}
	.bottom_area .btn_join .btn{
		max-width: none;
	}
	.bottom_area .clause_check .link_text a{
		font-size: 12px;
	}
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 	
	
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
	
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
	
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	
}
