<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 				layout:decorator="layout/layout">
<head>
	<!-- start of summernote -->
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
	<link href="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
	<script src="//cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
	<!-- end of summernote -->

	<!-- 로컬적용 css -->
	<link rel="stylesheet" href="/static/css/client/posting/project/view.css">
</head>

	<div layout:fragment="content">

		<!-- 페이지헤더 -->
		<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md mb-0">
			<div class="container">
				<div class="row">
					<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
						<h1 class="text-dark">
							<strong>프로젝트 포스팅</strong>
						</h1>
					</div>
					<div class="col-md-4 order-1 order-md-2 align-self-center mb-2 mb-md-0">

					</div>
				</div>
			</div>
		</section>
	    <!-- 페이지헤더// -->

	    <!-- 탭메뉴 -->
		<section class="tabs tabs-bottom tabs-center tabs-simple" style="border-bottom: 3px solid #eee;background-color: #f7f7f7">
			<div class="container" style="margin-bottom: -3px;">
				<ul class="nav nav-tabs justify-content-start mb-0">
					<li class="nav-item mb-0 active">
						<a th:href="@{/client/posting/project}" class="nav-link active">
							<span>프로젝트포스팅</span>
						</a>
					</li>
					<li class="nav-item mb-0">
						<a th:href="@{/client/posting/contest}" class="nav-link disabled">
							<span>컨테스트포스팅</span>
						</a>
					</li>
				</ul>
			</div>
		</section>
		<!-- 탭메뉴// -->

		<section>
			<div class="project-container">
				<div class="row">
					<div class="col-lg-1 col-xl-2">
					</div>
					<div class="col-lg-10 col-xl-8">
						<section class="card form-wizard" id="w4">
							<header class="card-header">
								<div class="wizard-progress wizard-progress-lg">
									<div class="steps-progress">
										<div class="progress-indicator"></div>
									</div>
									<ul class="nav wizard-steps">
										<li class="nav-item active">
											<a class="nav-link" href="#w4-one" data-toggle="tab"><span>1</span>프로젝트 기본사항</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#w4-two" data-toggle="tab"><span>2</span>프로젝트 개요</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#w4-three" data-toggle="tab"><span>3</span>프로젝트 상세1</a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="#w4-four" data-toggle="tab"><span>4</span>프로젝트 상세2</a>
										</li>
									</ul>
								</div>
							</header>
							<div class="">
								<form name="fproject" id="fproject" action="/projects/temp" method="post" enctype="multipart/form-data" class="form-horizontal p-0 p-lg-3" novalidate="novalidate">
									<input type="hidden" name="modifyMode" th:value="${item!=null}"/>
									<input type="hidden" th:if="${item != null}" name="projectId" th:value="${item?.id}"/>
									<input type="hidden" name="postType"/>
									<div class="tab-content pt-5">
										<div id="w4-one" class="tab-pane active">
											<ul class="col-sm-9 mx-auto list list-icons">
												<li>
													<i class="fas fa-angle-right"></i>
													<div class="form-row">
														<div class="form-group col">
															<div class="">
																<label class="font-weight-bold text-dark" for="projectName">프로젝트명을 입력해주세요</label>
																<span class="required"> *</span>
																<input type="text" class="form-control" name="name" th:value="${item?.title}" id="projectName" placeholder="프로젝트 명" maxlength="255" required>
															</div>
															<div class="">
																<div class="help-block">
																예1) 중국어 제안서(200장) 번역<br/>
																예2) 워드프레스 활용 홈페이지 제작<br/>
																예3) UI/UX 디자인 2개월 프로젝트
																</div>
															</div>
														</div>
													</div>
												</li>
												<li>
													<i class="fas fa-angle-right"></i>
													<div class="form-row">
														<div class="form-group col">
															<div class="">
																<label class="font-weight-bold text-dark">로고를 업로드하시거나 샘플이미지를 선택해주세요.<span class="required"> *</span></label>
																<div class="form-row">
																	<div class="image_container col-lg-5 my-4 text-center">
																		<img class="p-2" id="logo-img" th:src="${user.logoImageUrl}" style=";max-width: 250px;max-height: 250px;">
																		<span class="filebox preview-image">
																			<input type="file" id="logoImageFile" name="logoImageFile" class="upload_hidden">
																			<input type="hidden" id="uploadedLogoImageFile" name="uploadedLogoImageFile" th:value="${user.logoImageUrl}">
																			<input type="hidden" id="modifiedLogoImage" name="modifiedLogoImage" />
																		</span>
																	</div>
																	<div class="file_container p-0 col-lg-7 align-self-center">
																		<div class="d-block d-md-flex">
																			<button type="button" class="btn btn-primary rounded-0 w-100 mb-2 mb-md-0 ml-0 ml-md-1" id="btn-upload-logo-image">이미지업로드</button>
																			<button type="button" class="btn btn-light rounded-0 w-100" data-toggle="modal" data-target="#sampleLogoModal">샘플이미지</button>
																		</div>
																	</div>
																</div>
															</div>
														</div>	
													</div>
												</li>
												<li>
													<i class="fas fa-angle-right"></i>
													<div class="form-row">
														<div class="form-group col">
															<div class="">
																<label class="font-weight-bold text-dark mb-0" for="projectName">프로젝트의 섹터와 키워드를 입력해주세요(중요)</label><span class="required"> *</span>
																<div class="help-block">
																	인기 또는 참고키워드를 선택하세요.<br/>
																	<mark>최대한 많은 키워드를 선택하시면 더 많은 입찰을 받을 수 있습니다.</mark>
																</div>
																<button id="btnShowMySector" type="button" class="w-100 btn-primary btn-lg text-4 rounded-0 add_keyword mt-3" data-toggle="modal"
																 data-target="#key_add_pop">
																	<img src="/static/images/mypage_form_keyword.png" alt="list_icon">
																	프로젝트의 섹터와 키워드를 선택해주세요
																</button>
																<div class="selected-keywords-container" style="margin-top: 15px;">
																	<th:block th:each="mapItem: ${categoryMap}">
																		<div class="tag_list">
																			<div th:text="${mapItem.key.name}"></div>
																			<div class="tag_sub_list">
																				<span th:each="childSector: ${mapItem.value}" class="badge badge-pill keyword_badge">
																				<span class='tag_word' th:text="${childSector.name}"></span>
																				<span class='tag_del del_selected_tag ml-2' th:data-keyword="${childSector.name}"
																			  		th:data-category-name="${childSector.parentCategory.name}"
																			  		th:data-category-id="${childSector.parentCategory.id}">X</span>
																				</span>
																			</div>
																		</div>
																	</th:block>
																</div>
															</div>
														</div>
													</div>
												</li>
											</ul>
										</div>
										<div id="w4-two" class="tab-pane">
											<ul class="col-sm-9  mx-auto list list-icons">
												<li>
													<i class="fas fa-angle-right"></i>
													<div class="form-row">
														<div class="form-group col">
															<div class="">
																<label class="font-weight-bold text-dark" for="moreInfo">귀하의 프로젝트에 대해 자세히 설명해주세요.</label><span class="required"> *</span>
																<div class="help-block pt-0"> 상세히 기재하셔야 정확한 견적을 보실 수 있어요! :)</div>
																<textarea class="form-control" id="moreInfo" rows="10" name="description" th:text="${item?.description}" required=""></textarea>
																<div class="text_cnt"><span id="textCnt">0</span>/1,000자</div>
															</div>
															<div class="">
																<div class="help-block">
																	<span class="font-weight-bold">1. 서비스 개요</span><br/>
																	시간제 근로자(아르바이트 또는 투잡)를 타깃으로 한 아르바이트 일정과 급여 관리 어플리케이션을 서비스하려고 합니다.<br/>
																	<br/>
																	<span class="font-weight-bold">2. 구체적인 작업 내용 설명</span><br/>
																	(1) 서비스 광고 이미지 제작<br/>
																	- 구글 애즈 규격에 맞춘 광고 이미지<br/>
																	1) 직사각형 광고 <span style="font-weight: bold;color: red">이미지 10컷</span>(1200*628)<br/>
																	2) 정사각형 광고 <span style="font-weight: bold;color: red">이미지 5컷</span>(250*250)<br/>
																	** 현재 준비 상황 : 광고 이미지에 포함될 문구, 컨셉, 참고자료<br/>
																	<br/>
																	(2) 모바일웹 상세페이지 디자인(UI/UX)<br/>
																	- 전체 <span style="font-weight: bold;color: red">30페이지~35페이지</span> 내외<br/>
																	** 현재 준비 상황 : 기획안은 준비되어 있으나 퍼블리싱 인력은 따로 없어 별도 채용해야 하는 상황입니다. 따라서 퍼블리싱(코딩)이 가능하시다면 우대해드립니다.<br/>
																	<br/>
																	<span class="font-weight-bold">3. 참고 사항</span><br/>
																	(1) 작업장소와 프로젝트 가격에 대해 협의 가능합니다.<br/>
																	(2) 시작~수정완료까지 약 2개월 정도로 추정되나, 기간에 대한 협의 또는 제안이 필요하신 분께서는 댓글로 메시지를 남겨주시면 감사하겠습니다.<br/>
																	(3) 원활한 소통이 가능하신 분이면 좋겠습니다.<br/>
																</div>
															</div>
														</div>
													</div>
												</li>
												<li>
													<i class="fas fa-angle-right"></i>
													<div class="form-row">
														<div class="form-group col">
															<div class="">
																<label class="font-weight-bold text-dark" for="attachedFile">귀하의 프로젝트를 자세히 설명할 수 있는 파일을 첨부해 주십시오.(선택)</label>
																<div>
																	<span class="file_con real-file-input" th:style="|display: ${item == null OR item?.projectDescriptionFileUrl == null?'inline':'none'}|">
																		<input type="file" class="form-control-file w-50 d-inline-block" name="projectDescriptionFile" id="attachedFile">
																	</span>
																	<span th:if="${item?.projectDescriptionFileUrl != null}" class="file_con mr-5 fake-file-input">
																		<button type="button" class="btn" id="fake-file-btn" style="background-color: lightgray;border: 1px solid;">파일선택</button>
																		<span class="form-control-file w-50 d-inline-block" th:text="${item?.projectDescriptionFileName}"></span>
																	</span>
																	<span class="btn btn-info rounded-0" id="attachedFileCancelUpload" th:style="|display: ${item?.projectDescriptionFileUrl != null?'inline-block':'none'}|">파일취소
																	</span>
																</div>
															</div>
														</div>
													</div>
												</li>
											</ul>
										</div>
										<div id="w4-three" class="tab-pane">
											<ul class="col-sm-9 mx-auto list list-icons">

												<li>
													<i class="fas fa-angle-right"></i>
													<div class="form-row">
														<div class="form-group col">
															<div class="">
																<label class="font-weight-bold text-dark" for="numberOfPersons">몇 명을 채용하실 계획이신가요?</label><span class="required"> *</span>
																<select class="custom-select" name="numberOfPersons" id="numberOfPersons" required>
																	<option value="1" th:selected="${item?.numberOfPersons == 1}"> 1명 </option>
																	<option value="2" th:selected="${item?.numberOfPersons == 2}"> 2명 </option>
																	<option value="3" th:selected="${item?.numberOfPersons == 3}"> 3명 </option>
																	<option value="4" th:selected="${item?.numberOfPersons == 4}"> 4명 </option>
																	<option value="5" th:selected="${item?.numberOfPersons == 5}"> 5명 </option>
																	<option value="6" th:selected="${item?.numberOfPersons == 6}"> 0명 </option>
																	<option value="7" th:selected="${item?.numberOfPersons == 7}"> 00명 </option>
																</select>
															</div>
														</div>
													</div>
												</li>
												<li>
													<i class="fas fa-angle-right"></i>
													<div class="form-row">
														<div class="form-group col">
															<div class="">
																<label class="font-weight-bold text-dark" for="expectedPeriod">예상 프로젝트 기간</label><span class="required"> *</span>
																<select class="custom-select" name="expectedPeriod" id="expectedPeriod" required="">
																	<option value="">-- 선택 --</option>
																	<option th:each="period : ${T(com.freelancerk.domain.Project.ExpectedPeriod).values()}"
																			th:value="${period.name()}"
																			th:text="${period.name}"
																			th:selected="${period.name() == item?.expectedPeriod?.name()}">
																	</option>
																</select>
																<div class="expectedPeriodInputContainer mt-3">
																	<input class="form-control"name="expectedPeriodInput" id="wr_2" min="6" max="24" value="6" type="number" required="" th:value="${item?.expectedPeriodEtc}"><span> 개월 이상</span>
																</div>
															</div>
														</div>
													</div>
												</li>
												<li>
													<i class="fas fa-angle-right"></i>
													<div class="form-row">
														<div class="form-group col mb-0">
															<div class="">
																<label class="font-weight-bold text-dark" for="payMean">대금지급방식</label><span class="required"> *</span>
																<select class="custom-select" name="payMean" id="payMean" required>
																	<option th:each="payMean : ${T(com.freelancerk.domain.Project.PayMean).values()}"
																			th:value="${payMean.name()}"
																			th:text="${payMean.name}" th:selected="${payMean.name() == item?.payMean?.name()}">
																	</option>
																</select>
																<div class="help-block">‘프로젝트단위 계약제’는 ‘계약금/잔금’ 또는 ‘완성도에따른지급’ 등의 상호계약에 의한 지급방식으로, 가장 일반적인 지급방식이며, 나머지 방식은 아르바이트 형식의 구인(지급)으로 이해하시면 됩니다.</div>
															</div>
														</div>
													</div>
												</li>
												<li class="pay-criteria-container" style="display: none">
													<i class="fas fa-angle-right"></i>
													<div class="form-row">
														<div class="form-group col">
															<div class="">
																<label class="font-weight-bold text-dark" for="payCriteria">대금지급기준</label><span class="required"> *</span>
																<select class="custom-select" name="payCriteria" id="payCriteria" required>
																	<option th:each="payCriteria : ${T(com.freelancerk.domain.Project.PayCriteria).values()}"
																			th:value="${payCriteria.name()}"
																			th:text="${payCriteria.name}"
																			th:selected="${payCriteria.name == item?.payCriteria}">
																	</option>
																</select>
															</div>
														</div>
													</div>
												</li>
												<li class="mb-0">
													<i class="fas fa-angle-right"></i>
													<div class="form-row budget-container">
														<div class="form-group col mb-0">
															<div class="">
																<label class="font-weight-bold text-dark" for="budgetType">입찰기준가격</label><span class="required"> *</span>
																<div class="">
																	<label class="radio_container mr-3" style="white-space: nowrap;">
																		<input type="radio" name="budgetType" id="budgetTypeInput" checked="checked" value="input">
																		<span class="radiomark"></span>
																			직접입력
																	</label>
																	<label class="radio_container" style="white-space: nowrap;">
																		<input type="radio" name="budgetType" value="dontknow" id="budgetType">
																		<span class="radiomark"></span>
																			제안해주세요(잘모르겠음)
																	</label>
																	<!-- <div class="form-group">
						                                                <input type="text" class="form-control prize" placeholder="금액을 입력하세요."onkeyup="numberWithCommas(this);" onchange="numberWithCommas(this);">원
						                                            </div> -->
																</div>
															</div>
														</div>
													</div>
												</li>
												<li>
													<!-- <i class="fas fa-angle-right"></i> -->
													<div class="form-row">
														<div class="form-group col">
															<div class="budget-incentive-container" style="display: none">
																<div class="budgetIncentiveInputContainer">
																	<div class="form-row">
																		<div class="form-group col-lg-6 mb-0">
																			<label class="font-weight-bold text-dark" for="defaultMoney">기본급</label><span class="required"> *</span>
																			<div class="input-group mb-3">
																				<span class="mr-1 mt-2">월</span>
																				<div class="">
																					<input class="form-control tr" type="number" id="defaultMoney" th:value="${item?.defaultMoney}" name="defaultMoney" style="margin-bottom: 0px;" onkeyup="numberWithCommas(this);" onchange="numberWithCommas(this);" required />
																				</div>
																				<div class="ml-1 mt-2">만원</div>
																			</div>
																		</div>
																		<div class="form-group col-lg-6 mb-0">
																			<label class="font-weight-bold text-dark" >성과급</label>
																			<div class="form-row incentive">
																				<div class="col-5 d-flex">
																					<div class="input-group col mb-0 p-0">
																						<div class="col p-0">
																							<input class="form-control tr" maxlength="6" step="any" type="number" th:value="${item?.incentiveFrom}" name="incentiveFrom" placeholder="" style="margin-bottom: 0px;" />
																						</div>
																						<span class="align-self-start ml-1 mt-2">%</span>
																					</div>
																				</div>
																				<span class="align-self-center mx-1">~</span>
																				<div class="col-5 d-flex">
																					<div class="input-group col mb-0 p-0">
																						<div class="col p-0">
																							<input class="form-control tr" maxlength="6" step="any" type="number" th:value="${item?.incentiveTo}" name="incentiveTo" placeholder="" style="margin-bottom: 0px;"/>
																						</div>
																						<span class="align-self-start ml-1 mt-2">%</span>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>

															<div class="budget-general-container">
																<div class="form-row">
																	<div class="col-5 col-lg-3 d-flex">
																		<div class="input-group col mb-0 p-0">
																			<div class="col p-0">
																				<input name="budgetFrom" class="form-control tr" th:value="${item?.budgetFrom}" type="text" maxlength="8" onkeyup="numberWithCommas(this);" onchange="numberWithCommas(this);">
																			</div>
																			<span class="ml-1 budgetUnit">만원</span>
																		</div>
																	</div>
																	<span class="mr-2 align-self-center">~</span>
																	<div class="col-5 col-lg-3 d-flex">
																		<div class="input-group col mb-0 p-0">
																			<div class="col p-0">
																				<input name="budgetTo" class="form-control tr" th:value="${item?.budgetTo}" maxlength="8" type="text" onkeyup="numberWithCommas(this);" onchange="numberWithCommas(this);">
																			</div>
																			<span class="ml-1 budgetUnit">만원</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</li>
												<li>
													<i class="fas fa-angle-right"></i>
													<div class="form-row">
														<div class="form-group col">
															<div class="">
																<label class="font-weight-bold text-dark" for="workPlace">작업 장소</label><span class="required"> *</span>
																<select  class="form-control" name="workPlace" id="workPlace" required>
																	<option th:each="workPlace : ${T(com.freelancerk.domain.Project.WorkPlace).values()}"
																			th:value="${workPlace.name()}"
																			th:if="${workPlace.name() != 'NO_IDEA'}"
																			th:text="${workPlace.name}" th:selected="${workPlace.name() == item?.rawWorkPlace?.name()}">
																	</option>
																</select>
															</div>
														</div>
													</div>
												</li>
												<li class="meet-up-place-container">
													<i class="fas fa-angle-right"></i>
													<div class="form-row">
														<div class="form-group col">
															<div class="">
																<label class="font-weight-bold text-dark">작업 위치</label>
																<div class="form-row">
																	<div class="col-6 d-flex">
																		<div class="input-group col mb-3 pl-0">
																			<div class="col p-0">
																				<input type="text" class="form-control" th:value="${item?.workPlaceAddress1}" name="workPlaceAddress1" />
																			</div>
																			<span class="ml-1 align-self-center">(도,시)</span>
																		</div>
																	</div>
																	<div class="col-6 d-flex">
																		<div class="input-group col mb-3 pl-0">
																			<div class="col p-0">
																				<input type="text" class="form-control" th:value="${item?.workPlaceAddress2}" name="workPlaceAddress2" />
																			</div>
																			<span class="ml-1 align-self-center">(시,구,동)</span>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</li>
											</ul>
										</div>
										<div id="w4-four" class="tab-pane">
											<ul class="col-sm-9 mx-auto list list-icons">
												<li>
													<i class="fas fa-angle-right"></i>
													<div class="form-row">
														<div class="form-group col">
															<div class="">
																<label class="font-weight-bold text-dark" for="useEscrow">에스크로서비스를 이용하시겠습니까?</label><span class="required"> *</span>
																<div class="help-block">
																	에스크로서비스를 이용해보세요. 클라이언트에 부과되는 수수료는 없습니다.<br>
																	에스크로서비스 이용 여부가 프리랜서들에게 노출되어, 더 많은 입찰을 받아보실 수 있습니다.
																</div>

																<div class="form-group mb-0">
																	<div class="input-group">
																		<select class="custom-select" name="useEscrow" id="useEscrow" required>
																			<option value="true" th:selected="${item != null && item?.useEscrow}">네, 이용합니다.</option>
																			<option value="false" th:selected="${item != null && !item?.useEscrow}">아니오, 이용하지 않습니다.</option>
																		</select>
																		<div class="input-group-append">
																			<div type="btnWhatIsEscrow" class="input-group-text btn btn-primary" data-toggle="modal" data-target="#escrow_info">에스크로서비스란?</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</li>
												<li class="refund-info-container" style="display: none;">
													<i class="fas fa-angle-right"></i>
													<label>
														<span class="font-weight-bold text-dark">예치 후 환불에 필요한 계좌번호를 입력해주세요.</span><span class="mr-1">(나중에 입력하셔도 됩니다)</span>
													</label>
													<div class="form-row">
														<div class="form-group col">
															<div class="">
																<div class="from-inline">
																	<div class="form-group">
																		<lable class="col-form-label">은행명</lable>
																		<select class="custom-select" name="bankForReceivingPayment">
																			<option value="">선택해주세요</option>
																			<option th:each="bank: ${allBanks}" th:value="${bank.id}" th:text="${bank.name}"
																					th:selected="${bank.name == user.bankForReceivingPayment?.name}">
																			</option>
																		</select>
																	</div>
																	<div class="form-group">
																		<lable class="col-form-label">계좌번호</lable>
																		<input name="bankAccountForReceivingPayment" th:value="${user.bankAccountForReceivingPayment}" placeholder="계좌번호" type="text" class="form-control text-3"/>
																	</div>
																	<div class="form-group">
																		<lable class="col-form-label">예금주</lable>
																		<input name="bankAccountName" type="text" th:value="${user.bankAccountName}" placeholder="예금주" class="form-control text-3" />
																	</div>
																</div>
															</div>
														</div>
													</div>
												</li>
												<li>
													<i class="fas fa-angle-right"></i>
													<div class="form-row">
														<div class="form-group col">

								                            <div class="sub-search-date">
								                            	<label class="font-weight-bold text-dark" for="numberOfPersons">포스팅 기간을 정해주세요.</label>
								                            	<span class="required"> *</span>
								                            	<div class="row">
											                        <span class="col-5 col-lg-3">
											                            <input type="text" th:value="${item?.postingStartAt?.toLocalDate()}" id="postingStartAt" name="postingStartAt" disabled readonly class="form-control search_date text-3" required>
											                        </span>
											                        <span class="align-self-center">~</span>
											                        <span class="col-5 col-lg-3">
											                            <input type="text" th:value="${item?.postingEndAt?.toLocalDate()}" name="postingEndAt" id="postingEndAt" readonly class="form-control search_date text-3" required>
											                        </span>
										                        </div>
										                        <div class="help-block">포스팅 기간은 <strong>최대 2개월</strong> 까지 가능합니다</div>
										                        <div class="help-block">
																	포스팅한 프로젝트에 입찰자가 참여하면 등록된 이메일로 알림이 전송됩니다.<br/>
																	입찰자와신속한 커뮤니케이션을 원하시면 등록된 이메일을 본인의 휴대폰과 동기화해주세요.
																</div>
										                    </div>

														</div>
													</div>
												</li>
											</ul>	
										</div>
									</div>
								</form>
							</div>
							<div class="card-footer" style="height: 60px">
								<ul class="pager">
									<li class="previous disabled">
										<a><i class="fas fa-angle-left"></i> 이전</a>
									</li>
									<li class="next">
										<a>다음 <i class="fas fa-angle-right"></i></a>
									</li>
									<li th:if="${item==null || mode != 'MODIFY'}" class="finish hidden float-right">
										<a id="btn-post">저장후 다음단계로</a>
									</li>
									<li class="finish hidden float-right mr-2">
										<a th:if="${item==null || mode != 'MODIFY'}" id="btn-temp-save">임시저장</a>
										<a th:if="${item!=null && mode == 'MODIFY'}" id="btn-modify">수정완료</a>
									</li>
								</ul>
							</div>
						</section>
					</div>
					<div class="col-lg-1 col-xl-2">
					</div>
				</div>
			</div>
		</section>

		<!-- 에스크로서비스란 팝업 -->
		<div class="modal fade modal_wrap" id="escrow_info" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
		 aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document" style="max-width: 800px">
				<div class="modal-content">

					<!-- 팝업 헤더 -->
					<div class="head modal-header">
						<h5 class="modal-title" id="ModalLabel">에스크로서비스란</h5>
						<div class="">
							<a class="close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></a>
						</div>
					</div>
					<!-- 팝업 헤더// -->

					<!-- 팝업 컨텐츠 -->
					<div class="content modal-body">
						<table cellpadding="0" cellspacing="0" border="0">
							<tbody>
								<tr>
									<td>
										<img src="/static/images/c_escrow_guide.png" class="w-100">
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- 에스크로서비스란 팝업// -->

		<!-- 샘플이미지 선택 -->
		<div class="modal fade modal_wrap" id="sampleLogoModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
		 aria-hidden="true">
			<div class="modal-dialog modal-md" role="document">
				<div class="modal-content">

					<!-- 팝업 헤더 -->
					<div class="head modal-header">
						<h5 class="modal-title" id="ModalLabel">프로젝트 샘플 이미지 (클릭하면 적용)</h5>
						<div class="">
							<a class="close" data-dismiss="modal" aria-label="Close">
		                        <i class="fas fa-times fa-lg"></i>
		                    </a>
						</div>
					</div>
					<!-- 팝업 헤더// -->

					<!-- 팝업 컨텐츠 -->
					<div class="content modal-body text-center">
						<img src="/static/images/logo/project_logo_01.png" class="pms_c">
						<img src="/static/images/logo/project_logo_02.png" class="pms_c">
						<img src="/static/images/logo/project_logo_03.png" class="pms_c">
					</div>
				</div>
			</div>
		</div>
		<!-- 샘플이미지 선택// -->
		
		<!-- 키워드등록팝업 -->
		<div class="modal fade modal_wrap" id="key_add_pop" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
		 aria-hidden="true">

			<!-- 등록버튼 -->
			<div class="key_btn">
				<span class="btn btn-primary btn-lg w-100 key_add_btn" id="key_add_btn">키워드등록완료</span>
			</div>
			<!-- 등록버튼// -->

			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">

					<!-- 팝업헤더 -->
					<div class="head modal-header">
						<h5 class="modal-title" id="ModalLabel">키워드 등록</h5>
						<div class="">
							<a class="close" data-dismiss="modal" aria-label="Close">
								<i class="fas fa-times"></i>
							</a>
						</div>
					</div>
					<!-- 팝업헤더// -->

					<!-- 팝업컨텐츠 -->
					<div class="content bg-white">
						
						<!-- 공지 -->
						<ul class="pt-3 pt-md-0 px-3">
							<li>
								<i class="fas text-primary fa-exclamation-circle mr-1"></i>
								원하는 섹터를 제안해주세요. 적극적으로 피드백 해드리겠습니다. 
								<a href="/common/askForHelp">
									<button class="btn btn-primary rounded-0 btn-sm ml-2">제안하기</button>
								</a>
							</li>
							<li>
								<i class="fas text-primary fa-exclamation-circle mr-1"></i>
								인기키워드와 참고키워드를 먼저 검토하신 후, 본인의 키워드가 없는 경우 직접 입력해주세요.
							</li>
						</ul>
						<!-- 공지// -->

						<!-- 키워드 테이블 -->
						<div class="px-3">
							<div class="row sectorTable row" style="margin-bottom:80px;">
							</div>
						</div>
						<!-- 키워드 테이블// -->

					</div>
					<!-- 팝업컨텐츠// -->

				</div>
			</div>
		</div>
		<!-- 키워드등록팝업// -->
		
		<script th:inline="javascript">
			var modifyMode = [[${item!=null && mode == 'MODIFY'}]];
			var postingStartDate = [[${item?.postingStartDate}]];
			var postingEndDate = [[${item?.postingEndDate}]];

			var selectedKeywords = [];
			/*<![CDATA[*/
			/*[# th:each="mapItem : ${categoryMap}"]*/
			/*[# th:each="childSector : ${mapItem.value}"]*/
			var dic = {};
			var categoryId = /*[[${mapItem.key.id}]]*/;
			var categoryName = /*[[${mapItem.key.name}]]*/;
			var keyword = /*[[${childSector.name}]]*/;
			if (keyword && categoryId && categoryName) {
				dic['id'] = categoryId;
				dic['categoryName'] = categoryName;
				dic['keyword'] = keyword;

				selectedKeywords.push(JSON.stringify(dic));
			}
			console.log(selectedKeywords)
			/*[/]*/
			/*[/]*/

			/*]]>*/

		</script>

		<!-- 로컬 적용 script -->
		<script src="/static/lib/moment/moment.min.js"></script>
		<script src="/static/js/client/posting/project/view.js"></script>

		<!-- Specific Page Vendor -->
	    <script src="/static/vendor/jquery-validation/jquery.validate.js"></script>
	    <script src="/static/vendor/bootstrap-wizard/jquery.bootstrap.wizard.js"></script>
	    <script src="/static/vendor/pnotify/pnotify.custom.js"></script>

	    <script src="/static/js/client/posting/project/view-steps.js"></script>
	</div>
	

</html>
