<header  layout:fragment="header"
         xmlns:th="http://www.w3.org/1999/xhtml"
         xmlns:layout="http://www.springframework.org/schema/security"
         xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div id="header">
        <div class="header_logo">
            <a href="/">
                <img src="/static/images/login_logo.png">
            </a>
        </div>
        <div class="header_menu">
            <ul>
                <li><a href="/accessLogs"><i class="fas fa-cogs fa-2x"></i>방문기록 자세히보기</a></li>
                <li><a href="/env/"><i class="fas fa-cogs fa-2x"></i>환경설정</a></li>
                <li><a href="/audition/"><i class="fas fa-medal fa-2x"></i>오디션</a></li>
                <li><a href="/client/"><i class="fas fa-user-tie fa-2x"></i>클라이언트</a></li>
                <li><a href="/freelancer/"><i class="fas fa-users fa-2x"></i>프리랜서</a></li>
                <li><a href="/pickMeUp/"><i class="fas fa-images fa-2x"></i>포트폴리오</a></li>
                <li><a href="/contest/"><i class="fas fa-medal fa-2x"></i>컨테스트</a></li>
                <li><a href="/project/"><i class="fas fa-pen fa-2x"></i>프로젝트</a></li>
                <li><a href="/qna/"><i class="fas fa-question-circle fa-2x"></i>문의관리</a></li>
                <li><a href="/reference/"><i class="fas fa-server fa-2x"></i>자료실관리</a></li>
                <li><a href="/popup/"><i class="far fa-window-restore fa-2x"></i>팝업관리</a></li>
                <li><a href="/notice/"><i class="far fa-newspaper fa-2x"></i>게시물관리</a></li>
                <li><a href="/transaction/"><i class="fas fa-coins fa-2x"></i>입금/환불관리</a></li>
                <li><a href="/kpi/"><i class="fas fa-money-bill-alt fa-2x"></i>KPI/포인트관리</a></li>
                <li><a href="/paymentOption/"><i class="fas fa-funnel-dollar fa-2x"></i>결제옵션관리</a></li>
                <li><a href="/projectPayment/"><i class="fas fa-money-check-alt fa-2x"></i>프로젝트결제관리</a></li>
                <li><a href="/contestPayment/"><i class="fas fa-file-invoice-dollar fa-2x"></i>컨테스트결제관리</a></li>
                <li><a href="/statistics/"><i class="fas fa-chart-bar fa-2x"></i>접속자 집계</a></li>
                <li><a href=""><i class="fas fa-sign-out-alt fa-2x"></i>로그아웃</a></li>
            </ul>
        </div>
    </div>
</header><!-- header// -->