<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator=" layout/layout">
<head>
	<!-- 로컬적용 css -->
	<link rel="stylesheet" href="/static/css/env.css">
</head>

	
	<section id="content" layout:fragment="content">
		
		<!-- container-->
		<div id="container">
			<div id="container_side">
				<th:block th:include="fragments/envHeader"></th:block>
			</div>
			<div id="container_content">		
				<div class="container_inner">
					<form name="" id="" action="" method="post">
						<h1>■ 관리자 비밀번호</h1>
						
						<table class="boardform">
							<colgroup>
								<col width="150">
								<col width="">
							</colgroup>
							<tbody><tr>
								<th>비밀번호</th>
								<td><input type="password" name="" value=""></td>
							</tr>
						</tbody></table>

						<div class="Hspace"></div>

						<h1>■ 기본환경설정</h1>

						<table class="boardform">
							<colgroup>
								<col width="150">
								<col width="350">
								<col width="150">
								<col width="">
							</colgroup>
							<tbody><tr>
								<th>홈페이지명</th>
								<td><input type="text" name="" value=""></td>
								<th>홈페이지주소</th>
								<td><input type="text" name="" value=""></td>
							</tr>
							<tr>
								<th>관리자명</th>
								<td><input type="text" name="" value=""></td>
								<th>관리자이메일</th>
								<td><input type="text" name="" value=""></td>
							</tr>
							<tr>
								<th>회사명</th>
								<td><input type="text" name="" value=""></td>
								<th>회사주소</th>
								<td><input type="text" name="" value=""></td>
							</tr>
							<tr>
								<th>전화번호</th>
								<td><input type="text" name="" value=""></td>
								<th>팩스번호</th>
								<td><input type="text" name="" value=""></td>
							</tr>
							<tr>
								<th>대표자</th>
								<td><input type="text" name="" value=""></td>
								<th>사업자등록번호</th>
								<td><input type="text" name="" value=""></td>
							</tr>
							<tr>
								<th>개인정보책임자</th>
								<td><input type="text" name="" value=""></td>
								<th>통신판매번호</th>
								<td><input type="text" name="" value=""></td>
							</tr>
							<tr>
								<th>업종</th>
								<td><input type="text" name="" value=""></td>
								<th>업태</th>
								<td><input type="text" name="" value=""></td>
							</tr>

							<tr>
								<th>입금은행</th>
								<td><input type="text" name="" value=""></td>
								<th>예금주</th>
								<td><input type="text" name="" value=""></td>
							</tr>
							<tr>
								<th>계좌번호</th>
								<td colspan="3"><input type="text" name="" value=""></td>
							</tr>

							<tr>
								<th>지급청구알림</th>
								<td colspan="3">
									<input type="text" name="" value="" maxlength="255">
									<div>
										ex:) 010-0000-0000, 010-1111-1111
									</div>
								</td>
							</tr>

							<tr>
								<th>개인정보취급<br>방침</th>
								<td colspan="3"><textarea name="" rows="10" cols="100">제 1 조 (총칙)
				①
				개인정보란 생존하는 개인에 관한 정보로서 당해 정보에 포함되어 있는 성명, 주민등록번호 등의 사항에 의하여 당해 개인을 식별할 수 있는 정보(당해 정보만으로는 특정 개인을 식별할 수 없더라도 다른 정보와 용이하게 결합하여 식별할 수 있는 것을 포함합니다)를 말합니다.
				②
				주식회사 플랫폼위즈컴퍼니(“프리랜서코리아”는 주식회사 플랫폼위즈컴퍼니의 등록상표입니다. 그러므로 본 지침에서 지칭하는 “프리랜서코리아”는 (주)플랫폼위즈컴퍼니와 권리, 의무 관계를 같이 하는 동일체로 봐야합니다.)는 이용자의 개인정보 보호를 매우 중요시하며, 『정보통신망이용촉진및정보보호에관한법률』상의 개인정보보호 규정 및 정보통신부가 제정한 『개인정보 보호지침』을 준수하고 있습니다.
				③
				“프리랜서코리아”는 개인정보보호정책을 홈페이지에 공개함으로써 이용자가 언제나 용이하게 보실 수 있도록 조치하고 있습니다.
				제 2 조 (개인정보의 수집, 이용에 관한 사항)
				“프리랜서코리아”는 「개인정보보호법」에 따라 본 계약과 관련하여 이용자의 정보를 다음과 같이 수집·이용하고자 합니다.

				①
				개인정보의 수집, 이용 목적
				- 프리랜서코리아 서비스의 이용, 프리랜서코리아 서비스를 통해 작성한 서류의 다운로드, 휴대전화 문자메시지나 전자우편을 통한 서비스 진행상황 안내, 분쟁 대응, 사이트 이용질서 유지 등
				- 위임계약에 따른 이해관계인에 대한 법규 및 계약상 의무 이행
				- 금융거래 관련 업무(결제업무 관련 금융거래 신청, 이체 등)
				②
				수집. 이용할 개인정보의 내용
				- 개인식별정보 (성명, 주민등록번호, 사업자등록번호, 외국인등록번호, 주소, 성별, 전자우편주소, 소셜네트워크서비스(SNS)계정 또는 아이디, 이동전화번호, 은행명, 계좌번호 )
				- 자동 생성정보 (IP Address, 쿠키, 방문 일시, 서비스 이용 기록, 불량 이용 기록, 기기정보)
				③
				개인정보의 보유·이용 기간
				- 수집·이용 동의일로부터 계약상 목적달성 시점까지(단, 목적달성, 거래종료 후 5년이 경과한 후에는 민원처리, 법령상 의무이행을 위한 경우에 한하여 보유·이용하며 별도 보관함)
				제 3 조 (고유식별정보의 처리)
				프리랜서코리아는 서비스 계약 과정에서 이용자의 고유식별정보를 필수적으로 필요로 하는 경우, 「개인정보보호법」에 따라 개인정보에 대한 개별 동의사항에 대하여 다음과 같이 이용자의 고유식별정보(주민등록번호·외국인등록번호)를 처리(수집·이용, 조회, 제공)할 수 있습니다. 이 경우 프리랜서코리아는 이용자의 명시적인 고유식별정보 처리 동의를 받아야 합니다.

				제 4 조 (개인정보의 제공에 관한 사항)
				프리랜서코리아는 「개인정보보호법」에 따라 본 계약과 관련하여 이용자의 정보를 고지한 범위 내에서 사용하며, 동 범위를 초과하여 사용하거나 타인 또는 타 기업, 기관에 제공하지 않습니다. 다만 다음의 경우에는 개인정보를 처리할 수 있습니다.
				①
				정보주체가 사전에 제3자 제공 및 공개에 동의한 경우
				②
				법령 등에 의해 제공이 요구되는 경우
				③
				서비스의 제공에 관한 계약의 이행을 위하여 필요한 개인정보로서 경제적/기술적 사유로 통상의 동의를 받는 것이 현저히 곤란한 경우
				④
				개인을 식별하기에 특정할 수 없는 상태로 가공하여 이용하는 경우
				⑤
				용역, 재화 등의 거래에 따른 대금정산을 위하여 필요한 경우
				⑥
				통계작성, 학술연구 또는 시장조사를 위하여 필요한 경우로서 특정 개인을 식별할 수 없는 형태로 제공하는 경우
				제 5 조 (개인정보의 수집, 이용, 제공에 대한 동의 철회)
				①
				개인정보의 수집, 이용, 제공에 대해 이용자가 동의하신 내용을 이용자는 언제든지 철회하실 수 있습니다. 동의철회는 웹사이트 내에서 허가된 절차에 따라 신청을 하거나 개인정보관리 책임자에게 서면, 전화, E-mail등으로 연락하시면 즉시 개인정보를 서버에서 추출하여 법령규정에 의해 보관하는 이외의 정보를 기술적으로 재생할 수 없도록 삭제하며, 해당 관리자가 확인토록 합니다. 또한 종이에 출력된 개인정보는 이용목적을 달성한 경우 분쇄기 이용한 분쇄 또는 소각하도록 합니다.
				②
				프리랜서코리아는 개인정보의 수집에 대한 동의를 쉽게 철회할 수 있도록 필요한 조치를 취하겠습니다.
				제 6 조 (개인정보의 보유 및 이용 기간, 개인정보의 파기절차 및 파기방법)
				①
				이용자의 개인정보는 개인정보의 수집목적 또는 제공받는 목적이 달성되면 지체없이 파기됩니다. 단, 상법 등 법률의 규정에 의하여 보존할 필요성이 있는 경우에는 예외로 합니다.
				- 보존 기간 : 소송이나 분쟁의 근거자료로 보존하는 목적으로서 민법 등 법령규정, 회사 규정에 따름
				②
				이용자의 동의를 받아 보유하고 있는 개인정보를 이용자가 확인 요구하는 경우 프리랜서코리아는 지체 없이 확인하여야 합니다.
				③
				파기절차 : 회원이 회원 가입 등을 위해 입력한 정보는 목적이 달성된 후 별도의 DB로 옮겨져 (종이의 경우 별도의 서류함) 내부방침 및 기타 관련 법령에 의한 정보 보호 사유에 따라 일정 기간 저장된 후 파기됩니다. 별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유 이외의 다른 목적으로 이용되지 않습니다.
				④
				파기방법 : 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다. 전자적 파일 형태의 정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제합니다.
				제 7 조 (개인정보보호를 위한 기술 및 관리 대책)
				①
				기술적 대책
				- 프리랜서코리아는 이용자의 개인정보 및 법인전자증명서(이하 ‘개인정보 등’)를 취급함에 있어 개인정보 등이 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적 대책을 강구하고 있습니다.
				- 이용자의 개인정보는 비밀번호에 의해 보호되며, 파일 및 전송 데이터를 암호화하거나 파일 잠금기능(Lock)을 사용하여 중요한 데이터는 별도 보안기능을 통해 보호되고 있습니다
				- 프리랜서코리아는 백신프로그램을 이용하여 법인정보 등을 보호하고 컴퓨터바이러스에 의한 피해를 방지하기 위한 조치를 취하고 있습니다.
				- 해킹 등 외부 침입에 대비하여 보안에 만전을 기하고 있습니다.
				②
				관리적 대책 : 회사는 귀하의 개인정보에 대한 접근권한을 최소한의 인원으로 제한하고 있습니다. 그 최소한의 인원에 해당하는 자는 다음과 같습니다.
				- 이용자를 직접 상대로 하여 마케팅 업무를 수행하는 자
				- 개인정보관리책임자 및 담당자 등 개인정보관리업무를 수행하는 자
				- 기타 업무상 개인정보의 취급이 불가피한 자
				③
				개인정보 등을 취급하는 직원을 대상으로 새로운 보안 기술 습득 및 개인정보 보호 의무 등에 관해 교육을 실시하고 있습니다.
				④
				입사 시 전 직원의 정보보호 서약서를 통하여 사람에 의한 정보유출을 사전에 방지하고 개인정보보호정책에 대한 이행사항 및 직원의 준수여부를 감사하기 위한 조치를 마련하고 있습니다.
				④
				입사 시 전 직원의 정보보호 서약서를 통하여 사람에 의한 정보유출을 사전에 방지하고 개인정보보호정책에 대한 이행사항 및 직원의 준수여부를 감사하기 위한 조치를 마련하고 있습니다.
				⑤
				입사 시 전 직원의 정보보호 서약서를 통하여 사람에 의한 정보유출을 사전에 방지하고 개인정보보호정책에 대한 이행사항 및 직원의 준수여부를 감사하기 위한 조치를 마련하고 있습니다.
				⑥
				한편, 프리랜서코리아는 이용자 개인의 실수나 기본적인 인터넷의 위험성 때문에 일어나는 문제에 대하여는 책임을 지지 않습니다. 이용자 개개인이 본인의 개인정보를 보호하기 위해서 자신의 주민등록번호와 비밀번호를 적절하게 관리하고 여기에 대한 책임을 부담하여야 합니다.
				⑦
				그 외 내부 관리자의 실수나 기술관리 상의 사고로 인해 개인정보 등의 상실, 유출, 변조, 훼손이 유발될 경우 프리랜서코리아는 즉각 이용자에게 사실을 알리고 적절한 대책을 강구할 것입니다.
				제 8 조 (이용자의 권리와 의무)
				①
				이용자는 자신의 개인정보를 최신의 상태로 정확하게 입력하여 불의의 사고를 예방해 주시기 바랍니다. 이용자가 입력한 부정확한 정보로 인해 발생하는 사고의 책임은 이용자 자신에게 있으며 타인 정보의 도용 등 허위정보를 입력할 경우 프리랜서코리아는 정상적인 서비스를 제공할 수 없습니다.
				②
				이용자는 개인정보를 보호받을 권리와 함께 스스로를 보호하고 타인의 정보를 침해하지 않을 의무도 가지고 있습니다. 개인정보가 유출되지 않도록 조심하시고 게시물을 포함한 타인의 개인정보를 훼손하지 않도록 유의하여야 합니다. 만약 이 같은 책임을 다하지 못하고 타인의 정보 및 존엄성을 훼손할 경우 『정보통신망이용촉진및정보보호등에관한법률』등 관련 법령에 의해 처벌받을 수 있습니다.
				③
				개인정보에 관한 상담이 필요한 경우에는 한국인터넷진흥원(KISA)내 개인정보침해신고센터로 문의하시기 바랍니다.
				- 개인정보침해신고센터 : 전화 - 118 / URL - http://privacy.kisa.or.kr/kor/main.jsp
				제 9 조 (개인정보 관리책임자 및 담당자)
				프리랜서코리아는 이용자가 좋은 정보를 안전하게 이용할 수 있도록 최선을 다하고 있습니다. 개인정보를 보호하는데 있어 이용자에게 고지한 사항들에 반하는 사고가 발생할 시에 개인정보관리책임자가 책임을 집니다. 그러나 기술적인 보안조치를 했음에도 불구하고, 해킹 등 기본적인 네트워크상의 위험성에 의해 발생하는 예기치 못한 사고로 인한 정보의 훼손 및 방문자가 작성한 게시물에 의한 각종 분쟁에 관해서는 책임을 지지 아니합니다. 이용자의 개인정보를 취급하는 책임자 및 담당자는 다음과 같으며 개인정보 관련 문의사항에 신속하고 성실하게 답변해드리고 있습니다. 

				- 개인정보관리책임자
				성명	양민호
				직책	대표이사
				전화	1599-2118
				전자우편	mhy@freelancerk.com

				- 개인정보관리담당자
				성명	양미현
				직책	차장
				전화	1599-2118
				전자우편	mhy@freelancerk.com

				제 10 조 (만 14세 미만 아동의 개인정보 보호)
				프리랜서코리아는 만 14세 미만 어린이들에 대한 개인정보를 법정대리인의 동의 없이 수집하거나 제3자와 공유 혹은 매매, 대여하지 않습니다.
				또한 인터넷을 통한 계약에 대한 계약자로서의 자격을 부여하지 않습니다.
				프리랜서코리아의 웹사이트는 미성년자에게 유해할 수 있는 정보를 포함하고 있지 않으며 만일의 경우 고객이 정보관리책임자를 통하여 이의를 제기할 경우 즉각적으로 이를 반영하고 있습니다.

				제 11 조 (광고성 정보 전송)
				①
				프리랜서코리아는 이용자의 명시적인 수신거부의사에 반하여 영리목적의 광고성 정보를 전송하지 않습니다.
				②
				프리랜서코리아는 이용자가 뉴스레터 등 전자우편 전송에 대한 동의를 한 경우 전자우편의 제목란 및 본문란에 다음 사항과 같이 이용자가 쉽게 알아 볼 수 있도록 조치합니다.
				전자우편의 제목란 : (광고)라는 문구를 제목란에 표시하지 않을 수 있으며 전자우편 본문란의 주요 내용을 표시합니다.
				전자우편의 본문란 : 이용자가 수신 거부의 의사표시를 할 수 있는 전송자의 명칭, 전자우편주소, 전화번호 및 주소를 명시합니다. 이용자가 수신 거부의 의사를 쉽게 표시할 수 있는 방법을 한글 및 영문으로 각각 명시합니다.
				③
				프리랜서코리아는 상품정보 안내 등 온라인 마케팅을 위해 광고성 정보를 전자우편 등으로 전송하는 경우 전자우편의 제목란 및 본문란에 다음 사항과 같이 귀하가 쉽게 알아 볼 수 있도록 조치합니다.
				- 전자우편의 제목란 : (광고)라는 문구를 제목란의 처음에 빈칸 없이 한글로 표시하고 이어서 전자우편 본문란의 주요 내용을 표시합니다.
				- 전자우편의 본문란 : 귀하가 수신거부의 의사표시를 할 수 있는 전송자의 명칭, 전자우편 주소, 전화번호 및 주소를 명시합니다.
				귀하가 수신 거부의 의사를 쉽게 표시할 수 있는 방법을 한글 및 영문으로 각각 명시합니다.
				④
				팩스ㆍ휴대폰 문자전송 등 전자우편 이외의 문자전송을 통해 영리목적의 광고성 정보를 전송하는 경우에는 전송내용 처음에 "(광고)"문구를 표기하고 전송내용 중에 전송자의 연락처를 명시하도록 조치합니다.</textarea></td>
							</tr>
							<tr>
								<th>에스크로서비스<br>이용약관</th>
								<td colspan="3"><textarea name="" rows="10" cols="100">1. 에스크로서비스
				본 규정은 “프리랜서코리아”가 제공하는 에스크로서비스를 회원이 이용함에 있어 “프리랜서코리아”와 회원, 또는 회원과 회원 사이의 금융거래에 관한 사항을 정하는 것에 그 목적이 있습니다. 기본적으로 서비스에 대한 신뢰를 위해 모든 거래에 대해 그 대가(이하 "결제 대금")의 전부 또는 일부를 미리 지급 받아 회원의 거래의 결과에 대한 상호 확인 시점까지 결제대금을 예치하는 것을 원칙으로 하고 있습니다. 이를 통해 상호 거래에 대한 신뢰도의 향상과 대금 문제를 원천 봉쇄할 수 있도록 최선의 역할을 할 것입니다.
				① 접근 매체의 선정과 사용 및 관리
				가.
				금융거래 서비스 제공 시 접근매체를 선정하여 회원의 신원, 권한 및 거래지시의 내용 등을 확인할 수 있습니다.
				나.
				회원은 접근매체를 제3자에게 대여하거나 사용을 위임하거나 양도 또는 담보목적 으로 제공할 수 없습니다.
				다.
				회원은 자신의 접근매체를 제3자에게 누설 또는 노출하거나 방치하여서는 안되며 접근매체의 도용이나 위조 또는 변조를 방지하기 위하여 충분한 주의를 기울여야 합니다.
				라.
				회원은 이용자로부터 접근매체의 분실이나 도난 등의 통지를 받은 때에는 그 때부터 제3자가 그 접근매체를 사용함으로 인하여 회원에게 발생한 손해를 배상할 책임이 있습니다.
				② 오류의 정정
				가.
				회원은 금융거래 서비스를 이용함에 있어 오류가 있음을 안 때에는 “프리랜서코리아”에 그 오류에 대해 정정을 요구할 수 있습니다.
				나.
				“프리랜서코리아”는 상기항의 규정에 따라 오류의 정정요구를 받는 경우 이를 즉시 조사하여 처리한 후 정정요구를 받은 날부터 15일 이내에 그 결과를 회원에게 전달합니다.
				③ 대금의 상태 공개
				가.
				회원간의 서비스 계약에 따라 계약된 회원들은 이해당사자간의 에스크로서비스를 통해 대금의 결제, 예치, 지급 등의 상태를 프리랜서코리아를 통해서 확인할 수 있습니다.
				나.
				대금의 상태가 변하는 경우 지체 없이 그 변경된 상태를 적용해야 합니다.
				④ 결제서비스
				가.
				회원이 결제대금을 “프리랜서코리아”의 계좌로 이체할 수 있는 계좌이체와 직접 금융기관에 등록한 회원의 계좌에서 출금하여 “프리랜서코리아”의 계좌로 이체할 수 있는 송금 서비스를 말합니다.
				⑤ 결제내용의 확인
				가.
				“프리랜서코리아”는 회원과 미리 약정한 전자적 방법을 통하여 회원의 거래내용을 확인할 수 있도록 합니다.
				나.
				회원이 상기항에서 정한 서면의 교부를 요청하고자 할 경우 다음의 주소 및 전화번호로 요청할 수 있습니다.
				이메일.
				mhy@freelancerk.com
				전화.
				1599-2118
				⑥ 예치계좌
				가.
				“프리랜서코리아”는 결제된 대금을 “프리랜서코리아”의 [ KB국민 ]은행을 통해 개설한 지정 계좌에 입금하고 유지합니다.
				(사업자등록번호 : 114-87-19492, 은행 : KB국민은행, 계좌번호 : 400437-01-020230, 계좌주 : (주)플랫폼위즈컴퍼니)
				나.
				회원은 에스크로서비스를 이용함에 있어 예치된 대금에 대해 이자 또는 별도의 수입을 받지 않는 것에 동의합니다.
				다.
				“프리랜서코리아”는 예치된 대금에 대한 이자 또는 별도의 수입을 생성할 수 있습니다.
				⑦ “프리랜서코리아”는 에스크로서비스를 통한 예치 계좌의 입출금에 대해 수수료가 발생할 경우(해외 송금, 환전 등)에는 이에 대한 비용을 별도로 회원에게 청구할 수 있습니다.
				⑧ 지급조건
				가.
				“프리랜서코리아”는 예치된 대금에 대해 다음의 각 호에 해당하는 경우 회원간의 서비스 계약의 내용에 따라 지정된 회원에게 정해진 금액을 지급하게 됩니다.
				『 회원이 상대방의 지급 요청에 대해 “프리랜서코리아”를 통해 승인한 경우』
				『 회원이 “프리랜서코리아”에 환불 요청을 하여 “프리랜서코리아”가 승인한 경우』
				『 별도의 분쟁 조정 과정을 거친 후 환불, 취소, 분쟁 해결 절차에 따르는 경우』
				『 별도의 분쟁 조정 과정을 거친 후 환불, 취소, 분쟁 해결 절차에 의해 “프리랜서코리아”에서 안내하는 내용에 대해 해당 절차에 명시된 기한이 지나도 별도의 응답이 없는 경우』
				⑨ 관리책임의 의무 및 면책
				가.
				“프리랜서코리아”는 계약체결 또는 거래지시의 전자적 전송이나 처리과정에서 발생한 사고로 인하여 회원에게 그 손해가 발생한 경우에는 그 손해를 배상할 책임이 있습니다. 다만 본 규정 위반에 해당하거나 법인인 이용자에게 손해가 발생한 경우로서 회사가 사고를 방지하기 위하여 보안절차를 수립하고 이를 철저히 준수하는 등 합리적으로 요구되는 충분한 주의에 대한 의무를 다한 경우에는 그러하지 아니합니다.
				나.
				“프리랜서코리아”는 접근매체의 발급주체가 아닌 경우에는 접근매체의 위조나 변조로 발생한 사고로 인하여 회원에게 발생한 손해에 대하여 배상책임이 없습니다.
				다.
				“프리랜서코리아”는 회원으로부터의 거래지시가 있음에도 불구하고 천재지변, 회사의 귀책사유가 없는 정전, 화재, 통신장애 기타의 불가항력적인 사유로 처리 불가능하거나 지연된 경우로서 이용자에게 처리 불가능 또는 지연사유를 통지한 경우(금융기관 또는 결제수단 발행업체나 통신판매업자가 통지한 경우를 포함합니다)에는 이용자에 대하여 이로 인한 책임을 지지 아니합니다.
				2. 회원간의 계약에 따른 의무
				① 원활한 소통
				가.
				“클라이언트”와 “프리랜서”는 성공적인 업무의 진행을 위해 최대한 원활하게 소통을 해야 하는 의무가 있습니다.
				나.
				“클라이언트”와 “프리랜서”는 상대방의 요청에 대해 최대 7일 이내에 성실하게 응답해야 하며, 이를 지키지 않는 경우 불이익을 받는 것에 동의합니다.
				다.
				프리랜서의 업무 완료 보고에 대해 클라이언트가 대답이 없는 경우에는 보고 후 7일이 지나면 업무에 대한 검수가 완료되어 대금을 지급하는 것으로 합니다.
				② 업무진행과 수행
				가.
				클라이언트는 업무 진행에 있어 관리와 점검, 요청에 대한 동의와 적절한 지불의 책임이 있으며, 프리랜서에게 업무 수행에 있어 보유 장비, 도구, 자료들을 포함한 적절한 대금의 청구, 우수한 성과와 요청에 대한 동의에 대한 책임이 있습니다.
				나.
				클라이언트와 프리랜서는 각각 업무를 진행함과 수행함에 있어 선의로 이행하며 공정하게 거래하는 것에 동의합니다.
				③ 양도 및 위임
				가.
				클라이언트와 프리랜서는 본 계약을 제3자에게 양도하거나 본 계약서에 명시된 직무의 수행 및 의무를 제3자에게 위임할 수 없습니다.
				④ 손해배상
				가.
				진행한 업무에 내용에 있어 하자가 발생하여 피해가 막심한 경우에는 그 일차적인 책임이 검수의 의무를 다하지 못한 클라이언트에게 있습니다.
				나.
				클라이언트의 검수 능력을 벗어난 하자의 경우에는 해당 피해에 관한 소송은 클라이언트 소재지 관할 법원에서 진행합니다.
				3. 취소 및 환불절차
				본 환불, 취소, 분쟁 해결 절차에 관한 규정은 업무의 진행을 의뢰한 “클라이언트”와 "프리랜서" 간 계약에 대해 발생하는 모든 문제를 원만하게 해결함에 목적이 있습니다. 이는 “클라이언트”와 “프리랜서”가 회원 간 본계약을 체결하기 이전에 각각 “프리랜서코리아”의 이용 약관에 동의하는 것으로 그 효력이 있습니다. “프리랜서”의 귀책사유로 업무에 문제가 발생한 경우에는 업무를 취소하고 대금을 전액 환불하는 것을 그 원칙으로 합니다.
				① 확인기간
				가.
				“클라이언트”와 “프리랜서”는 업무를 진행함에 있어 발생하는 다양한 요청 등에 대해 공휴일을 포함하여 최대 7 일 이내에 의사를 표시할 의무가 있습니다.
				나.
				7 일 이내 의사를 표시 하지 않을 경우 처리되는 모든 사항에 대한 책임은 본인에게 있습니다.
				② 취소
				가.
				“클라이언트”와 “프리랜서”는 업무를 진행함에 있어 발생하는 다양한 요청 등에 대해 공휴일을 포함하여 최대 7 일 이내에 의사를 표시할 의무가 있습니다.
				나.
				계약은 상호 확인을 통해 성립하게 되므로 계약 간 “클라이언트” 또는 “프리랜서”는 계약에 대한 취소를 요청할 수 있습니다.
				다.
				계약의 취소에 대해 상호 확인한 경우 회원간 계약과 본 규정에 따라 대금을 처리하게 됩니다.
				라.
				“클라이언트”는 계약 성립 후 “프리랜서”의 책임으로 돌릴 사유가 없음에도 불구하고 결과물의 수령을 거부하거나 지연 또는 반품할 수 없습니다.
				③ 환불
				가.
				환불 요청에 대해 “클라이언트”와 “프리랜서”는 최우선적으로 적극적인 협의를 통해 원만한 결과를 이끌어낼 의무가 있으며, 협의하지 못하는 경우 분쟁 해결 절차에 따라 환불요청이 처리됩니다.
				나.
				“클라이언트”의 에스크로 예치(전송 또는 이체), 대금 지급, 환불 절차는 기본적으로 양자간의 계약을 통해 자유롭게 정하며, 프리랜서코리아는 이에 개입하지 않는 것으로 합니다.
				다.
				프리랜서코리아는 “클라이언트”의 환불 요청을 접수하고 24시간이 경과한 후 클라이언트에게 요청 금액에 대한 환불처리를 합니다. 단 동 기간 내 프리랜서코리아는 “프리랜서”에게 환불에 대한 사전 협의가 있었는지의 여부를 확인할 수 있으며, “프리랜서”의 요구가 있는 경우에 한하여 “클라이언트”의 환불 요청을 거절할 수 있습니다.
				4. 분쟁 해결 절차
				회원간 계약에 따라 “클라이언트”와 “프리랜서”는 자체 협의를 통해 우선적으로 문제를 해결해야하는 의무가 있습니다.
				① 회원간 협의
				가.
				“클라이언트”와 “프리랜서”는 업무 진행 도중 다양한 내용에 대해서 이의를 제기할 수 있는 권한이 있으며, 상대방의 정당한 사유에 따른 이의 제기에 대해서는 확인 기간 내에 응답을 해야 하는 의무가 있습니다.
				나.
				회원은 이와 같은 이의 제기에 관한 내용을 서면화하여 기록 및 보관해야하는 의무가 있습니다.
				다.
				자체 협의를 통해서 분쟁이 해결되는 경우 프리랜서코리아는 별도의 조치를 취하지 않습니다.
				② 대한상사중재원을 통한 해결
				가.
				“클라이언트”와 “프리랜서”는 분쟁을 국내 및 국제 민상사 분쟁 해결 중재기관인 대한상사중재원을 통해 해결하는 것에 동의합니다.
				나.
				이 경우 “프리랜서코리아”는 중재 비용을 전액 지원합니다. 단 지원금액은 이미 지급받은 중개/관리 수수료의 1/2을 초과할 수 없습니다.
				다.
				지원 한도를 초과하는 비용에 대해서는, “클라이언트”와 “프리랜서”가 절반씩 부담합니다.
				5. 이용요금(수수료 등)
				① 대금 전달(상호 승인시)
				가.
				“클라이언트”와 “프리랜서”는 회원간 계약에 따라 에스크로서비스에 의해 보호 중인 대금의 처리에 동의하게 됩니다.
				나.
				“클라이언트”의 대금은 부가가치세를 제외한 금액에서 [ 5 ]%를 차감한 후 “프리랜서”에게 전달됩니다.
				다.
				“프리랜서”가 기업 회원인 경우에는 수수료가 차감 된 대금에 대한 부가가치세를 합산하여 지급하게 됩니다.
				라.
				“프리랜서”가 사업자등록이 되지 않은 개인 회원인 경우에는 사업소득세와 근로소득세(3.3%)를 원천징수하여 지급하게 됩니다.
				마.
				“프리랜서”는 “프리랜서코리아”의 대금을 지급 받기 이전에 필요한 서류를 먼저 제출해야하는 의무가 있습니다.
				바.
				프리랜서코리아는 “프리랜서”가 용역을 시작하기 전 프리랜서코리아에 직접 등록한 사업자종류(부가가치세 납부 또는 사업소득세 납부)로 판단하여 명세서 발급 및 대금 지급을 완료합니다.
				② 대금 전달(프로젝트 취소시)
				가.
				“프리랜서”의 귀책에 따라 업무가 취소 될 경우 이에 대한 수수료는 별도로 부과하지 않으며 대금 전액은 “클라이언트”에게 전달됩니다.
				나.
				“클라이언트”의 귀책에 따라 업무가 취소되어 대금의 일부가 지급되는 경우에는 수수료를 차감한 후 “프리랜서”에게 지급하며, 잔액은 수수료를 부과하지 않고 “클라이언트”에게 전달됩니다.
				6. 지적 재산권
				① 지적 재산권 보호
				가.
				“프리랜서”는 제3자의 저작권 등을 침해하여서는 안 됩니다. 만일 업무에 따른 저작물의 내용이 제3자의 저작권 등의 권리를 침해하여 “클라이언트” 또는 제3자에게 손해를 끼칠 경우에 “프리랜서”는 민, 형사상의 모든 책임을 지게 됩니다.
				나.
				“프리랜서코리아”는 도용이나 침해가 의심되는 저작물에 대해 조사하지 않습니다. “클라이언트”가 직접 도용이나 침해 여부를 판가름한 뒤 알려주어야 합니다.
				② 지적재산권 양도
				가.
				“프리랜서”는 “클라이언트”가 업무의 완료를 승인하는 순간 “프리랜서”가 제공한 지적재산권이 양도되는 것에 대해서 동의합니다.
				나.
				별도의 지적재산권 보호를 “클라이언트”에게 요청한 상태에서 계약이 되는 경우에는 지적재산권이 “프리랜서”에게 있습니다.
				③ 게재 할 권리의 보호
				가.
				“클라이언트”는 완료된 업무 결과물에 대해서 “프리랜서코리아” 또는 “프리랜서”가 홍보를 위한 수단으로 온라인 및 오프라인 상에서 업무의 결과를 별도의 로열티 없이 자유롭게 지속적으로 사용하는 것을 동의합니다.
				나.
				“클라이언트”가 업무의 목적 상 게재를 허용치 않는 경우 계약 체결 이전에 의사를 통보할 의무가 있으며, 이 통보에 따라 계약이 체결되는 경우에는 “프리랜서코리아”와 “프리랜서”는 게재할 권리를 상실하게 됩니다.</textarea></td>
							</tr>
							<tr>
								<th>프리랜서코리아<br>이용약관</th>
								<td colspan="3"><textarea name="" rows="10" cols="100">제1조(목적)
				이 약관은 주식회사 플랫폼위즈컴퍼니(“프리랜서코리아”는 주식회사 플랫폼위즈컴퍼니의 등록상표입니다. 그러므로 본 이용약관에서 지칭하는 “프리랜서코리아”는 (주)플랫폼위즈컴퍼니와 권리, 의무 관계를 같이 하는 동일체로 봐야합니다.)가 회원에게 제공하는 서비스의 이용과 관련하여 프리랜서코리아와 회원 간의 권리, 의무, 책임사항 및 기타 필요한 사항을 규정함을 목적으로 합니다.

				제2조(정의)
				①
				“회원”이란 이 약관에 동의하고 “프리랜서코리아 플랫폼(프리랜서코리아 홈페이지를 포함한 프리랜서코리아가 관리, 운영하는 웹사이트 및 어플리케이션 등 서비스 플랫폼 일체를 의미합니다.)”의 회원가입 절차를 마친 자를 말합니다.
				②
				“클라이언트”란 “회원”으로 아래 제3항의 “프리랜서”에게 프로젝트를 의뢰하기 위하여 회원이 된 자를 말합니다.
				③
				“프리랜서”란 “회원”으로 위 제2항의 “클라이언트”의 의뢰를 받아 프로젝트를 수행하기 위하여 회원이 된 자를 말합니다.
				제3조(약관 등의 명시와 설명 및 개정)
				①
				“프리랜서코리아”는 이 약관의 내용과 상호 및 대표자 성명, 영업소 소재지 주소(소비자의 불만을 처리할 수 있는 곳의 주소를 포함), 전화번호․모사전송번호․전자우편주소, 사업자등록번호, 개인정보관리책임자등을 이용자가 쉽게 알 수 있도록 서비스화면(전면)에 게시합니다. 다만, 약관의 내용은 이용자가 연결화면을 통하여 볼 수 있도록 할 수 있습니다.
				②
				“프리랜서코리아”는 「약관의 규제에 관한 법률」, 「전자문서 및 전자거래기본법」, 「전자금융거래법」, 「전자서명법」, 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 등 관련 법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.
				③
				“프리랜서코리아”는 이 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 “프리랜서코리아”의 초기화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다. 다만, 이용자에게 불리하게 약관내용을 변경하는 경우에는 최소한 30일 이상의 사전 유예기간을 두고 공지합니다. 이 경우“프리랜서코리아”는 개정 전 내용과 개정 후 내용을 명확하게 비교하여 이용자가 알기 쉽도록 표시합니다.
				④
				“프리랜서코리아”가 이 약관을 개정할 경우에는 그 개정약관은 그 적용일자 이후에 체결되는 계약에만 적용되고 그 이전에 이미 체결된 계약에 대해서는 개정 전의 약관조항이 그대로 적용됩니다. 다만 이미 계약을 체결한 이용자가 개정약관 조항의 적용을 받기를 원하는 뜻을 제3항에 의한 개정약관의 공지기간 내에 “프리랜서코리아”에 송신하여 “프리랜서코리아”의 동의를 받은 경우에는 개정약관 조항이 적용됩니다.
				⑤
				이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 전자상거래 등에서의 소비자보호에 관한 법률, 약관의 규제 등에 관한 법률, 공정거래위원회가 정하는 전자상거래 등에서의 소비자 보호지침 및 관계법령 또는 상관례에 따릅니다.
				제4조(회원가입)
				①
				“프리랜서코리아 플랫폼”을 이용하려는 자는“프리랜서코리아”가 정한 가입 양식에 따라 회원정보를 기입한 후 이 약관에 동의한다는 의사표시를 함으로서 회원가입을 신청합니다.
				②
				“프리랜서코리아”는 제1항과 같이 회원으로 가입할 것을 신청한 이용자 중 다음 각 호에 해당하지 않는 한 회원으로 등록합니다.
				1. 가입신청자가 이 약관 제5조제3항에 의하여 이전에 회원자격을 상실한 적이 있는 경우, 다만 제5조제3항에 의한 회원자격 상실 후 “프리랜서코리아”의 회원재가입 승낙을 얻은 경우에는 예외로 한다.
				2. 등록 내용에 허위, 기재누락, 오기가 있는 경우
				3. 기타 회원으로 등록하는 것이 “프리랜서코리아”의 기술상 현저히 지장이 있다고 판단되는 경우
				③
				회원가입계약의 성립 시기는 “프리랜서코리아”의 승낙이 회원에게 도달한 시점으로 합니다.
				④
				회원은 회원가입 시 등록한 사항에 변경이 있는 경우, 상당한 기간 이내에 “프리랜서코리아”에 대하여 회원정보 수정 등의 방법으로 그 변경사항을 알려야 합니다.
				제5조(회원 탈퇴 및 자격 상실 등)
				①
				회원은 “프리랜서코리아”에 언제든지 탈퇴를 요청할 수 있으며 “프리랜서코리아”는 즉시 회원탈퇴를 처리합니다.
				②
				회원이 다음 각 호의 사유에 해당하는 경우, “프리랜서코리아”는 회원자격을 제한 및 정지시킬 수 있습니다.
				1. 가입 신청 시에 허위 내용을 등록한 경우
				2. “프리랜서코리아”를 이용하여 제공받은 용역대금 및 서비스수수료, 기타 “프리랜서코리아”이용에 관련하여 회원이 부담하는 채무를 기일에 지급하지 않는 경우
				3. 다른 사람의 “프리랜서코리아” 이용을 방해하거나 그 정보를 도용하는 등 전자상거래 질서를 위협하는 경우
				4. “프리랜서코리아”를 이용하여 법령 또는 이 약관이 금지하거나 공서양속에 반하는 행위를 하는 경우
				5. “프리랜서코리아” 플랫폼의 관리자가 해당 플랫폼 내 명시한 안내문구를 “회원”이 위반한 경우
				③
				“프리랜서코리아”가 회원 자격을 제한․정지 시킨 후, 동일한 행위가 2회 이상 반복되거나 30일 이내에 그 사유가 시정되지 아니하는 경우 “프리랜서코리아”는 회원자격을 상실시킬 수 있습니다.
				④
				프리랜서코리아”가 회원자격을 상실시키는 경우에는 회원등록을 말소합니다. 이 경우 회원에게 이를 통지하고, 회원등록 말소 전에 최소한 30일 이상의 기간을 정하여 소명할 기회를 부여합니다.
				제6조(회원에 대한 통지)
				①
				“프리랜서코리아”가 회원에 대한 통지를 하는 경우, 회원이 “프리랜서코리아”와 미리 약정하여 지정한 전자우편 주소로 할 수 있습니다.
				②
				“프리랜서코리아”는 불특정다수 회원에 대한 통지의 경우 1주일이상 “프리랜서코리아” 게시판에 게시함으로서 개별 통지에 갈음할 수 있습니다. 다만, 회원 본인의 거래와 관련하여 중대한 영향을 미치는 사항에 대하여는 개별통지를 합니다.
				제7조(서비스의 중단)
				①
				“프리랜서코리아”는 컴퓨터 등 정보통신설비의 보수점검․교체 및 고장, 통신의 두절 등의 사유가 발생한 경우에는 서비스의 제공을 일시적으로 중단할 수 있습니다.
				②
				프리랜서코리아”는 제1항의 사유로 서비스의 제공이 일시적으로 중단됨으로 인하여 회원 또는 제3자가 입은 손해에 대하여 배상합니다. 단, “프리랜서코리아”가 고의 또는 과실이 없음을 입증하는 경우에는 그러하지 아니합니다.
				③
				사업종목의 전환, 사업의 포기, 업체 간의 통합 등의 이유로 서비스를 제공할 수 없게 되는 경우에는 “프리랜서코리아”는 제6조에 정한 방법으로 회원에게 통지하고 당초 “프리랜서코리아”에서 제시한 조건에 따라 소비자에게 보상합니다. 다만, “프리랜서코리아”가 보상기준 등을 고지하지 아니한 경우에는 이용자들의 마일리지 또는 적립금 등을 “프리랜서코리아”에서 통용되는 통화가치에 상응하는 현물 또는 현금으로 이용자에게 지급합니다.
				제8조(서비스의 제공 및 변경)
				①
				“프리랜서코리아”는 다음과 같은 서비스를 제공합니다.
				1. 회원에 대한 정보제공
				2. 회원 간 중개서비스 제공
				②
				“프리랜서코리아”는 서비스의 품질 또는 기술적 사양의 변경 등의 경우에는 장차 체결되는 계약에 의해 제공할 서비스의 내용을 변경할 수 있습니다. 이 경우에는 변경된 서비스의 내용 및 제공일자를 명시하여 현재의 서비스의 내용을 게시한 곳에 즉시 공지합니다.
				③
				“프리랜서코리아”가 제공하기로 회원과 계약을 체결한 서비스의 내용을 기술적 사양의 변경 등의 사유로 변경할 경우에는 그 사유를 회원에게 통지 가능한 주소로 즉시 통지합니다.
				④
				전항의 경우 “프리랜서코리아”가 이로 인하여 회원이 입은 손해를 배상합니다. 다만, “프리랜서코리아”가 고의 또는 과실이 없음을 입증하는 경우에는 그러하지 아니합니다.
				제9조(정보제공 및 광고의 게재)
				①
				“프리랜서코리아”는 회원의 서비스 이용에 필요한 다양한 정보 및 광고를 배너, 전자우편, 서신우편, 휴대폰 문자메시지, 전화, 어플리케이션 알림 등의 방법으로 회원에게 제공할 수 있습니다. 다만, 회원이 이를 원하지 않는 경우 “프리랜서코리아”가 제공하는 방법에 따라 수신을 거부할 수 있습니다.
				②
				전항 단서에 따른 수신을 거부한 회원의 경우라도 이용약관, 개인정보보호정책, 기타 회원의 이익에 영향을 미칠 수 있는 중요한 사항의 변경 등 회원이 반드시 알고 있어야 하는 사항에 대해서는 전항의 방법으로 정보의 제공 등을 할 수 있습니다.
				③
				“프리랜서코리아 플랫폼”에는 배너와 링크(Link) 등 다양한 형태의 광고가 포함될 수 있으며, 이는 제3자가 제공하는 페이지와 연결될 수 있습니다. 이 경우 해당 페이지는 “프리랜서코리아”의 서비스 영역이 아니므로 “프리랜서코리아”가 신뢰성, 안정성 등을 보장하지 않으며 그로 인한 회원의 손해에 대하여 책임을 지지 않습니다.
				④
				“프리랜서코리아”는 서비스 상에 게재되어 있거나 서비스를 통한 제3자와의 판촉활동에 회원이 참여하거나 교신 또는 거래의 결과로서 발생하는 모든 손실 또는 손해에 대해 관련 법에 특별한 규정이 있거나 “프리랜서코리아”의 고의 또는 중과실로 인한 경우가 아닌 한 책임을 지지 않습니다.
				제10조(개인정보보호)
				①
				“프리랜서코리아”는 회원의 개인정보 수집시 서비스제공을 위하여 필요한 범위에서 최소한의 개인정보를 수집합니다.
				②
				“프리랜서코리아”는 회원가입시 구체적인 서비스계약이행에 필요한 정보를 미리 수집하지 않습니다. 다만, 관련 법령상 의무이행을 위하여 구매계약 이전에 본인확인이 필요한 경우로서 최소한의 특정 개인정보를 수집하는 경우에는 그러하지 아니합니다.
				③
				“프리랜서코리아”는 회원의 개인정보를 수집·이용하는 때에는 당해 회원에게 그 목적을 고지하고 동의를 받습니다.
				④
				“프리랜서코리아”는 수집된 개인정보를 목적 외의 용도로 이용할 수 없으며, 새로운 이용목적이 발생한 경우 또는 제3자에게 제공하는 경우에는 이용·제공단계에서 당해 회원에게 그 목적을 고지하고 동의를 받습니다. 다만, 관련 법령에 달리 정함이 있는 경우에는 예외로 합니다.
				⑤
				“프리랜서코리아”가 제2항과 제3항에 의해 동의를 받아야 하는 경우에는 개인정보관리 책임자의 신원(소속, 성명 및 전화번호, 기타 연락처), 정보의 수집목적 및 이용목적, 제3자에 대한 정보제공 관련사항(제공받은자, 제공목적 및 제공할 정보의 내용) 등 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 제22조제2항이 규정한 사항을 미리 명시하거나 고지해야 하며 회원은 언제든지 이 동의를 철회할 수 있습니다.
				⑥
				회원은 언제든지 “프리랜서코리아”가 가지고 있는 자신의 개인정보에 대해 열람 및 오류정정을 요구할 수 있으며 “프리랜서코리아”는 이에 대해 지체 없이 필요한 조치를 취할 의무를 집니다. 회원이 오류의 정정을 요구한 경우에는“프리랜서코리아”는 그 오류를 정정할 때까지 당해 개인정보를 이용하지 않습니다.
				⑦
				“프리랜서코리아”는 개인정보 보호를 위하여 회원의 개인정보를 취급하는 자를 최소한으로 제한하여야 하며 신용카드, 은행계좌 등을 포함한 회원의 개인정보의 분실, 도난, 유출, 동의 없는 제3자 제공, 변조 등으로 인한 회원의 손해에 대하여 모든 책임을 집니다.
				⑨
				“프리랜서코리아”는 개인정보의 수집·이용·제공에 관한 동의 란을 미리 선택한 것으로 설정해두지 않습니다. 또한 개인정보의 수집·이용·제공에 관한 이용자의 동의거절시 제한되는 서비스를 구체적으로 명시하고, 필수수집항목이 아닌 개인정보의 수집·이용·제공에 관한 이용자의 동의 거절을 이유로 회원가입 등 서비스 제공을 제한하거나 거절하지 않습니다.
				제11조(“프리랜서코리아”의무)
				①
				“프리랜서코리아”는 법령과 이 약관이 금지하거나 공서양속에 반하는 행위를 하지 않으며 이 약관이 정하는 바에 따라 지속적이고, 안정적으로 재화․용역을 제공하는데 최선을 다하여야 합니다.
				②
				“프리랜서코리아”는 회원이 안전하게 인터넷 서비스를 이용할 수 있도록 회원의 개인정보(신용정보 포함)보호를 위한 보안 시스템을 갖추어야 합니다.
				③
				“프리랜서코리아”가 상품이나 용역에 대하여 「표시․광고의 공정화에 관한 법률」 제3조 소정의 부당한 표시․광고행위를 함으로써 회원이 손해를 입은 때에는 이를 배상할 책임을 집니다.
				제12조(회원의 ID 및 비밀번호에 대한 의무)
				①
				제12조의 경우를 제외한 ID와 비밀번호에 관한 관리책임은 회원에게 있습니다.
				②
				회원은 자신의 ID 및 비밀번호를 제3자에게 이용하게 해서는 안됩니다.
				③
				회원이 자신의 ID 및 비밀번호를 도난당하거나 제3자가 사용하고 있음을 인지한 경우에는 바로 “프리랜서코리아”에 통보하고 “프리랜서코리아”의 안내가 있는 경우에는 그에 따라야 합니다.
				제13조(회원의 의무) 회원은 다음 행위를 하여서는 안 됩니다.
				①
				신청 또는 변경시 허위 내용의 등록
				②
				타인의 정보 도용
				③
				“프리랜서코리아”에 게시된 정보의 변경
				④
				“프리랜서코리아”가 정한 정보 이외의 정보(컴퓨터 프로그램 등) 등의 송신 또는 게시
				⑤
				“프리랜서코리아”기타 제3자의 저작권 등 지적재산권에 대한 침해
				⑥
				“프리랜서코리아”기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위
				⑦
				외설 또는 폭력적인 메시지, 화상, 음성, 기타 공서양속에 반하는 정보를 “프리랜서코리아 플랫폼”에 공개 또는 게시하는 행위
				제14조(저작권의 귀속 및 이용제한)
				①
				“프리랜서코리아”가 작성한 저작물에 대한 저작권 기타 지적재산권은 “프리랜서코리아”에 귀속합니다.
				②
				회원은“프리랜서코리아 플랫폼”을 이용함으로써 얻은 정보 중 “프리랜서코리아”에게 지적재산권이 귀속된 정보를 “프리랜서코리아”의 사전 승낙 없이 복제, 송신, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하여서는 안됩니다.
				③
				“프리랜서코리아”는 약정에 따라 회원에게 귀속된 저작권을 사용하는 경우 당해 회원에게 통보하여야 합니다.
				제15조(분쟁해결)
				①
				“프리랜서코리아”는 회원이 제기하는 정당한 의견이나 불만을 반영하고 그 피해를 보상처리하기 위하여 피해보상처리기구를 설치․운영합니다.
				②
				“프리랜서코리아”는 회원으로부터 제출되는 불만사항 및 의견은 우선적으로 그 사항을 처리합니다. 다만, 신속한 처리가 곤란한 경우에는 회원에게 그 사유와 처리일정을 즉시 통보해 드립니다.
				③
				“프리랜서코리아”와 회원 간에 발생한 전자상거래 분쟁과 관련하여 회원의 피해구제신청이 있는 경우에는 공정거래위원회 또는 시·도지사가 의뢰하는 분쟁조정기관의 조정에 따를 수 있습니다.
				제16조(재판권 및 준거법)
				①
				“프리랜서코리아”와 회원 간에 발생한 전자상거래 분쟁에 관한 소송은 제소 당시의 회원의 주소에 의하고, 주소가 없는 경우에는 거소를 관할하는 지방법원의 전속관할로 합니다. 다만, 제소 당시 회원의 주소 또는 거소가 분명하지 않거나 외국 거주자의 경우에는 민사소송법상의 관할법원에 제기합니다.
				②
				“프리랜서코리아”와 회원 간에 제기된 전자상거래 소송에는 한국법을 적용합니다.</textarea></td>
							</tr>
						</tbody></table>

						<div class="Hspace"></div>

						<h1>■ API설정</h1>

						<table class="boardform">
							<colgroup>
								<col width="150">
								<col width="350">
								<col width="150">
								<col width="">
							</colgroup>
							<tbody><tr>
								<th>SMS 발신번호</th>
								<td colspan="3"><input type="text" name="" value="" style="width:350px;"></td>
							</tr>
							<tr>
								<th>SMS 아이디</th>
								<td><input type="text" name="" value="" style="width:350px;"></td>
								<th>SMS 비밀번호값</th>
								<td><input type="text" name="" value="" style="width:350px;"></td>
							</tr>
							<tr>
								<th>SMS</th>
								<td>
									<a href="">아이코드 회원가입</a>
								</td>
								<th>SMS 요금제</th>
								<td>
									<div>충전제</div>
									<div>충전잔액:<span>90,000</span>원</div>
									<a href="" class="btn-black medium">충전하기</a>
								</td>
							</tr>

							<tr>
								<th>페이스북 아이디</th>
								<td><input type="text" name="" value="" style="width:350px;"></td>
								<th>페이스북 키값</th>
								<td><input type="text" name="" value="" style="width:350px;"></td>
							</tr>

							<tr>
								<th>네이버 아이디</th>
								<td><input type="text" name="" value="" style="width:350px;"></td>
								<th>네이버 키값</th>
								<td><input type="text" name="" value="" style="width:350px;"></td>
							</tr>

							<tr>
								<!--
								<th>카카오 아이디</th>
								<td><input type="text" name="fc_kakao_id" value="" style="width:350px;"></td>
								-->
								<th>카카오 키값</th>
								<td colspan="3"><input type="text" name="" value="" style="width:350px;"></td>
							</tr>
						</tbody></table>

						<div class="boardbutton">
							<div class="tc">
								<input type="submit" value="저장" class="btn-color large">
							</div>
						</div>

					</form>
				</div>

			</div>
		</div>
		
	</section>
	
	
</html>