<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator=" layout/layout">
<head>
	<!-- 로컬적용 css -->
	<link rel="stylesheet" href="/static/css/env.css">
</head>

	
	<section id="content" layout:fragment="content">
		<div id="container">
			<div id="container_side">
				<th:block th:include="fragments/envHeader"></th:block>
			</div>
			<div id="container_content">
				<div class="container_inner">
					<h1>■ 직원관리</h1>
					<table class="boardlist">
						<colgroup><col width="120">
						<col width="120">
						<col width="120">
						<col width="120">
						<col width="120">
						<col width="120">
						<col width="">
						<col width="120">
						</colgroup><tbody><tr>
							<th>직원아이디</th>
							<th>부서</th>
							<th>사진</th>
							<th>이름</th>
							<th>직급</th>
							<th>연락처</th>
							<th>이메일</th>
							<th>비고</th>
						</tr>
						<tr>
							<td>pez</td>
							<td>개발,디자인</td>
							<td>
											</td>
							<td>박은진</td>
							<td>과장</td>
							<td>01065116444</td>
							<td>pez@freelancerk.com</td>
							<td>
								<a href="" class="btn-black mini">수정</a>
								<span class="btn-black mini del_btn">삭제</span>
								<input type="hidden" value="pez">
							</td>
						</tr>
						</tbody>
					</table>
					
					<div class="boardbutton">
						<div class="tl"></div>
						<div class="tc">
							<div class="boardpage">
							<span class="current">1</span>
						</div>
						</div>
						<div class="tr">
							<a href="" class="btn-color large">등록</a>
						</div>
					</div>

				</div>
			</div>
		</div><!-- container-->
	</section>
	

</html>