.auditionDetailContainer{
    font-family: 'Roboto', 'Noto Sans KR', '맑은 고딕', 'Apple SD Gothic Neo', sans-serif;
    color: #303038;
}

.auditionDetailThumnailImg{
    height: 500px;
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
    box-shadow: 0 0px 4px rgb(0 0 0 / 30%);
}

.auditionInfoBox{
    box-shadow: 0 0px 4px rgb(0 0 0 / 30%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    min-height: 400px;
    padding: 28px;
    font-size: 16px;
    font-weight: 700;
}
.auditionInfoTopName{
     font-size: 22px;
    font-weight: 800;
    margin-bottom: 20px;
    min-height: 60px;
    max-height: 185px;
    overflow: hidden;
}
.auditionApply{
    box-shadow: 0 0px 4px rgb(0 0 0 / 30%);
    margin-top: 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;  
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    background-color: #e95318;
    color: #fff;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
.auditionApplyMobile{
    box-shadow: 0 0px 4px rgb(0 0 0 / 30%);
    border-radius: 5px;
    -webkit-border-radius: 5px;  
    height: 40px;
    font-size: 16px;
    font-weight: 700;
    background-color: #e95318;
    color: #fff;
    text-align: center;
    line-height: 40px;
    cursor: pointer; 
}
.goodsTopInfoTable {
    line-height: 2.0;
    font-size: 14px;
    font-weight: 800;
}
.goodsTopInfoTable th {
    font-size: 16px;
    font-weight: 700;
    min-width: 85px;
    text-align: left;
    vertical-align: top;
}
.goodsTopInfoTable td {
    font-size: 16px;
    font-weight: 700;
    color: #666;
}
.auditionText img{
    width: 100% !important;
    border-radius: 3px;
    -webkit-border-radius:3px;
}
.auditionApplyBtnNone{
	box-shadow: 0 0px 4px rgb(0 0 0 / 5%);
	background-color: #EAEAEA;	
}
.goodsTopInfo {
    padding: 18px 15px 20px 15px;
    font-size: 14px;
    font-weight: 400;
    width:100%;
}
.goodsTopTitle {
    font-size: 18px;
    font-weight: 700;
}
.goodsTopSub {
    margin-top: 20px;
}
.goodsDivision1 {
    background-color: #F3F3F3;
    height: 7px;
    width:100%;
}
.goodsTopButtonDiv {
	width:100%;
    padding: 0px 18px 20px 18px;
    text-align: center;
    overflow: hidden;
}
@media (max-width: 992px){
    .auditionInfoPc{
        display: none;
    }
    .auditionDetailThumnailImg{
        max-height: 375px;
        border-radius: 0px !important;
        -webkit-border-radius:0px;
    }
    .auditionImgMobile{
        padding: 0px;
    }
    .hrPc{
        display: none;
    }
    .auditionText{
        margin-top: 20px;
    }
    .goodsTopButtonDiv{
        display: show;
    }
    .auditionApply{
        display: none;
    }
    .auditionApplyMobile{
		display:show;
	}
	.goodsContentsDescription {
	    padding: 0px 15px 0px 15px;
	    line-height: 1.5;
	}
}

@media (min-width: 992px){
    .auditionInfoPc{
        display: show;
    }
    .hrPc{
        display: show;
    }
    .goodsTopInfo{
        display: none;
    }
    .goodsDivision1{
        display: none;
    }
    .goodsTopButtonDiv{
        display: none;
    }
    .auditionApply{
        display: show;
    }
    .auditionDetailContainer{
		margin-top: 20px;
	}
	.goodsContentsDescription{
		padding-right: 15px;
    	padding-left: 15px;;
	}
}