<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<th:block layout:fragment="content">	

<!-- Javascript functions	-->
<script type="text/javascript">
    
	document.addEventListener("DOMContentLoaded", function(){
	    $('#listBody').empty();
	    $('#pagination').empty();
	    
	    
		/*<![CDATA[*/
		
		var seq = "[[${condition.seq}]]";
		var searchUserName = "[[${condition.searchUserName}]]";
		var userId = "[[${condition.userId}]]";
		var dDay = "[[${condition.dDay}]]";
		var skinId = "[[${condition.skinId}]]";
		
		var page = "[[${condition.page}]]";
		var perPageNum = "[[${condition.perPageNum}]]";
		
		/*]]>*/
		
		if(seq != "0"){
			$('#seq').val(seq);	
		}
 		
 		$('#userId').val(userId);
 		$('#searchUserName').val(searchUserName);
 		$('#dDay').val(dDay);
 		$('#skinId').val(skinId);
	    
		
		search(page, perPageNum);
	});    
	
	function goDetail(contentId){
		location.href="/w1/skin/detail/"+contentId;
	}
	
	function search(page, perPageNum){
		var seq = $('#seq').val();
		var searchUserName = $('#searchUserName').val();
		var dDay = $('#dDay').val();
		var skinId = $('#skinId').val();
		
		var param = {};
	    param.seq = seq;
	    param.searchUserName = searchUserName;
	    param.dday = dDay;
	    param.skinId = skinId;
	    
	    if(page !=null){
	    	param.page = page;
	    }
	    
	    if(perPageNum !=null){
	    	param.perPageNum = perPageNum;
	    }	    
	    
	    param = JSON.stringify(param);
		
	    $('#listBody').empty();
	    $('#pagination').empty();
	    
		$.ajax({
	        url : "/w1/skin/list",
	        data : param,
	        type : 'post',
	        contentType:"application/json; charset=UTF-8",
	        dataType:"json",
	        success : function(data){
	            var results = data.list;
	            var rows = "";
	            $.each(results, function(index, item) {
	            	
	            	rows = rows + getRow(item);
	            	
					//console.log(item.content.seq);
					//console.log(item.count.viewCnt);
				});	            
	            	            
	            $('#listBody').append(rows);
	            
	            var paging = getPageDiv(data.paging);	            
	            $('#pagination').append(paging);
	            
	            //console.log(results); 
	            //console.log(data.paging);
	        },
	        error : function(e){
	        	console.log(e);
	        }
	    });
	}
	
	function getRow(skin){
		var row = "\n";
		row = row + "<tr class='even pointer'>                                     ";   
        row = row + "  <td class='a-center ' style='vertical-align: middle;'>                                      ";
        row = row + "    <input type='checkbox' class='flat' name='table_records'> ";
        row = row + "  </td>                                                       ";
        row = row + "  <td class='' style='vertical-align: middle;'><a href='#' onClick='goDetail(\"" + skin.skinid + "\")'>"+ skin.seq + "</a></td>         ";
        //row = row + "  <td class=''>"+ skin.aiurl + "</td>                 ";
        
        row = row + "<td class='' style='vertical-align: middle;'><img src='" + skin.aiurl + "' class='img-responsive img-rounded' style='width:70px;height:75px;'></td>";
        
        row = row + "  <td class='' style='vertical-align: middle;'>"+ skin.userName + "</td>                         ";
        row = row + "  <td class='' style='vertical-align: middle;'>"+ skin.dday + "</td>                                        ";
        //row = row + "  <td class='' style='vertical-align: middle;'>"+ skin.totalScore + "</td>                                     ";
        row = row + "  <td class='' style='vertical-align: middle;'>"+ skin.decimalTotal + "</td>                                     ";
        row = row + "  <td class='' style='vertical-align: middle;'>"+ skin.wrinkleScore + "</td>                                     ";
        row = row + "  <td class='' style='vertical-align: middle;'>"+ skin.pigmentScore + "</td>                                     ";
        row = row + "  <td class='' style='vertical-align: middle;'>"+ skin.troubleScore + "</td>                                      ";
        row = row + "  <td class='' style='vertical-align: middle;'>"+ skin.poreScore + "</td>                                        ";
        row = row + "  <td class='last' style='vertical-align: middle;'>"+ skin.rednessScore + "</td>                                        ";
        row = row + "  </td>                                                       ";
        row = row + "</tr>                                                         ";
		
		return row;
	}
	
</script>

 <div class="x_content"> 
  <div class="row">
	<label class="control-label col-md-1 col-sm-1 ">분석 순번<span class="required">*</span></label>
	<div class="col-md-4 col-sm-4 ">
		<input type="text" id="seq" name="seq" class="form-control ">				
	</div>
	<label class="control-label col-md-1 col-sm-1 ">사용자</label>
	<div class="col-md-4 col-sm-4 ">		
		<input type="text" id="searchUserName" name="searchUserName" class="form-control ">
	</div>
  </div>
  <div class="row">
	<label class="control-label col-md-1 col-sm-1 ">분석 일자</label>	
	<div class="col-md-4 col-sm-4 ">
		<input type="text" id="dDay" name="dDay" class="form-control ">
	</div>
	<label class="control-label col-md-1 col-sm-1 ">Skin ID</label>
	<div class="col-md-3 col-sm-3 ">		
		<input type="text" id="skinId" name="skinId" class="form-control ">
	</div>
	<div class="col-md-1 col-sm-1 center">
		<button type="button" class="btn btn-round btn-primary" onClick="search()">조회</button>
	</div>
	
  </div>  
  <p><h5></h5></p>
  <span class="section" style="text-align: right;padding-right: 10px;"></span>
    
  <div class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
      <thead>
        <tr class="headings">
          <th>
            <input type="checkbox" id="check-all" class="flat">
          </th>
          <th class="column-title">순번 </th>
          <th class="column-title">분석이미지</th>
          <th class="column-title">사용자</th>
          <th class="column-title">분석일자</th>
          <th class="column-title">total</th>
          <th class="column-title">주름</th>
          <th class="column-title">색소침착</th>
          <th class="column-title">트러블</th>
          <th class="column-title">모공</th>
          <th class="column-title">홍조</th>                    
          <th class="bulk-actions" colspan="10">
            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
          </th>
        </tr>
      </thead>

          <tbody id="listBody">           

<!--
            <tr class="odd pointer">
              <td class="a-center ">
                <input type="checkbox" class="flat" name="table_records">
              </td>
              <td class=" "><a href="#">100</a></td>
              <td class=" ">Feed</td>
              <td class=" ">홍길동</td>
              <td class=" ">제목</td>
              <td class=" ">공개유형</td>
              <td class="">댓글여부</td>
              <td class="">활성화</td>
              <td class="">상태</td>
              <td class="">10</td>
              <td class="">1</td>
              <td class="last">0</td>              
              </td>
            </tr>
-->       
            
          </tbody>
        </table>
      </div>
      <div class="col-md-12 col-sm-12" id="pagination" style="display: flex;justify-content: center;">
		   <div class="row">
             <div class="btn-group" role="group">
               <button type="button" class="btn btn-secondary">이전</button>
               
               <button type="button" class="btn btn-secondary">1</button>
               <button type="button" class="btn btn-secondary">2</button>
               <button type="button" class="btn btn-secondary">3</button>
               
               <button type="button" class="btn btn-secondary">다음</button>
             </div>
           </div>
      </div>           
    </div>
  </div>
</div>

      
</th:block>
</html>