<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorator="layout/layout">
<head>
    <!-- 로컬적용 css-->
    <link rel="stylesheet" href="/static/css/auth/join.css">
    <link rel="stylesheet" href="/static/css/client/join.css"/>
</head>

    
    <section layout:fragment="content">
        <div id="l_join_pop" class="container">
            <div class="lp_con">
                <div class="contents">
                    <div class="title2">
                         <span>WHO</span> ARE YOU?
                    </div>
                    <div class="text">
                    </div>
                    <div class="title_menu">
                        <div class="tm_l_con" onclick="location.href='/join/client'">
                            <p class="m-0">Client</p>
                            고용하고 싶어요!
                        </div>
                        <div class="tm_r_con" onclick="location.href='/join/freelancer'">
                            <p class=m-0>Freelancer</p>
                            일하고 싶어요!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    

</html>