<!DOCTYPE html>
<html class="side-header-hamburguer-sidebar side-header-hamburguer-sidebar-right side-header-above side-header-right-no-reverse" lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="프리랜서코리아">
    <meta property="og:description" content="대한민국 크라우드소싱 플랫폼">
    <meta property="og:image" content="http://www.freelancerk.com/static/images/banner_new.png">
    <meta property="fb:app_id" content="690678911131522">
    <meta property="og:url" content="https://www.freelancerk.com" />


    <title>F+PLUS</title>  

    <meta name="keywords" content="프리랜서코리아, 크라우드소싱플랫폼" />
    <meta name="description" content="대한민국 크라우드소싱 플랫폼">
    <meta name="author" content="프리랜서코리아">
    <meta name="naver-site-verification" content="e43e72eaa788db600d47a9f3da8f7e8f265f2cac"/>

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap&subset=korean" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css"rel="stylesheet" type="text/css">
    <link href="//db.onlinewebfonts.com/c/67680f2eb947c5cbd58b40961b4a61e9?family=Apple+SD+Gothic+Neo" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800&display=swap&subset=korean" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Spectral:600,600i,700,700i&display=swap&subset=latin-ext" rel="stylesheet">

    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link rel="stylesheet" href="/static/vendor/simple-line-icons/css/simple-line-icons.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/images/favi.ico" type="image/x-icon" />

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no">


    <!-- 전역적용 css -->
    <link rel="stylesheet" href="/static/css/plugin/jquery/ui/1.12.1/jquery-ui.min.css">
    <link rel="stylesheet" href="/static/css/common/reset.css">
    <link rel="stylesheet" href="/static/css/common/common.css">
    <link rel="stylesheet" href="/static/css/common/header.css">
    <link rel="stylesheet" href="/static/css/common/navigation.css">
    <link rel="stylesheet" href="/static/css/common/custom_component.css">
    <link rel="stylesheet" href="/static/css/common/style.css">
    <link rel="stylesheet" href="/static/css/common/animate.css">
    <link rel="stylesheet" href="/static/css/common/card.css">
    <link rel="stylesheet" href="/static/css/common/message.css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="/static/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="/static/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="/static/vendor/bootstrap-star-rating/css/star-rating.min.css">
    <link rel="stylesheet" href="/static/vendor/bootstrap-star-rating/themes/krajee-fas/theme.min.css">

    <!-- Specific Page Vendor CSS -->
    <link rel="stylesheet" href="/static/vendor/pnotify/pnotify.custom.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/static/css/tmp/theme.css" />
    <link rel="stylesheet" href="/static/css/tmp/theme-elements.css">
    <link rel="stylesheet" href="/static/css/tmp/theme-blog.css">
    <link rel="stylesheet" href="/static/css/tmp/theme-shop.css">

    <!-- Skin CSS -->
    <link rel="stylesheet" href="/static/css/tmp/skins/default.css" />
    <link rel="stylesheet" href="/static/vendor/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="/static/vendor/rs-plugin/css/layers.css">
    <link rel="stylesheet" href="/static/vendor/rs-plugin/css/navigation.css">

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="/static/css/tmp/custom.css">
    <link rel="stylesheet" href="/static/css/auth/main.css">
    <link rel="stylesheet" href="/static/css/common/card.css">
    <link rel="stylesheet" href="/static/css/common/category.css">
    
     <link rel="stylesheet" href="/static/css/auth/joinFreelancer.css">
    <link rel="stylesheet" href="/static/css/auth/privacy.css">
    <link rel="stylesheet" href="/static/css/freelancer/join.css"/>
	<link rel="stylesheet" href="/static/css/auth/loginFreelancer.css">
	<link rel="stylesheet" href="/static/css/client/join.css"/>

    

    <!-- Head Libs -->

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.appear/0.4.1/jquery.appear.min.js"></script>

    <!-- 전역적용 Js -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.3/mobile-detect.min.js"></script>
    <script src="/static/js/plugin/jquery/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/detail-common.js"></script>
    <script src="/static/js/plugin/bootstrap/4.0.0/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="/static/js/jquery.uploadPreview.min.js"></script>
    <script src="/static/js/datePicker.js"></script>

    <title>F+PLUS</title>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-52R8MD5');</script>
    <!-- End Google Tag Manager -->
    <!-- Google Tag Manager (noscript) -->
<!--    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-52R8MD5"-->
<!--                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>-->
    <!-- End Google Tag Manager (noscript) -->
</head>
<body style="padding-top:58px;">

   <!-- FPlus 로그인 헤더 -->
	<th:block th:if="${loggedIn != null && loggedIn}">
        <header th:replace="fragments/headerFPlus :: header">
            <p>This is default header area for default layout</p>
        </header>
        <header id="header" class="side-header side-header-lg side-header-hide">
            <div class="header-body">
                <div class="header-container container d-flex h-100 p-0">
                    <div class="header-column flex-lg-column justify-content-center h-100" style="overflow-y: scroll;">
                        <div class="header-row header-row-side-header flex-row h-100 pb-3">
                            <button class="hamburguer-btn hamburguer-btn-side-header active" data-set-active="false" style="z-index: 100">
                                <span class="close">
                                    <span></span>
                                    <span></span>
                                </span>
                            </button>
                            <div class="side-header-scrollable scrollable colored-slider h-100" data-plugin-scrollable>
                                <div class="scrollable-content p-0 h-100">
                                    <div class="header-nav header-nav-links header-nav-links-side-header header-nav-links-vertical header-nav-links-vertical-expand header-nav-click-to-open align-self-start h-100">
                                        <div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-4 header-nav-main-sub-effect-1 h-100" style="padding:5px;">
                                            <nav class="d-none d-md-block h-100" style="padding:1rem;">
                                                <div class="my_menu" style="width: 100%;">
                                                    <div class="card">
                                                        <div class="card_top">
                                                            <div class="profile_img">
                                                                <div class="profile_img_crop">
                                                                    <div class="center-crop-wrapper rounded">
                                                                        <img class="card-img-top rounded" th:src="@{${(#strings.isEmpty(user?.profileImageUrl)?'/static/images/default_avatar.jpg':user?.profileImageUrl)}}">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="info">
                                                                <div class="username member" th:text="${user.name}"></div>
                                                                <span class="badge" style="color:#303038">가입일시</span>
                                                                <div class="par"> 
                                                                    <span id="allpjt_num" class="count" th:text="${user.createdAt}" style="color:#303038;"></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="card_middle">
                                                        </div>
                                                        <div class="card_bottom">
                                                        </div>
                                                    </div>
                                                </div>
                                                <ul class="nav nav-pills" id="mainNav">
                                                     <li class="dropdown">
                                                        <a href="/noticef/list" class="dropdown-item">
                                                            <span>공지사항</span>
                                                        </a>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="/logout" class="dropdown-item" style="color:  #1f87cc;">
                                                            <span>로그아웃</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </th:block>
    <!-- FPlus 로그인 헤더//-->
    <!-- 비로그인 헤더 -->
    <th:block th:if="${loggedIn == null || !loggedIn}" >
        <div style="position:fixed;width:100%;top:0;height: 58px; z-index: 1000!important;">
            <div class="bg-gray container-fluid border-bottom p-0" style="height:58px;">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-2">
                            <div class="">
                                <a href="/fplus">
                                    <img alt="프리랜서코리아" class="header_main_logo" width="120" src="/static/img/fplus_logo.png">
                                </a>
                            </div>
                        </div>
                        <div class="col-10 header-column p-0">
                            <nav class="d-none d-lg-flex justify-content-between">
                                <ul class="nav nav-pills">
                                    <li class="dropdown align-self-center">
                                        <a class="dropdown-item" href="/noticef/list"  style="padding:0.5rem 1rem;">
                                            공지사항
                                        </a>	
                                    </li>
                                </ul>
                                <ul class="nav nav-pills" id="mainNav">
                                    <li class="dropdown align-self-center">
                                        <a class="dropdown-item" href="/login/fplus" style="padding:0.5rem 1rem;">
                                            로그인
                                        </a>
                                    </li>
                                    <li class="dropdown align-self-center">
                                        <a class="dropdown-item" href="/join/fplus" style="padding:0.5rem 1rem;">
                                            회원가입
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="d-flex justify-content-end">
                                <button class="d-block d-lg-none hamburguer-btn hamburguer-btn-dark hamburguer-btn-sticky-dark" data-set-active="false">
                                    <!-- <span class="new_noti_point">●</span> -->
                                    <span class="hamburguer">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <header id="header" class="side-header side-header-lg side-header-hide d-flex d-lg-none">
            <div class="header-body">
                <div class="header-container container d-flex h-100 p-0">
                    <div class="header-column flex-lg-column justify-content-center h-100">
                        <div class="header-row header-row-side-header flex-row h-100 pb-5 mt-5">
                            <button class="hamburguer-btn hamburguer-btn-side-header active" data-set-active="false">
                                <span class="close">
                                    <span></span>
                                    <span></span>
                                </span>
                            </button>
                            <div class="side-header-scrollable scrollable colored-slider" data-plugin-scrollable>
                                <div class="scrollable-content p-0">
                                    <div class="header-nav header-nav-links header-nav-links-side-header header-nav-links-vertical header-nav-links-vertical-expand header-nav-click-to-open align-self-start">
                                        <div class="header-nav-main header-nav-main-square header-nav-main-dropdown-no-borders header-nav-main-effect-4 header-nav-main-sub-effect-1">
                                            <nav class="d-none d-md-block" style="padding: 1rem;">
                                                <ul class="nav nav-pills p-0" id="mainNav">
                                                    <li class="dropdown text-uppercase">
                                                        <a class="dropdown-item" href="/noticef/list">
                                                            공지사항
                                                        </a>
                                                    </li>
                                                    <li class="dropdown text-uppercase">
                                                        <a class="dropdown-item" href="/login/fplus">
                                                            로그인
                                                        </a>
                                                    </li>
                                                    <li class="dropdown text-uppercase">
                                                        <a class="dropdown-item" href="/join/fplus">
                                                            회원가입
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </th:block>
    <!-- 비로그인 헤더// -->

	<div id="f_login" class="contents">
		<div class="top_area">
			<!--<div class="img">
				<img src="/static/images/icon_free.gif">
			</div>-->
			<div class="title">
				<!--<span>F+ Actor</span> Login-->
				<span style="color:#EA5335;">LOGIN</span>
			</div>
		</div>
		<form id="form" action="/login" role="form" method="post">
			<div class="middle_area">
				<input type="hidden" name="" value="freelancer">
				<div class="input">
					<div class="box">
						<input type="text" name="username" value="" class="en-priority" placeholder="이메일" required title="이메일" style="ime-mode:inactive;" >
					</div>
					<div class="box">
						<input type="password" name="password" value="" class="en-priority" placeholder="패스워드" required title="패스워드" style="ime-mode:inactive;" >
					</div>
					<div class="login-failure-container"></div>
				</div>
				<div class="other_action" style="margin-top: 10px;">
					<div class="auto_login">
					 	<input type="hidden" name="redirectUrl" value="/fplus" />
						<input type="hidden" name="role" value="ROLE_FREELANCER" />
						<input type="hidden" name="authType" value="EMAIL" />
						<input type="hidden" name="fpUser" value="Y" />
						<input type="hidden" name="redirectUrl" th:value="${redirectUrl}" />
	                    <div class="custom-control custom-checkbox">
	                        <input type="checkbox" class="custom-control-input" name="RememberMe" value="1" id="auto_freelancer_login_btn" data-text="auto_freelancer_login_btn">
	                        <label class="custom-control-label" for="auto_freelancer_login_btn">자동로그인</label>
	                    </div>
					</div>
					<div class="join_n_findpw">
						<span class="join" onclick="location.href='/join/fplus'">회원가입</span>
						<span>/</span>
						<a class="findpw" href="javascript:window.open('/findPassword')">
							패스워드를 잊으셨나요?
						</a>
					</div>
				</div>
				<div class="btn_login">
					<input class="btn btn_lg btn-secondary" type="submit" value="로그인" style="background-color:#EA5335;">
				</div>
			</div>
			
	    </form>
	</div>
	
	<script th:inline="javascript">
		var kakaoAppId = [[${kakaoAppId}]];
		var facebookAppId = [[${facebookAppId}]];
		var naverClientId = [[${naverClientId}]];
		var naverCallbackUrl = serverUrl + '/callback/oauth2/naver?role=ROLE_FREELANCER&type=LOGIN';

	</script>
	<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
	<script type="text/javascript" src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.0.js" charset="utf-8"></script>
	<script src="/static/js/thirdparty-common.js"></script>
	<!-- 로컬적용 script -->
	<script src="/static/js/freelancer/login.js"></script>
	<script>
		function loginWithFb() {
			FB.login(function(response) {
				if (response.authResponse) {
					var accessToken = response.authResponse.accessToken;
					FB.api('/me', function(response) {
						console.log(response);
						var userId = response.id;
						$('#form input[name=username]').val(userId);
						$('#form input[name=authType]').val('FACEBOOK');
						var formData = new FormData();
						formData.append('username', $('input[name=username]').val());
						formData.append('role', 'ROLE_FREELANCER');
						formData.append('authType', 'FACEBOOK');
						formData.append('redirectUrl', $('input[name=redirectUrl]').val());
						$.ajax({
							type: "POST",
							url: $('#form').attr('action'),
							data: formData,
							processData: false,
							contentType: false,
							success: function(data)
							{
								location.href = '/freelancer/profile/index';

							},
							error: function(jqXHR, textStatus) {
								alert('가입정보가 없습니다.');
							}
						});
					});
				} else {
					console.log('User cancelled login or did not fully authorize.');
				}
			});
		}

		function loginWithKakao() {
			Kakao.Auth.login({
				success: function(authObj) {
					Kakao.API.request({
						url: '/v2/user/me',
						success: function(res) {
							console.log(JSON.stringify(res));
							console.log(JSON.stringify(authObj));
							var userId = res.id;
							$('input[name=username]').val(res.id);
							$('input[name=authType]').val('KAKAO');

							var formData = new FormData();
							formData.append('username', $('input[name=username]').val());
							formData.append('role', 'ROLE_FREELANCER');
							formData.append('authType', 'KAKAO');
							formData.append('redirectUrl', $('input[name=redirectUrl]').val());
							$.ajax({
								type: "POST",
								url: $('#form').attr('action'),
								data: formData,
								processData: false,
								contentType: false,
								success: function(data)
								{
									location.href = '/freelancer/profile/index';

								},
								error: function(jqXHR, textStatus) {
									alert('가입정보가 없습니다.');
								}
							});
							console.log(res.id);
							console.log(res.kaccount_email);
							console.log(res.properties['nickname']);
							console.log(authObj.access_token);
						}
					})
				},
				fail: function(err) {
					console.log(JSON.stringify(err));
				}
			});
		};

		function loginWithNaver() {
			var authorizeUrl = naverLogin.generateAuthorizeUrl();
			var popup = window.open(authorizeUrl, "", "width=400,height=500");
			popup.onbeforeunload = function(){
				location.reload();
				return null;
			}
		}

		function reload() {
			location.href = '/freelancer/profile/index';
		}
	</script>
	<script async defer src="https://connect.facebook.net/ko_KR/sdk.js"></script>
	
    <!-- 푸터 -->
    <footer th:replace="fragments/footer :: footer">
        <p>This is default footer area for default layout</p>
    </footer>
    <!-- 푸터//-->


    <script th:inline="javascript">
        var category1stId = [[${category1stId}]];
        var category2ndId = [[${category2ndId}]];
        var loggedIn = [[${loggedIn}]];
        var isLoggedIn = [[${loggedIn}]];
        var loginAsClient = [[${loginAsClient}]];
        var userInfoInput = [[${user?.infoInput}]];
        var userId = [[${user?.id}]];

        var message = [[${message}]];
        if (message && message === 'DIRECT_DEAL_NEED_LOGIN') {
            // alert('직거래 포트폴리오는 로그인 후 열람하실 수 있습니다. 1분이면 회원가입이 가능합니다. :)');
        }
    </script>
    <script>
        function showDiv(divId, element)
        {
            document.getElementById(divId).style.display = element.value == 3 ? 'block' : 'none';
        }
    </script>

    <!-- <script src="/static/js/jquery.js"></script> -->
    <script src="/static/js/main.js"></script>
    <script src="/static/js/portfolio-common.js"></script>

    <!-- Vendor -->
    <script src="/static/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="/static/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/static/vendor/common/common.js"></script>
    <script src="/static/vendor/nanoscroller/jquery.nanoscroller.js"></script>
    <script src="/static/vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="/static/vendor/jquery-placeholder/jquery-placeholder.js"></script>
    <script src="/static/vendor/jquery.appear/jquery.appear.min.js"></script>
    <script src="/static/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/static/vendor/jquery.cookie/jquery.cookie.min.js"></script>
    
    <script src="/static/vendor/jquery.validation/jquery.validate.min.js"></script>
    <script src="/static/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="/static/vendor/jquery.gmap/jquery.gmap.min.js"></script>
    <script src="/static/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
    <script src="/static/vendor/isotope/jquery.isotope.min.js"></script>
    <script src="/static/vendor/owl.carousel/owl.carousel.min.js"></script>
    <!-- <script src="/static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script> -->
    <script src="/static/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script src="/static/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script src="/static/vendor/bootstrap-star-rating/js/star-rating.min.js"></script>
    <script src="/static/vendor/bootstrap-star-rating/themes/krajee-fas/theme.min.js"></script>
    <!-- Theme Base, Components and Settings -->
    <script src="/static/js/tmp/theme.js"></script>
    
    <!-- Theme Custom -->
    <script src="/static/js/tmp/custom.js"></script>
    
    <!-- Theme Initialization Files -->
    <script src="/static/js/tmp/theme.init.js"></script> 

</body>
</html>