<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet">
<link rel="stylesheet" href="/static/css/common/reset.css">
<link rel="stylesheet" href="/static/css/common/common.css">
<link rel="stylesheet" href="/static/css/common/main.css">
<link rel="stylesheet" href="/static/css/login.css">


<div id="d_login">
	<form name="" action="" method="post">
		<div>
			<div>
				<img src="/static/images/login_logo.png" id="login_logo">
			</div>
			<input type="text" name="username" value="" id="" class="inputbox" required="" placeholder="아이디"><br>
			<input type="password" name="password" class="inputbox" required="" placeholder="비밀번호"><br>
			<input type="submit" class="btn" value="로그인">
		</div>
	</form>
</div>