<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1.0,  maximum-scale=1, user-scalable=no"/>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<title>프리랜서코리아</title>
<div class="container">
    <div class="alert alert-danger" role="alert" style="margin-top: 80px;">
        만료된 링크 입니다. <a href="http://www.freelancerk.com">홈페이지 방문하기</a>
    </div>
</div>
</html>