<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layout/layout">
<head>
	<!-- 로컬적용 css -->
	<link rel="stylesheet" href="/static/css/client/project/done/view.css">
</head>


	<div layout:fragment="content">

		<!-- 페이지헤더 -->
		<section class="page-header page-header-modern bg-color-light-scale-1 page-header-md mb-0">
			<div class="container">
				<div class="row">
					<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
						<h1 class="text-dark">
							<strong>완료된 프로젝트</strong>
						</h1>
					</div>
					<div class="col-md-4 order-1 order-md-2 align-self-center mb-2 mb-md-0">

					</div>
				</div>
			</div>
		</section>
		<!-- 페이지헤더 //-->

		<!-- 탭메뉴 -->
	    <section class="tabs tabs-bottom tabs-center tabs-simple" style="border-bottom: 3px solid #eee;background-color: #f7f7f7">
	        <div class="container" style="margin-bottom: -3px;">
	            <ul class="nav nav-tabs justify-content-start mb-0 font-weight-bold">
	                <li class="nav-item mb-0">
					<a th:href="@{/client/project/processingList}" class="nav-link d-flex">
						<span>낙찰 후 진행중인 프로젝트</span>
						<span class="count_alarm" th:text="${processingCount}"></span>
					</a>
				</li>
				<li class="nav-item mb-0 active">
					<a th:href="@{/client/project/doneList}" class="nav-link d-flex">
						<span>완료된 프로젝트</span>
						<span class="count_alarm" th:text="${items.content.size()}"></span>
					</a>
				</li>
	            </ul>
	        </div>
	    </section>
	    <!-- 탭메뉴// -->

	    <section>
			<div class="container">
				<div class="content-body">
					<section class="row mb-3">
						<p class="col-md-6">총 <span class="text-primary" th:text="${items.content.size()}"></span> 건의 프로젝트가 있습니다.
						</p>
					</section>

					<section class="">

						<!-- 평가그래프 영역 -->
						<div class="score_graph">
                            <div class="">
                                <div class="form-row">
                                    <div class="col-lg-4">
                                        <div class="row counters align-self-center w-100">
                                            <div class="col-6 mb-4 mb-lg-0 text-center">
                                                <div class="label">완료 건 수</div>
                                                <img src="/static/images/icon/completed.png">
                                                <div class="count-text"><span th:text="${#numbers.formatInteger(user.completedProjectCount, 0, 'COMMA')}"></span>건</div>
                                            </div>
                                            <div class="col-6 mb-4 mb-lg-0 text-center">
                                                <div class="label">프로젝트 누적금액</div>
                                                <img src="/static/images/icon/profit.png">
                                                <div class="count-text"><span th:text="${#numbers.formatInteger(completedAmount, 0, 'COMMA')}"></span>원</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                    	<!-- <div class="text-4 font-weight-bold mb-2"><i class="fas fa-angle-right mr-1 text-primary"></i> 내가 받은 평가(프로젝트)</div> -->
                                    	<div class="text-center">
	                                        <div class="circular-bar">
	                                            <div class="circular-bar-chart" th:attr="data-percent=|${type1Rate}|" data-plugin-options="{'size': 110, 'lineWidth': 10, 'barColor': '#0088CC'}" style="margin-top:10px;width: 110px;height: 110px;">
	                                                <strong th:text="|${type1Rate}%|"></strong>
	                                                <label>전반적인<br>만족도</label>
	                                            </div>
	                                        </div>
	                                        <div class="circular-bar">
	                                            <div class="circular-bar-chart" th:attr="data-percent=|${type2Rate}|" data-plugin-options="{'size': 110, 'lineWidth': 10, 'barColor': '#0088CC'}" style="margin-top:10px;width: 110px;height: 110px;">
	                                                <strong th:text="|${type2Rate}%|"></strong>
	                                                <label>존중하는<br>태도</label>
	                                            </div>
	                                        </div>
	                                        <div class="circular-bar">
	                                            <div class="circular-bar-chart" th:attr="data-percent=|${type3Rate}|" data-plugin-options="{'size': 110, 'lineWidth': 10, 'barColor': '#0088CC'}" style="margin-top:10px;width: 110px;height: 110px;">
	                                                <strong th:text="|${type3Rate}%|"></strong>
	                                                <label>명확한<br>업무지시</label>
	                                            </div>
	                                        </div>
	                                        <div class="circular-bar">
	                                            <div class="circular-bar-chart" th:attr="data-percent=|${type4Rate}|" data-plugin-options="{'size': 110, 'lineWidth': 10, 'barColor': '#0088CC'}" style="margin-top:10px;width: 110px;height: 110px;">
	                                                <strong th:text="|${type4Rate}%|"></strong>
	                                                <label>신뢰성<br>(대금관련)</label>
	                                            </div>
	                                        </div>
	                                        <div class="circular-bar">
	                                            <div class="circular-bar-chart" th:attr="data-percent=|${type5Rate}|" data-plugin-options="{'size': 110, 'lineWidth': 10, 'barColor': '#0088CC'}" style="margin-top:10px;width: 110px;height: 110px;">
	                                                <strong th:text="|${type5Rate}%|"></strong>
	                                                <label>소통<br>능력</label>
	                                            </div>
	                                        </div>
	                                    </div>
	                                    <div class="mt-2 text-center text-md-right"><i class="fas fa-exclamation-circle" style="font-size: 13px;color : #e36159"></i> 컨테스트는 클라이언트 평가가 없습니다.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
						<!-- 평가그래프 영역// -->

					</section>

					<section>
						<th:block th:each="item: ${items.content}">
						
							<!-- 프로젝트 리스트 -->
							<article class="project list_card bg-white post post-medium" th:if="${item.projectType.name() == 'PROJECT'}">
								<div class="row">
									<!-- <div class="col-lg-3 d-flex justify-content-center">
										<div class="c_logo_img" th:style="|${'background-image: url(' + (#strings.isEmpty(item.postingClient.logoImageUrl)?'/static/images/project_logo_new.png':item.postingClient.logoImageUrl) + ')'}; background-position: center;background-size: contain;|"></div>
									</div> -->
									<div class="col-12">
										<div class="card_title_date">
											<div class="title" th:text="${item.title}">
											</div>
											<div class="date">
												<span th:text="|마감일 : ${#temporals.format(item.completedAt, 'yyyy.MM.dd')}|"></span>
											</div>
										</div>
										<div class="cellbox">
											<div class="cell">
						    					<span class="list_deco">▪︎</span>
						    					낙찰금액 <span class="font_emp" th:text="|*{#numbers.formatInteger(item.successBidPrice, 0, 'COMMA')}원|"></span>
						    				</div>
						    				<div class="cell">
						    					<span class="list_deco">▪︎</span>
						    					예상프로젝트기간 <span class="font_emp" th:text="${item.expectedPeriodTxt}"></span>
						    				</div>
											<div class="cell">
												<span class="list_deco">▪︎</span>
												급여방식 <span class="font_emp"><span th:text="${item.payMean?.shortName}"></span><span th:text="${item.budget}"></span></span>
											</div>
											<div class="cell">
												<span class="list_deco">▪︎</span>
												지급기준 <span class="font_emp" th:text="${item.payCriteria}"></span>
											</div>
											<div class="cell">
												<span class="list_deco">▪︎</span>
												작업장소 <span class="font_emp" th:text="${item.workPlace}"></span>
											</div>
								    	</div>
								    	<div class="action_line">
									    	<div class="row">
												<div class="col-12 text-right">
													<div aria-label="Buttons Group" class="btn-group" role="group">
														<button th:if="${item.lastPaymentToUser != null && item.lastPaymentToUser.status.name() == 'PAYED' && item.useEscrow}" class="btn btn-primary rounded-0" type="button" data-toggle="modal" data-target="#specModal" th:data-amount="${item.totalIncomeAmount}" th:data-project-id="${item.id}">명세서</button>
														<button th:if="${item.lastPaymentToUser != null && item.lastPaymentToUser.status.name() == 'ACCEPTED' && item.useEscrow}" class="btn btn-primary rounded-0" type="button" th:data-project-id="${item.id}">승인 대기 중</button>
														<button th:if="${item.useEscrow}" class="btn btn-light rounded-0" type="button" data-toggle="modal" data-target="#ratedModal" th:data-project-id="${item.id}" data-rater-type="FREELANCER">내가받은 평가</button>
														<button th:if="${item.useEscrow}" class="btn btn-light rounded-0" type="button" data-toggle="modal" data-target="#ratingModal" th:data-project-id="${item.id}" data-rater-type="CLIENT">내가 한 평가</button>
														<button class="btn btn-primary rounded-0" th:onclick="|projectDetail(${item.id})|">프로젝트 상세보기<i class="fas fa-angle-right"></i></button>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</article>
							<!-- 프로젝트 리스트//-->
							<!-- 컨테스트 리스트 -->
							<article class="contest list_card bg-white post post-medium" th:if="${item.projectType.name() == 'CONTEST'}">
								<div class="card-layout row">
									<!-- <div class="col-lg-3 d-flex justify-content-center">
										<div class="position-relative w-100">
											<div class="contest-sector">
			                                    <div class="wrap">
													<th:block th:each="contestSectorItem : ${item.contestSectors}">
														<span th:text="${contestSectorItem.contestSectorType.contestSectorMetaType.name}"></span>
													</th:block>
			                                        <span>Contest</span>
			                                    </div>
			                                </div>
			                                <div class="contest-img-top cover-img" th:style="|background:url(${item.contestSectorMetaTypeImageUrl}); background-position: center;background-size: cover;|"></div>
			                                <div class="contest-img-top"></div>
			                            </div>
									</div> -->
									<div class="col-12">
										<div class="card_title_date">
											<div class="title" th:text="${item.title}">
											</div>
											<div class="date">
												<span th:text="|마감일 : ${#temporals.format(item.completedAt, 'yyyy.MM.dd')}|"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="row mt-0 mt-lg-2">
									<div class="col-lg-12 accordion" id="accordion7">
										<div class="card card-default m-0">
											<div class="card-header">
												<h4 class="card-title m-0">
													<a class="accordion-toggle collapsed" th:attr="data-parent=|#accordion${item.id}|" data-toggle="collapse" th:href="@{|#collapse${item.id}one|}" aria-expanded="false">
														당선작품 확인 / 당선자와 프로젝트 진행
													</a>
												</h4>
											</div>
											<div class="collapse show" th:id="@{|collapse${item.id}one|}">
												<div class="card-body">
													<div class="list_g">
														<div class="list">
															<i class="fas fa-caret-right"></i>
															<span>당선자와 프로젝트를 진행해보세요.</span>
														</div>
														<div class="list">
															<i class="fas fa-caret-right"></i>
															<span>신규 프로젝트에 대한 단가 등을 협의하시고, 계약서를 작성하세요(자료실 샘플 참고)</span>
														</div>
													</div>
													<div class="pickedContestEntries row">
														<div class="wrap col-md-6 col-lg-4" th:each="bidItem, bidIter: ${item.pickedContestEntries}">
															<label class="mui-selectable-image">
																<input type="radio" name="bidItemForStartingProject" th:value="${bidItem.id}">
																<b class="indicator"></b>
																<b class="indicator-back"></b>
															</label>
															<div class="post-image w-100 text-1" style="align-self: flex-end;line-height: 15px;">
																<span class="image-cover" th:href="@{/view/contest-entries/__${bidItem.id}__/details/ajax}" data-ajax-on-modal data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}, 'mainClass': 'mfp-with-zoom', 'zoom': {'enabled': true, 'duration': 300}}">
																	<span class="thumb-info thumb-info-no-borders" >
																		<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons thumb-info-wrapper rounded-0" >
																			<img th:style="|${'background-image: url(' + bidItem.primaryContestEntryFileUrl + ')'}; background-position: center;background-size: cover;|" class="img-fluid border-radius-0">
																		</span>
																		<span class="thumb-info-title">
																			<span class="thumb-info-inner line-height-1" th:text="${bidItem.participant.exposeName}"></span>
																			<span class="thumb-info-type bg-dark">
																				<div th:text="${bidItem.participant.exposeEmail} ? ${bidItem.participant.email} : 비공개" style="line-height: 16px">
																	            </div>
																				<div th:text="${bidItem.participant.exposeCellphone} ? ${bidItem.participant.cellphone} : 비공개" style="line-height: 16px">
																				</div>
																			</span>
																		</span>
																	</span>
																</span>
															</div>
															<div class="comment-chat w-100" style="align-self: center;">
																<div id="comment">
																	<div class="comment-view">
																		<ul class="comments">
																			<li th:each="commentItem: ${bidItem.comments}" th:class="${#authentication.id == commentItem.user?.id?'send':'receive'}">
																				<div class="comment">
																					<div th:if="${#authentication.id == commentItem.user.id}" class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
																						<img th:src="@{${(#strings.isEmpty(commentItem.user.profileImageUrl)?'/static/images/c_basic.jpg':commentItem.user.profileImageUrl)}}" class="avatar">
																					</div>
																					<span class="comment-by" th:text="${#authentication.id == commentItem.user.id?'클라이언트':'프리랜서'}"></span>
																					<div class="comment-block media-body">
																						<div class="comment-arrow"></div>
																						<div th:if="${commentItem.type.name() == 'MESSAGE'}" th:text="${commentItem.content}"></div>
																						<a th:if="${commentItem.type.name() == 'FILE'}" target="_blank" th:href="${commentItem.fileUrl}" th:text="${commentItem.fileName}"></a>
																						<div class="date" th:text="${#temporals.format(commentItem.createdAt, 'yyyy.MM.dd')}"></div>
																					</div>
																					<div th:if="${#authentication.id != commentItem.user.id}" class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
																						<img src="/static/images/f_basic.jpg" class="avatar">
																					</div>
																				</div>
																			</li>
																		</ul>
																	</div>
																	<!-- 메시지//-->
																</div>
																<div class="d-flex" style="justify-content: space-between;">
																	<div class="d-flex">
																		<div class="align-self-center">
																			<div class="mr-2">
																				<i th:if="${bidIter.index + 1 == 1}" class="fas fa-trophy mr-1" style="color: #d73038" ></i>
																				<i th:if="${bidIter.index + 1 == 2}" class="fas fa-trophy mr-1" style="color: #edb508" ></i>
																				<i th:if="${bidIter.index + 1 == 3}" class="fas fa-trophy mr-1" style="color: #2e9de4" ></i>
																				<span th:text="|${bidIter.index + 1}위|"></span>
																				<span class="text-4 font-weight-bold" th:text="|*{#numbers.formatInteger(bidItem.amountOfMoney, 0, 'COMMA')}원|"></span>
																			</div>
																		</div>
																	</div>
																	<div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="action_line border-0">
							    	<div class="row">
							    		<div class="col-lg-6 d-flex">
											<div class="card_info align-self-center">
												<div class="content_wrap">
													<i class="fas fa-volume-up mr-2"></i>
													<mark>컨테스트가 성공적으로 <span class="text-secondary">'종료'</span>되었습니다</mark>
												</div>
											</div>
							    		</div>
										<div class="col-lg-6 text-right">
											<div aria-label="Buttons Group" class="btn-group" role="group">
												<button type="button" class="btn btn-light rounded-0 text-secondary" th:onclick="|startProjectWithFreelancer(${item.id})|">
													선택한 프리랜서와 프로젝트 진행
												</button>
												<button type="button" class="btn btn-secondary rounded-0" th:onclick="|javascript:location.href='/freelancer/contests/${item.id}/details'|">
													컨테스트 자세히보기
													<i class="fas fa-angle-right"></i>
												</button>
											</div>
										</div>
									</div>
								</div>
							</article>
							<!-- 컨테스트 리스트// -->
						</th:block>
					</section>
				</div>
				

			</div>
		</section>
		<script>
			$(document).ready(function(){
			    $(".comments").animate({ scrollTop: $(this).height() }, "slow");
  				return false;
			});
		</script>
		<th:block th:include="modal/rate-spec-modals"></th:block>

		<script src="/static/js/portfolio-common-popup.js"></script>
		<script src="/static/js/rate-spec-common.js"></script>
		<script src="/static/js/client/project/done/view.js"></script>
	</div>


</html>
