<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>프리랜서코리아 이메일</title>
</head>
<body>
<div class="email-container" style="padding: 2rem 1rem;max-width: 700px;margin: auto;">

    <!-- 헤더 -->
    <div class="header" style="display: block;padding-bottom:10px;border-bottom: 1px solid #ddd;">
        <img src="https://freelancerk.s3.ap-northeast-2.amazonaws.com/static/logo.png" style="max-width: 150px;">
        <span class="email-title" style="font-size:20px;font-weight: 600;margin-top: 0.3rem;float: right;">프코 알림</span>
    </div>
    <div style="display: block;clear: both;"></div>
    <div class="title" style="font-size: 25px;padding: 1rem 0;border-bottom: 1px solid #ddd;">
        2일 후 컨테스트 포스트가 자동 마감됩니다.
    </div>
    <!-- 헤더//-->

    <!-- 본문 -->
    <div class="discription" style="font-size: 17px;border-bottom: 1px solid #ddd;padding-top: 1rem;padding-bottom: 1rem;margin-bottom: 2.5rem;line-height: 1.5rem;">
        <div class="content" style="margin-bottom: 2rem;">
            <!-- <span class="date" th:text="${#temporals.format(project.postingStartAt, 'yyyy.MM.dd HH:mm:ss')}">2020.02.20 11:11:11</span> -->
            <span class="username" th:text="${client.exposeName}" style="font-weight: 700;margin-right: 0.5rem;line-height: 30px;">박은진</span>님께서 포스팅 하신 <span class="project_title" th:text="${project.title}" style="font-weight: 700;">캐릭터만들기</span> 프로젝트가<br/>
            2일 후 <span class="date" th:text="${#temporals.format(project.postingEndAtPlus7, 'yyyy.MM.dd HH:mm:ss')}">2020.02.20 11:11:11</span>에 자동 마감될 예정입니다.
            <br/><br/>

            <div class="bidder_count">입찰자 <span th:text="*{#numbers.formatInteger(project.numberOfApplyCount, 0, 'COMMA')}" style="font-weight: 700;color: #0088cc;">3</span>명이 있습니다.</div>

            마감일(D-0)이 지났으므로 더 이상의 시안 모집은 불가능하며, 현재의 출품작에 대한 저작권도 여전히 입찰자(지원자)에게 있다는 점을 주의해주십시오.<br/>
            자동 마감일(2일후)까지 선정을 부탁드리며, 자동 마감일 연장을 원하시는 경우 [결제관리]에서 옵션을 추가해주시기 바랍니다.
        </div>

    </div>
    
    <th:block th:include="email/bottom-button-container"></th:block>
    <!-- 본문//-->

    <th:block th:include="email/footer"></th:block>

</div>


</body>
</html>