<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>프리랜서 코리아 비밀번호 재설정</title>
</head>
<body>

<div class="email-container" style="padding: 2rem 1rem;max-width: 700px;margin: auto;">

    <!-- 헤더 -->
    <div class="header" style="display: block;padding-bottom:10px;border-bottom: 1px solid #ddd;">
        <img src="https://freelancerk.s3.ap-northeast-2.amazonaws.com/static/logo.png" style="max-width: 150px;">
        <span class="email-title" style="font-size:20px;font-weight: 600;margin-top: 0.3rem;float: right;">프리랜서 코리아 비밀번호 재설정</span>
    </div>
    <div style="display: block;clear: both;"></div>
    <div class="title" style="font-size: 25px;padding: 1rem 0;border-bottom: 1px solid #ddd;">
        프리랜서 코리아 비밀번호 재설정을 요청하셨습니다.
    </div>
    <!-- 헤더//-->

    <!-- 본문 -->
    <div class="discription" style="font-size: 17px;border-bottom: 1px solid #ddd;padding-top: 1rem;padding-bottom: 1rem;margin-bottom: 2.5rem;line-height: 1.5rem;">
        <div class="content" style="margin-bottom: 2rem;">
        안녕하세요 <span th:text="${userName}" style="font-weight: 700;margin-right: 0.5rem;line-height: 30px;"></span> 고객님,
            <p>[프리랜서코리아] 계정 비밀번호 찾기를 요청하셨습니다. <br/>하단의 버튼을 클릭하여 비밀번호를 재설정 하세요.<br/><strong>이 링크는 24시간 동안만 유효합니다.</strong></p>
            <a th:href="${linkUrl}" class="button button--green" target="_blank">비밀번호 재설정</a>
            <p>
                만약 비밀번호 재설정 이메일을 요청하시지 않았다면, 이 이메일을 무시하시고, 문의사항이 있으시면 고객센터(1599-2118,  운영시간 10:00 ~ 17:00)로 문의해주세요.
            </p>
            <p>
                만약 버튼이 클릭되지 않는 등의 문제가 발생한다면 아래의 링크를 이용해주세요.
            </p>
            <p class="sub" th:text="${linkUrl}"></p>
        </div>
    </div>
    <th:block th:include="email/bottom-button-container"></th:block>
    <!-- 본문//-->

    <th:block th:include="email/footer"></th:block>

</div>


</body>
</html>