<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,shrink-to-fit=no, maximum-scale=1, user-scalable=no">
    <title>프리랜서코리아 이메일</title>
</head>
<body>
<div class="email-container" style="padding: 2rem 1rem;max-width: 700px;margin: auto;">

    <!-- 헤더 -->
    <div class="header" style="display: block;padding-bottom:10px;border-bottom: 1px solid #ddd;">
        <img src="https://freelancerk.s3.ap-northeast-2.amazonaws.com/static/logo.png" style="max-width: 150px;">
        <span class="email-title" style="font-size:20px;font-weight: 600;margin-top: 0.3rem;float: right;">포스팅 알림</span>
    </div>
    <div style="display: block;clear: both;"></div>
    <div class="title" style="font-size: 25px;padding: 1rem 0;border-bottom: 1px solid #ddd;">
        키워드중복(2개이상) 프로젝트 포스팅 안내
    </div>
    <!-- 헤더//-->

    <!-- 본문 -->
    <table class="table" style="border-collapse: collapse;width: 100%;margin-top: 2rem;">
        <tr>
            <td class="title" style="border-bottom: 1px solid #ddd;padding: 0.5rem 0;width: 80px;font-size: 13px">프로젝트명</td>
            <td  class="content" th:text="${item.title}" style="border-bottom: 1px solid #ddd;padding: 0.5rem;font-size: 17px;">YGP 홍보용 웹사이트 개발</td>
        </tr>
        <tr>
            <td class="title" style="border-bottom: 1px solid #ddd;padding: 0.5rem 0;width: 80px;font-size: 13px">등록키워드</td>
            <td  class="content" style="border-bottom: 1px solid #ddd;padding: 0.5rem;font-size: 17px;">
                <th:block th:each="projectCategory: ${item.projectCategories}">
                    <span class="keyword text-primary" th:text="${'#' + projectCategory.category.name + ' '}">웹/모바일</span>
                </th:block>
            </td>
        </tr>
        <tr>
            <td class="title" style="border-bottom: 1px solid #ddd;padding: 0.5rem 0;width: 80px;font-size: 13px">프로젝트 내용</td>
            <td  class="content" style="border-bottom: 1px solid #ddd;padding: 0.5rem;font-size: 17px;">
                <span th:utext="${item.description}">
                    내용내용내용
                </span>
            </td>
        </tr>
        <tr>
            <td class="title" style="border-bottom: 1px solid #ddd;padding: 0.5rem 0;width: 80px;font-size: 13px">입찰가격</td>
            <td  class="content" style="border-bottom: 1px solid #ddd;padding: 0.5rem;font-size: 17px;">
                <span th:text="${item.payMean?.shortName}">프로젝트</span>
                <span th:text="${item.budget}">3000</span>
            </td>
        </tr>
    </table>
    
    <div class="btn_group" style="width: 100%;text-align: center;margin-top: 3rem;">
        <a class="btn" th:href="|https://www.freelancerk.com/freelancer/projects/${item.id}/details?status=POSTED|" style="padding: 0.7rem 1rem;border: 0px currentColor;color: rgb(255,255,255);font-size: 18px;font-weight: 700;max-width: 300px;background-color: rgb(0,136,204);text-decoration: none;display: block;margin: auto;">프로젝트 상세 내용 확인</a>
    </div>
    
    <th:block th:include="email/bottom-button-container"></th:block>
    <!-- 본문//-->

    <th:block th:include="email/footer"></th:block>
</div>

</body>
</html>