<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>프리랜서코리아 이메일</title>
</head>
<body>
<div class="email-container" style="padding: 2rem 1rem;max-width: 700px;margin: auto;">

    <!-- 헤더 -->
    <div class="header" style="display: block;padding-bottom:10px;border-bottom: 1px solid #ddd;">
        <img src="https://freelancerk.s3.ap-northeast-2.amazonaws.com/static/logo.png" style="max-width: 150px;">
        <span class="email-title" style="font-size:20px;font-weight: 600;margin-top: 0.3rem;float: right;">프코 알림</span>
    </div>
    <div style="display: block;clear: both;"></div>
    <div class="title" style="font-size: 25px;padding: 1rem 0;border-bottom: 1px solid #ddd;">
        프리랜서의 지급청구가 도착했습니다.
    </div>
    <!-- 헤더//-->

    <!-- 본문 -->
    <div class="discription" style="font-size: 17px;border-bottom: 1px solid #ddd;padding-top: 1rem;padding-bottom: 1rem;margin-bottom: 2.5rem;line-height: 1.5rem;">
        <div class="content" style="margin-bottom: 2rem;">
            <span class="date" th:text="${#temporals.format(project.postingStartAt, 'yyyy.MM.dd HH:mm:ss')}" style="line-height: 30px;margin-right: 0.5rem;font-weight: 700;">2020.02.02 11:11:11</span>
            <span class="username" th:text="${freelancer.exposeName}" style="font-weight: 700;margin-right: 0.5rem;line-height: 30px;">박은진</span>님께서 용역대금에 대한 지급 청구를 하셨습니다.<br/>
            용역 결과를 확인하신 후 [진행중인 프로젝트]에서 승인하세요.
        </div>
        <div class="list_title">[순서]</div>
        <ol class="list" style="padding: 1rem 1.5rem;margin-top: 0.3rem;border: 1px solid #ddd;">
            <li style="padding-left: 1rem;font-size: 15px;padding: 0.5rem;">클라이언트의 용역대금 예치</li>
            <li style="padding-left: 1rem;font-size: 15px;padding: 0.5rem;">프리랜서의 [지급청구]</li>
            <li style="padding-left: 1rem;font-size: 15px;padding: 0.5rem;">용역 (중간)결과 점검 및 확인</li>
            <li style="padding-left: 1rem;font-size: 15px;padding: 0.5rem;">클라이언트의 [지급승인]</li>
            <li style="padding-left: 1rem;font-size: 15px;padding: 0.5rem;">프리랜서코리아 점검 후 프리랜서에게 대금 지급</li>
        </ol>
    </div>
    <th:block th:include="email/bottom-button-container"></th:block>
    <!-- 본문//-->

    <th:block th:include="email/footer"></th:block>
</div>


</body>
</html>