<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
				xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 				layout:decorator="layout/layout">
<head>
	<!-- 로컬적용 css -->
	<link rel="stylesheet" href="/static/css/client/main/question/view.css">
</head>

	
	<div id="content" layout:fragment="content">

		<!-- 페이지헤더 -->
        <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md mb-0">
			<div class="container">
				<div class="row">
					<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
						<h1 class="text-dark"><strong>문의사항</strong></h1>

					</div>
					<div class="col-md-4 order-1 order-md-2 align-self-center mb-2 mb-md-0">

					</div>
				</div>
			</div>
		</section>
		<!-- 페이지헤더// -->
		
		<!-- 탭메뉴 -->
        <section class="tabs tabs-bottom tabs-center tabs-simple" style="border-bottom: 3px solid #eee;background-color: #f7f7f7">
            <div class="container" style="margin-bottom: -3px;">
                <ul class="nav nav-tabs justify-content-start mb-0 font-weight-bold">
                    <li class="nav-item mb-0 active">
                        <a th:href="@{/common/askForHelp}" class="nav-link active d-flex">
                            <span>문의하기</span>
                        </a>
                    </li>
                    <li class="nav-item mb-0">
                        <a th:href="@{/common/helpList}" class="nav-link disabled d-flex">
                            <span>문의목록</span>
                            <!-- <span class="count_alarm" th:text="${totalAskForHelp}">0</span> -->
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- 탭메뉴// -->
		
		<section style="margin:50px 0 100px 0">
			<div class="container">
				<form action="#" th:action="@{/common/askForHelp}" th:object="${inquiry}" method="post">
					<input th:field="*{title}" type="text" required class="required form-control form-control-lg border-0 border-bottom mb-1" placeholder="제목">
					<input type="text" th:field="*{contact}" required class="required form-control border-0 border-bottom mb-3" placeholder="회신받으실 연락처 또는 이메일주소">
					<textarea th:field="*{content}" required class="form-control required border-0 border-bottom mb-3"  rows="15" placeholder="내용을 작성해주세요"></textarea>
					<div class="text-center mt-3">
	                    <a href="javascript:history.back()" class="btn btn-light btn-lg rounded-0 mr-3">이전 페이지로</a>
	                    <button type="submit" class="btn btn-primary btn-lg rounded-0">등록하기</button></a>
	                </div>
				</form>
			</div>
		</section>
	</div>
	

</html>