<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorator="layout/layout">
<head>
    <!-- 로컬적용 css -->
    <link rel="stylesheet" href="/static/css/client/main/helpList/list.css">
</head>

    <div id="content" layout:fragment="content">

        <!-- 페이지헤더 -->
        <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md mb-0">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                        <h1 class="text-dark"><strong>문의목록</strong></h1>

                    </div>
                    <div class="col-md-4 order-1 order-md-2 align-self-center mb-2 mb-md-0">
   
                    </div>
                </div>
            </div>
        </section>
        <!-- 페이지헤더// -->

        <!-- 탭메뉴 -->
        <section class="tabs tabs-bottom tabs-center tabs-simple" style="border-bottom: 3px solid #eee;background-color: #f7f7f7">
            <div class="container" style="margin-bottom: -3px;">
                <ul class="nav nav-tabs justify-content-start mb-0 font-weight-bold">
                    <li class="nav-item mb-0">
                        <a th:href="@{/common/askForHelp}" class="nav-link d-flex disabled">
                            <span>문의하기</span>
                        </a>
                    </li>
                    <li class="nav-item mb-0 active">
                        <a th:href="@{/common/helpList}" class="nav-link d-flex active">
                            <span>문의목록</span>
                            <!-- <span class="count_alarm" th:text="${page.totalElements}">0</span> -->
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- 탭메뉴// -->
        
        <section style="margin:50px 0 100px 0">
            <div class="container">
                <div class="content-body pr-0 pl-0">
                    <div class="container_inner">
                        <div id="sub_search" class="mt-5">
                            <form id="searchForm" action="#" th:action="@{/common/helpList}" method="get">
                                <div class="sub_search_text mb-2">
                                    총 <span th:text="${page.totalElements}">1</span>건의 문의가 있습니다.
                                </div>
                            </form>
                        </div>
                        <table class="boardlist mb-5">
                            <tbody>
                                <tr>
                                    <th style="width: 25%">문의일자</th>
                                    <th>제목</th>
                                    <th style="width: 25%">상태</th>
                                </tr>
                                <tr th:each="inquiry, iter : ${page.content}">
                                    <td th:text="${#temporals.format(inquiry.createdAt, 'yyyy-MM-dd')}"></td>
                                    <td class="tl">
                                        <a th:href="|/common/inquiries/${inquiry.id}/details|" class="subject_con">
                                            <span th:text="${inquiry.title}" class="subject">회원간 계약서 - 양식</span>
                                            <!-- <span th:if="${iter.index == 0}" class="subject_new">
                                                <img src="/static/images/icon_new.gif" align="absmiddle">
                                            </span> -->
                                        </a>
                                    </td>
                                    <td th:text="${inquiry.status.name()=='REGISTERED'?'등록':inquiry.status.name()=='IN_PROGRESS'?'처리중':'처리완료'}">접수</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                
                
            </div>
        </section>
    </div>
    

</html>
