<div class="ajax-container multi-portfolio" xmlns:th="http://www.w3.org/1999/xhtml" style="background-color: #e6e6e6;padding:70px 30px 70px 30px;border-radius: 10px;">
    <div class="controller" style="background-color: #fff;position: absolute;top: 0;padding: 10px;width: 100%;left: 0;border-radius: 10px 10px 0 0;display: flex;justify-content: space-between; ">
        <span>
            <span class="text-4 font-weight-bold text-dark mr-2" th:text="${item.participant.exposeName}"></span>
            <span class="text-3 text-muted" th:text="${#temporals.format(item.applyAt, 'yyyy.MM.dd HH:mm:ss')}" style="white-space: nowrap;"></span>
        </span>
        <i class="far fa-window-maximize fa-lg" style="margin-right: 35px;margin-top:5px" id="contestEntryFileFullBtn" th:data-id="${item.id}"></i>
    </div>
    <div class="main-container row">
        <div class="col-sm-12">
            <div class="owl-carousel owl-theme nav-inside nav-inside-edge nav-squared nav-with-transparency nav-dark mb-0" data-plugin-options="{'items': 1, 'margin': 10, 'loop': true, 'nav': true, 'dots': false}" style="height:100%">
                <div th:each="item: ${items}">
                    <div th:if="${item.fileType?.name() == 'IMAGE'}" class="img-thumbnail border-0 border-radius-0 p-0 d-block">
                        <div style="position: relative;background-color: #e6e6e6" class="img-thumbnail border-0 border-radius-0 p-0 d-block" >
<!--                            <img th:src="${item.fileUrl}" style="opacity: 0; position: absolute; top:0"/>-->
                            <div class="image-fluid hidden-scroll" style="overflow-y: scroll; text-align: center;">
                                <img th:src="${item.fileUrl}" style="display: inline !important; width: inherit !important; max-width: 100%;"/>
                            </div>
                        </div>
                    </div>
                    <div th:if="${item.fileType?.name() == 'VIDEO'}" class="img-thumbnail border-0 border-radius-0 p-0 d-block">
                        <div class="img-thumbnail border-0 border-radius-0 p-0 d-block" style="text-align: center; background-color: #e6e6e6">
                            <video class="image-fluid" th:src="${item.fileUrl}" controls="controls"></video>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <hr class="solid my-5"> -->
            <!--<strong class="text-uppercase text-1 mr-3 text-dark float-left position-relative top-2">Share</strong>-->
            <!--<ul class="social-icons">-->
            <!--<li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>-->
            <!--<li class="social-icons-twitter"><a href="http://www.twitter.com/" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>-->
            <!--<li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in"></i></a></li>-->
            <!--</ul>-->
        </div>
    </div>
    <div class="footer d-flex" style="background-color: #fff;position: absolute;bottom: 0;padding: 10px;width: 100%;left: 0;border-radius: 0 0 10px 10px;justify-content: space-between;">
        <div style="padding:0 2rem;white-space: nowrap;">
            <i class="fas fa-minus fa-lg mr-4" id="zoomOut"></i>
            <i class="fas fa-plus fa-lg" id="zoomIn"></i>
        </div>
        <img src="/static/images/logo.png" style="width:100px;height: 27px">
    </div>
</div>

<div class="modal fade modal_wrap" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div>
            <video controls style="max-width: 100%"></video>
        </div>
    </div>
</div>