<footer id="footer" class="gray" layout:fragment="footer"
        xmlns:th="http://www.w3.org/1999/xhtml"
        xmlns:layout="http://www.springframework.org/schema/security"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="wrap">
        <div class="title">ⓒ 2014 - 2020 (주)플랫폼위즈컴퍼니</div>
        <div class="terms">
            <a href="/common/usagePolicy" class="" target="_blank">
                이용약관
            </a>
            <a href="/common/escrowPolicy" class="" target="_blank">
                에스크로서비스이용약관
            </a>
            <a href="/common/privateInfoPolicy" class="" target="_blank">
                개인정보처리지침
            </a>
        </div>
        <div class="contact">
            <span class="tel">
                <i class="fas fa-phone mr-1"></i>
                1599-2118<span> (KST 10:00 ~ 17:00 한국시각)</span>
            </span>
            <span class="mail">
                <a href="/common/askForHelp" class="text-dark">
                    <i class="fas fa-envelope ml-2 mr-1"></i>
                    고객센터
                </a>
            </span>
        </div>
    </div>
</footer>