<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <!-- 로컬적용 css -->
    <link rel="stylesheet" href="/static/css/client/posting/contest/option.css">
</head>


<div id="content" layout:fragment="content" >

    <!-- 페이지헤더 -->
    <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md">
        <div class="container">
            <div class="row">
                <div class="col-md-8 order-2 order-md-1 align-self-center p-static">
                    <h1 class="text-dark"><strong>컨테스트 포스팅 옵션 연장, 추가</strong></h1>
                </div>
                <div class="col-md-4 order-1 order-md-2 align-self-center mb-2 mb-md-0">

                </div>
            </div>
        </div>
    </section>
    <!-- 페이지헤더// -->

    <!-- 탭메뉴 -->
   <!--  <section class="tabs tabs-bottom tabs-center tabs-simple" style="border-bottom: 3px solid #eee;background-color: #f7f7f7">
        <div class="container" style="margin-bottom: -3px;">
            <ul class="nav nav-tabs justify-content-start mb-0 font-weight-bold">
                <li class="nav-item mb-0 ">
                    <a th:href="@{/client/posting/project}" class="nav-link disabled">
                        <span>프로젝트포스팅</span>
                    </a>
                </li>
                <li class="nav-item mb-0 active">
                    <a th:href="@{/client/posting/contest}" class="nav-link active">
                        <span>컨테스트포스팅</span>
                    </a>
                </li>
                <li class="nav-item mb-0 active">
                    <a th:href="@{/client/bid/autoSave}" class="nav-link">
                        <span>임시저장함</span>
                        <span class="badge" th:text="${tempSavedCount}">0</span>
                    </a>
                </li>
            </ul>
        </div>
    </section> -->
    <!-- 탭메뉴// -->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-xl-2"></div>
                <div class="col-lg-9 col-xl-8">
                    <div class="featured-box featured-box-primary text-left mt-2" style="">
                        <div class="box-content">
                            <h5><span th:if="${mode != null && mode == 'EXTEND'}">기존에 구매하신 옵션의 연장, 새로운 옵션의 추가가 가능합니다.</span><span th:if="${mode == null OR mode != 'EXTEND'}">포스팅 옵션을 확정해 주세요</span> <span class="required"> *</span></h5>
                            <form name="foption" id="foption" action="" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="mode" th:value="${mode}"/>
                                <table class="table">
                                    <thead class="text-center">
                                    <th class="product-name" style="font-size:14px;font-weight: 700;border-top:1px solid #9c9c9c;border-bottom:1px solid #9c9c9c;vertical-align: middle;">옵션상품</th>
                                    <th style="width: 38%;font-size:14px;font-weight: 700;border-top:1px solid #9c9c9c;border-bottom:1px solid #9c9c9c;vertical-align: middle;">
                                        <div class="form-row">
                                            <div class="col-md-6">
                                                기한
                                            </div>
                                            <div class="col-md-6" th:if="${mode != null && mode == 'EXTEND'}">
                                                기한연장
                                            </div>
                                        </div>
                                    </th>
                                    <th class="product-subtotal" style="font-size:14px;font-weight: 700;border-top:1px solid #9c9c9c;border-bottom:1px solid #9c9c9c;vertical-align: middle;">금액</th>
                                    </thead>
                                    <tbody>
                                    <tr th:each="optionItem: ${options}" th:class="${optionItem.category != null?'disabled':''}">
                                        <th:block th:if="${optionItem.category != null}">
                                            <td scope="row" class="product-name text-left">
                                                <label class="chk_container paid-option-container">
                                                    <input type="checkbox" th:value="${optionItem.id}" name="projectPaymentOptionId[]"
                                                           th:attr="data-option-code=${optionItem.code}, data-option-category=${optionItem.category}, data-price=${optionItem.mountOfMoneyUnit},
                                                           data-previous-checked=${project?.isContainProjectOption(optionItem.id)}"
                                                           th:data-previous-end-at="${project?.getPreviousEndAt(optionItem.id)}"
                                                           th:checked="${project?.isContainProjectOption(optionItem.id)}"
                                                    >
                                                    <input type="hidden" value="0" name="projectPaymentOptionCount[]">
                                                    <span class="checkmark"></span>
                                                    <span th:if="${optionItem.category!=null}" class="">+</span><span th:text="${optionItem.name}" class="ml-1"></span>
                                                    <span class="question-pop text-secondary">
                                                        <i class="far fa-question-circle" data-toggle="tooltip" data-placement="right" title="" th:data-original-title="${optionItem.description}"></i>
                                                    </span>
                                                </label>
                                            </td>
                                            <!-- <td th:if="${mode != null && mode == 'EXTEND'}" class="product-limit">
                                                <span class="option-limit" th:data-option-code="${optionItem.code}" th:text="|${#temporals.format(productTypeIdTicketMap.get(optionItem.id)?.expiredAt, 'yyyy.MM.dd')}|">~2019.01.02</span>
                                            </td>
                                            <td class="product-quantity">
                                                <span class="minus">-</span>
                                                <i data-count="1" class="data-count">1</i>주일
                                                <span class="plus">+</span>
                                            </td> -->
                                            <td>
                                                <div class="form-row">
                                                    <div class="col-md-6 product-limit text-center" th:if="${mode != null && mode == 'EXTEND'}">
                                                        <span th:if="${optionItem.code.name() != 'PICK_ME_UP' OR !pickMeUp.freeCharge}" class="option-limit" th:data-option-code="${optionItem.code}" th:text="|${#temporals.format(productTypeIdTicketMap.get(optionItem.id)?.expiredAt, 'yyyy.MM.dd')}|">~2019.01.02</span>
                                                        <span th:if="${optionItem.code.name() == 'PICK_ME_UP' AND pickMeUp.freeCharge}" class="option-limit" th:data-option-code="${optionItem.code}" style="vertical-align: middle;">무제한</span>
                                                    </div>
                                                    <div class="col-md-6" style="white-space: nowrap;">
                                                        <span class="minus">-</span>
                                                        <i data-count="1" class="data-count">1</i>주일
                                                        <span class="plus">+</span>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="product-subtotal">
                                                <span class="bill" th:text="${#numbers.formatDecimal(optionItem.mountOfMoneyUnit, 0, 'DEFAULT', 0, 'DEFAULT')}"></span>원
                                            </td>
                                        </th:block>
                                        <th:block th:if="${optionItem.category == null}">
                                            <td th:if="${mode != null && mode == 'EXTEND'}" th:colspan="${mode != null && mode == 'EXTEND' ? '1':'2'}">
                                                <label class="chk_container">
                                                    <input type="checkbox" th:value="${optionItem.id}" name="projectPaymentOptionId[]"
                                                           th:attr="data-option-code=${optionItem.code}, data-option-category=${optionItem.category}, data-price=${optionItem.mountOfMoneyUnit},
                                                           data-previous-checked=${project?.isContainProjectOption(optionItem.id)}"
                                                           th:data-previous-end-at="${project?.getPreviousEndAt(optionItem.id)}"
                                                           th:checked="${project?.isContainProjectOption(optionItem.id)}" readonly="readonly"
                                                           th:onclick="@{|${optionItem.code.name() == 'INTERNAL' OR project?.isContainProjectOption(optionItem.id)?'return false;':''}|}">
                                                    <input type="hidden" value="0" name="projectPaymentOptionCount[]">
                                                    <span class="checkmark"></span>
                                                    <span th:text="${optionItem.name}"></span>
                                                    <span class="question-pop text-secondary">
                                                        <i class="far fa-question-circle" data-toggle="tooltip" data-placement="right" title="" th:data-original-title="${optionItem.description}"></i>
                                                    </span>
                                                </label>
                                                <span th:if="${optionItem.code.name() == 'NDA_IP'}" class="btn btn-primary rounded-0 btn-sm py-1 px-2 text-1 ml-2" data-toggle="modal" data-target="#nda-ip-option-info">내용보기</span>
                                            </td>
                                            <!-- <td th:if="${mode != null && mode == 'EXTEND'}" class="product-limit">
                                                <span class="option-limit" th:data-option-code="${optionItem.code}" th:text="|${#temporals.format(productTypeIdTicketMap.get(optionItem.id)?.expiredAt, 'yyyy.MM.dd')}|"></span>
                                            </td>
                                            <td class="product-quantity">
                                                <div th:if="${optionItem.code.name() != 'INTERNAL' AND optionItem.code.name() != 'EXTERNAL'}">
                                                    <span class="minus">-</span>
                                                    <i data-count="1" class="data-count">1</i>주일
                                                    <span class="plus">+</span>
                                                </div>
                                            </td> -->
                                            <td>
                                                <div class="form-row">
                                                    <div class="col-md-6 product-limit text-center" th:if="${mode != null && mode == 'EXTEND'}">
                                                        <span th:if="${optionItem.code.name() != 'PICK_ME_UP' OR !pickMeUp.freeCharge}" class="option-limit" th:data-option-code="${optionItem.code}" th:text="|${#temporals.format(productTypeIdTicketMap.get(optionItem.id)?.expiredAt, 'yyyy.MM.dd')}|">~2019.01.02</span>
                                                        <span th:if="${optionItem.code.name() == 'PICK_ME_UP' AND pickMeUp.freeCharge}" class="option-limit" th:data-option-code="${optionItem.code}">무제한</span>
                                                    </div>
                                                    <div class="col-md-6" style="white-space: nowrap;">
                                                        <div th:if="${optionItem.code.name() != 'INTERNAL' AND optionItem.code.name() != 'EXTERNAL'}">
                                                            <span class="minus">-</span>
                                                            <i data-count="1" class="data-count">1</i>주일
                                                            <span class="plus">+</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td th:if="${optionItem.mountOfMoneyUnit == 0}" style="vertical-align: middle;text-align: center">
                                                <span>무료</span>
                                                <span th:if="${optionItem.mountOfMoneyUnit > 0}"><span class="bill" th:text="|${#numbers.formatDecimal(optionItem.mountOfMoneyUnit, 0, 'DEFAULT', 0, 'DEFAULT')}|"></span>원</span>
                                            </td>
                                            <td th:if="${optionItem.mountOfMoneyUnit > 0}" class="product-subtotal">
                                                <span><span class="bill" th:text="|${#numbers.formatDecimal(optionItem.mountOfMoneyUnit, 0, 'DEFAULT', 0, 'DEFAULT')}|"></span>원</span>
                                            </td>
                                        </th:block>
                                    </tr>
                                    <tr style="border-top:4px double #dee2e6">
                                        <td colspan="2">할인금액(옵션<span id="selectedOptionCount">0</span>개 선택)</td>
                                        <td th:if="${mode != null && mode == 'EXTEND'}" colspan="2">
                                            <span class="optionDiscountAmount">0</span>원
                                        </td>
                                        <td th:if="${mode == null OR mode != 'EXTEND'}" colspan="1">
                                            <span class="optionDiscountAmount">0</span>원
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!--<div class="btn btn-primary" data-toggle="modal" data-target="#NDA">NDA팝업</div>-->
                                <ul class="col-md-9 mt-4 mx-auto p-0">
                                    <li>
                                        <i class="fas fa-angle-right"></i>
                                        <span>옵션 선택, 구매 수</strong>에 따라 할인율이 적용됩니다.</span>
                                        <table class="table text-center table-sm">
                                            <tr>
                                                <th style="font-size:14px;font-weight: 700;border-top:1px solid #9c9c9c;border-bottom:1px solid #9c9c9c;">옵션 갯수 또는 기간 연장</th>
                                                <th style="font-size:14px;font-weight: 700;border-top:1px solid #9c9c9c;border-bottom:1px solid #9c9c9c;">할인율</th>
                                            </tr>
                                            <tr>
                                                <td>2개</td>
                                                <td class="text-center">10%</td>
                                            </tr>
                                            <tr>
                                                <td>3개</td>
                                                <td class="text-center">15%</td>
                                            </tr>
                                            <tr>
                                                <td class="border-bottom">4개이상</td>
                                                <td class="text-center border-bottom">20%</td>
                                            </tr>
                                        </table>
                                    </li>
                                    <li>
                                        <i class="fas fa-plus"></i>
                                        <span><span style="font-weight: bold">결제금액(공급가액)의 5%</span>가 포인트로 적립되며 1년간 유효합니다.(1포인트는 1원)</span>
                                    </li>
                                </ul>
                                <input type="hidden" name="totalDiscountOptionPrice" value="0"/>
                                <input type="hidden" name="optionAmountOfMoney" value="0"/>
                                <input type="hidden" name="supplyAmountOfMoney" value="0"/>
                                <input type="hidden" name="vatAmountOfMoney" value="0"/>
                                <input type="hidden" name="totalAmountOfMoney" value="0"/>
                                <div class="totalAmount">합계 (VAT 별도)<span id="totalAmount" class="money totalPostingOptionWhPoints pl-2">0</span>원</div>
                                <section class="btn_container">
                                    <div class="d-inline-block mx-auto">
                                        <button id="btnCompleted" type="button" class="btn btn-primary">결제하기</button>
                                        <button th:if="${'EXTEND' != mode}" id="btnStartWithoutPurchase" type="button" class="btn btn-secondary btn-cancel">결제없이 프로젝트 등록</button>
                                    </div>
                                </section>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </section>

    <!-- 보증금환불규정 팝업 -->
    <div class="modal fade modal_wrap" id="deposit_money_refund_info" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <!-- 팝업 헤더 -->
                <div class="head modal-header">
                    <h5 class="modal-title" id="ModalLabel">보증금환불규정</h5>
                    <div class="">
                        <a class="close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></a>
                    </div>
                </div>
                <!-- 팝업 헤더// -->

                <!-- 팝업 컨텐츠 -->
                <div class="content modal-body">
                    <table class="table table-sm table-bordered text-center">
                        <thead class="text-center" style="background-color: #c43f40">
                            <tr>
                                <th class="text-light" colspan="5">환불규정</th>
                            </tr>
                        </thead>
                        <tr class="table-active text-center">
                            <td>구분</td>
                            <td>상황</td>
                            <td>보증금</td>
                            <td>확정상금</td>
                            <td class="text-center">저작권이전</td>
                        </tr>
                        <tr>
                            <td class="table-active">선정</td>
                            <td class="table-active">기한 내 선정</td>
                            <td class="table-active">전액환불</td>
                            <td class="table-active">수상자에게 상금 지급</td>
                            <td class="table-active text-center">가능</td>
                        </tr>
                        <tr>
                            <td class="table-active">-</td>
                            <td class="table-active">무응찰</td>
                            <td class="table-active">전액환불</td>
                            <td class="table-active">전액환불</td>
                            <td class="table-active text-center">N/A</td>
                        </tr>
                        <tr>
                            <td rowspan="3" style="vertical-align: middle;">미선정</td>
                            <td>1~2인 참여</td>
                            <td><strong>80%환불</strong><br>20%참여자배당</td>
                            <td><strong>70%환불</strong><br>20%참여자배당<br>10%수수료</td>
                            <td class="text-secondary text-center" style="vertical-align: middle;">불가</td>
                        </tr>
                        <tr>
                            <td>3~5인 참여</td>
                            <td><strong>50%환불</strong><br>50%참여자배당</td>
                            <td><strong>50%환불</strong><br>40%참여자배당<br>10%수수료</td>
                            <td class="text-secondary text-center" style="vertical-align: middle;">불가</td>
                        </tr>
                        <tr>
                            <td>6인 이상 참여</td>
                            <td><strong>20%환불</strong><br>80%참여자배당</td>
                            <td><strong>20%환불</strong><br>70%참여자배당<br>10%수수료</td>
                            <td class="text-secondary text-center" style="vertical-align: middle;">불가</td>
                        </tr>
                        <tr>
                            <td colspan="5">** 미선정 : 컨테스트를 취소하거나 포스팅 기한이 만료된 경우를 의미합니다.</td>
                        </tr>
                    </table>
                    <div class="text-right checkbox mb-3">
                        <label>
                            <input type="checkbox" value="" id="seeRefundPopup">
                            위의 사항을 숙지 했습니다
                        </label>
                    </div>
                    <div class="btn-group d-block">
                        <button class="btn btn-default rounded-0" data-dismiss="modal">취소</button>
                        <button class="btn btn-primary rounded-0 ok_btn" disabled data-dismiss="modal">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 보증금환불규정 팝업// -->
    
    <th:block th:include="modal/common-modals"></th:block>
    <script>
        $('.seeRefundPopup').click(function () {
            //check if checkbox is checked
            if ($(this).is(':checked')) {

                $('#deposit_money_refund_info .ok_btn').removeAttr('disabled'); //enable input

            } else {
                $('#deposit_money_refund_info .ok_btn').attr('disabled', true); //disable input
            }
        });
    </script>
    <script th:inline="javascript">
        var minPrize = [[${minPrize}]];
        var projectId = [[${projectId}]];
        var mode = [[${mode}]];

    </script>
    <!-- <script src="/static/js/plugin/jquery/3.3.1/jquery.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
    <!-- <script src="/static/js/plugin/bootstrap.min.js"></script> -->

    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
    <script th:inline="javascript">

        var packContainItemsMap = {};
    </script>
    <script th:inline="javascript">
        var serverUrl = [[${serverUrl}]];
        var userEmail = [[${user.email}]];
        var userName = [[${user.name}]];
        var userCellphone = [[${user.cellphone}]];
        var contestName = [[${contestName}]];
        var postingEndAt = [[${project.postingEndAt}]];
        var postingPeriodExtend = false;

        var iamportMerchantId = [[${iamportMerchantId}]];

        IMP.init(iamportMerchantId);

        $('#btnCompleted').click(function() {
            var maxOptionPeriodCount = 0;
            var totalAmountOfMoney = parseInt($('input[name=totalAmountOfMoney]').val());
            if (totalAmountOfMoney === 0) {
                alert('결제금액이 없으므로 이전 페이지로 이동합니다. ');
                location.href = '/client/payment/list';
                return;
            }

            // if (!$('input:checkbox[id=seeRefundPopup]').is(':checked')) {
            //     alert('보증금 환불조건을 확인후 체크해 주세요.');
            //     return false;
            // }

            $('input[name=projectPaymentOptionCount\\[\\]]').each(function(i, item){
                if (maxOptionPeriodCount < $(item).val()) {
                    maxOptionPeriodCount = $(item).val();
                }
            });

            var formData = new FormData();
            formData.append("projectId", projectId);
            formData.append('type', 'CONTEST');

            var checkedOption = $('input[name=projectPaymentOptionId\\[\\]]');

            var optionDic = {};
            for(var i=0; i<checkedOption.length; i++){
                var option = checkedOption[i];
                if (option.checked) {
                    var count = $(option).siblings('input[name=projectPaymentOptionCount\\[\\]]').val();
                    optionDic[$(option).val()] = count;
                }
            }

            var totalDiscountOptionPrice = 0;
            if ($('.optionDiscountAmount').length > 1) {
                totalDiscountOptionPrice = parseInt(removeComma($($('.optionDiscountAmount')[0]).text()));
            } else {
                totalDiscountOptionPrice = parseInt(removeComma($('.optionDiscountAmount').text()));
            }

            formData.append('optionAmountOfMoney', parseInt($('input[name=optionAmountOfMoney]').val()));
            formData.append('supplyAmountOfMoney', parseInt($('input[name=supplyAmountOfMoney]').val()));
            formData.append('totalDiscountOptionPrice', parseInt($('input[name=totalDiscountOptionPrice]').val()));
            formData.append('vatAmountOfMoney', parseInt($('input[name=vatAmountOfMoney]').val()));
            formData.append('totalAmountOfMoney', parseInt($('input[name=totalAmountOfMoney]').val()));
            formData.append('optionIdsCountMap', JSON.stringify(optionDic));
            formData.append('usePoint', parseInt(usedPoints));

            $.ajax({
                type: 'POST',
                url: '/purchases/administration-ids',
                data: formData,
                processData: false,
                cache: false,
                contentType: false,
                success: function(res) {

                    IMP.request_pay({
                        pg : 'inicis',
                        pay_method : 'card',
                        merchant_uid : 'merchant_' + new Date().getTime(),
                        name : '[프리랜서코리아] 컨테스트(' + contestName + ') 포스팅 유료 옵션 결제',
                        amount :  $('input[name=totalAmountOfMoney]').val()*1,
                        buyer_email : userEmail,
                        buyer_name : userName,
                        buyer_tel : userCellphone,
                        m_redirect_url : serverUrl + '/confirm/purchases/' + res,
                    }, function(rsp) {
                        if ( rsp.success ) {
                            var msg = '결제가 완료되었습니다.';

                            var formData = new FormData();
                            formData.append("projectId", projectId);
                            formData.append('imp_uid', rsp.imp_uid);
                            formData.append('merchant_uid', 'merchant_' + new Date().getTime());
                            formData.append('imp_success', true);
                            formData.append("postingPeriodExtend", postingPeriodExtend);

                            $.ajax({
                                type: 'POST',
                                url: '/confirm/purchases/' + res,
                                data: formData,
                                processData: false,
                                cache: false,
                                contentType: false,
                                success: function() {
                                    location.href='/client/posting/contestPaymentDone?mode=' + mode;
                                },
                                error: function(error) {
                                    console.error(error);
                                    alert('구매결과 검증에 실패했습니다.');
                                }

                            });
                        } else {
                            var msg = '결제에 실패하였습니다.';
                            msg += '에러내용 : ' + rsp.error_msg;
                        }
                        alert(msg);
                    });
                },
                error: function() {
                    alert('요청에 실패했습니다. 문제가 계속될 경우 고객센터로 문의 주세요.');
                }
            });
        });
    </script>
    <!-- 로컬 적용 script -->
    <script>
        mode = 'EXTEND';
    </script>
    <script src="/static/lib/moment/moment.min.js"></script>
    <script src="/static/js/client/posting/contest/option.js"></script>

    <script src="/static/vendor/pnotify/pnotify.custom.js"></script>
</div>


</html>
