<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 				layout:decorator="layout/layout">
<head>
	<link rel="stylesheet" href="/static/css/client/project/processing.css">
	<script type="text/javascript">
		$(document).ready(function(){
		    $(".payment_unapproved").click(function(){
		        $("#payment_unapproved_pop").toggle();
		    });
		});
	</script>
</head>
	<div layout:fragment="content">

		<!-- 페이지헤더 -->
        <section class="page-header page-header-modern bg-color-light-scale-1 page-header-md mb-0">
			<div class="container">
				<div class="row">
					<div class="col-md-8 order-2 order-md-1 align-self-center p-static">
						<h1 class="text-dark"><strong>낙찰 후 진행중인 프로젝트</strong></h1>

					</div>
					<div class="col-md-4 order-1 order-md-2 align-self-center mb-2 mb-md-0">

					</div>
				</div>
			</div>
		</section>
	    <!-- 페이지헤더// -->
		
		<!-- 탭메뉴 -->
        <section class="tabs tabs-bottom tabs-center tabs-simple" style="border-bottom: 3px solid #eee;background-color: #f7f7f7">
            <div class="container" style="margin-bottom: -3px;">
                <ul class="nav nav-tabs justify-content-start mb-0 font-weight-bold">
                    <li class="nav-item mb-0 active">
						<a th:href="@{/client/project/processingList}" class="nav-link d-flex">
                            <span>낙찰 후 진행중인 프로젝트</span>
                            <span class="count_alarm" th:text="${processingCount}"></span>
                        </a>
					</li>
					<li class="nav-item mb-0">
						<a th:href="@{/client/project/doneList}" class="nav-link d-flex">
                            <span>완료된 프로젝트</span>
                            <span class="count_alarm" th:text="${doneCount}"></span>
                        </a>
					</li>
                </ul>
            </div>
        </section>
        <!-- 탭메뉴// -->

        <section>
			<div class="container">
				<div class="content-body">
					<section class="row">
						<p class="col-md-6">
							총 
							<span th:text="${processingCount}" class="text-primary"></span>
							 건의 프로젝트가 있습니다.
						</p>
					</section>
					<div class="escrow_balance_info">
                        <div class="form-row">
                            <div class="text col-md-5">
                                <img src="/static/images/icon/lock.png">
                                <div class="wrap">
                                    <div class="s_text">안전하게 거래하세요!</div>
                                    <div class="b_text">에스크로 예치 잔액</div>
                                </div>
                            </div>
                            <div class="count col-sm-7 col-md-4">
                                <span th:text="|${#numbers.formatInteger(remainEscrow, 0, 'COMMA')}원|"></span>
                            </div>
                            <div class="button col-sm-5 col-md-3" onclick="javascript:location.href='/client/payment/paymentChoice'">
                                <div class="btn btn-secondary rounded-0">에스크로 예치금 충전하기</div>
                            </div>
                        </div>
                    </div>
					<section class="">
						<th:block th:each="item: ${items}">
							<div class="">
								<div th:class="${(item.project? 'project ':'contest ')}">
									
									<!-- 프로젝트 리스트 -->
									<article class="project list_card bg-white post post-medium" th:if="${item.project}">
										<div class="row">
											<!-- <div class="d-none d-md-flex col-md-2 justify-content-center">
												<div class="c_logo_img" th:style="|${'background-image: url(' + (#strings.isEmpty(item.postingClient.logoImageUrl)?'/static/images/project_logo_new.png':item.postingClient.logoImageUrl) + ')'}; background-position: center;background-size: contain;height:100px;|"></div>
											</div> -->
											<div class="col-12">
												<div class="card_title_date">
													<div class="title" th:text="${item.title}">
													</div>
													<div class="date">
														<span th:text="|낙찰일 : ${#temporals.format(item.startAt, 'yyyy.MM.dd HH:mm:ss')}|"></span>
													</div>
												</div>
												<div class="cellbox">
													<div class="cell">
								    					<span class="list_deco">▪︎</span>
								    					낙찰금액 <span class="font_emp" th:text="|*{#numbers.formatInteger(item.successBidPrice, 0, 'COMMA')}원|"></span>
								    				</div>
										    	</div>
										    	<div class="action_line">
											    	<div class="row">
														<div class="col-lg-6 align-self-center">
															<div class="card_info d-block d-lg-flex">
																<div class="content_wrap" th:onclick="|projectDetail(${item.id}, '#comment')|">
																	<i class="icon-envelope icons"></i>
																	<span th:text="|${item.messageCountByFreelancer}개의 메시지가 있습니다|"></span>
																</div>
																<!-- <div class="content_wrap" style="display:inline-block;color: #df564f;">
																	<i class="fas fa-coins mr-1"></i>
																	에스크로 예치 잔액 <span th:text="${#numbers.formatInteger(item.remainEscrowAmount, 0, 'COMMA')}">4,200,000</span>원
																</div> -->
															</div>
														</div>
														<div class="col-lg-6 text-right">
															<div aria-label="Buttons Group" class="btn-group" role="group">
																<button th:disabled="${!item.existsRequestPaymentToUser}" th:class="|btn btn-light ${item.existsRequestPaymentToUser?'text-secondary':'' } rounded-0 |" type="button" data-toggle="modal" data-target="#paymentToUserModal" th:data-id="${item.lastPaymentToUser?.id}"><span data-toggle="tooltip" data-placement="top" title="" th:data-original-title="${item.existsRequestPaymentToUser?'프리랜서의 용역대금 지급요청이 있습니다.클릭하여 내용을 확인해보세요.':''}">용역대금 지급승인</span></button>
															  	<button class="btn btn-light rounded-0" type="button" th:onclick="|projectDetail(${item.id}, '#comment')|">소통하기</button>
																<button th:if="${item.projectComplete != null && !item.projectComplete.clientAccept}" class="btn btn-primary btn-outline rounded-0" type="button" data-toggle="modal" th:data-project-id="${item.id}" data-target="#rateModal" data-contest-entry-id=""><span data-toggle="tooltip" data-placement="top" title=""  data-original-title="프리랜서의 프로젝트 완료요청이 있습니다.">프로젝트 완료처리</span></button>
																<button th:if="${item.projectComplete != null && item.projectComplete.clientAccept}" class="btn btn-primary btn-outline rounded-0" type="button"><span data-toggle="tooltip" data-placement="top" title="">프로젝트 완료</span></button>
																<button class="btn btn-primary rounded-0" th:onclick="|projectDetail(${item.id})|">프로젝트 상세보기<i class="fas fa-angle-right"></i></button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</article>
									<!-- 프로젝트 리스트 //-->

									<!-- 컨테스트 리스트 -->
									<article th:class="|${(item.project? 'project ':'contest ')} list_card|" th:if="${!item.project}" >
										<div class="row">
											<div class="col-12">
												<div class="card_title_date mb-0">
													<div class="title" th:text="${item.title}">
													</div>
												</div>
												<div class="row">
													<div class="col-lg-8 overflow-hidden">
														<div class="text-center text-lg-left mt-1 mb-2">
															<span th:text="|상금지급마감일 : ${#temporals.format(item.giveRewardEndAt, 'yyyy.MM.dd HH:mm:ss')}|" style="font-size:12px;color: #0088cc;border: 1px solid #0088cc;padding: 2px 5px;display: inline-block;"></span>
														</div>
													</div>
													<div class="col-lg-4 text-right align-self-end">
														
													</div>
												</div>
												<div class="row">
													<div class="col-lg-12 accordion  mt-2" >
														<div class="card card-default">
															<div class="card-header">
																<h4 class="card-title m-0">
																	<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion3" href="#collapse3One">
																		당선작품 확인 / 보완 / 상금지급
																	</a>
																</h4>
															</div>
															<div id="collapse3One" class="collapse show">
																<div class="card-body">
																	<div class="list_g">
																		<div class="list">
																			<i class="fas fa-caret-right"></i>
																			<span>보증금(100,000원)은 <span class="font_emp red">상금지급이 완료된 후 전액 환불(결제취소)</span> 됩니다.</span>
																		</div>
																		<div class="list">
																			<i class="fas fa-caret-right"></i>
																			<span>선정 후 <span class="font_emp red">7일이 지나면 자동으로 상금이 지급되고 컨테스트가 종료</span>됩니다.</span>
																		</div>
																		<div class="list">
																			<i class="fas fa-caret-right"></i>
																			<span>상금을 지급하셔야 소유권이 의뢰자에게 이전됩니다.</span>
																		</div>
																		<div class="list">
																			<i class="fas fa-caret-right"></i>
																			<span>수정사항을 말씀하시고, 수정된 파일을 받으세요.</span>
																		</div>
																	</div>
																	<div class="pickedContestEntries row">
																		<div class="wrap col-md-6 col-lg-4" th:each="bidItem, bidIter: ${item.pickedContestEntries}">
																			<div class="post-image w-100 text-1" style="align-self: flex-end;line-height: 15px;">
																				<span class="image-cover" th:href="@{/view/contest-entries/__${bidItem.id}__/details/ajax}" data-ajax-on-modal data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}, 'mainClass': 'mfp-with-zoom', 'zoom': {'enabled': true, 'duration': 300}}">
																					<span class="thumb-info thumb-info-no-borders" >
																						<span class="thumb-info thumb-info-no-borders thumb-info-centered-icons thumb-info-wrapper rounded-0" >
																							<img th:style="|${'background-image: url(' + bidItem.primaryContestEntryFileUrl + ')'}; background-position: center;background-size: cover;|" class="img-fluid border-radius-0">
																						</span>
																						<span class="thumb-info-title">
																							<span class="thumb-info-inner line-height-1" th:text="${bidItem.participant.exposeName}"></span>
																							<span class="thumb-info-type bg-dark">
																								<div th:text="${bidItem.participant.exposeEmail} ? ${bidItem.participant.email} : 비공개" style="line-height: 16px">
																					            </div>
																								<div th:text="${bidItem.participant.exposeCellphone} ? ${bidItem.participant.cellphone} : 비공개" style="line-height: 16px">
																								</div>
																							</span>
																						</span>
																					</span>
																				</span>
																			</div>
																			<div class="comment-chat">
																				<div id="comment">
																					<div class="comment-view">
																						<ul class="comments" th:if="${not #lists.isEmpty(bidItem.comments)}">
																							<li th:each="commentItem: ${bidItem.comments}" th:class="${#authentication.id == commentItem.user?.id?'send':'receive'}">
																								<div class="comment">
																									<div th:if="${#authentication.id == commentItem.user.id}" class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
																										<img th:src="@{${(#strings.isEmpty(commentItem.user.profileImageUrl)?'/static/images/c_basic.jpg':commentItem.user.profileImageUrl)}}" class="avatar">
																									</div>
																									<span class="comment-by" th:text="${#authentication.id == commentItem.user.id?'클라이언트':'프리랜서'}"></span>
																									<div class="comment-block media-body">
																										<div class="comment-arrow"></div>
																										<div th:if="${commentItem.type.name() == 'MESSAGE'}" th:text="${commentItem.content}"></div>
																										<a th:if="${commentItem.type.name() == 'FILE'}" target="_blank" th:href="${commentItem.fileUrl}" th:text="${commentItem.fileName}"></a>
																									</div>
																									<div class="date" th:text="${#temporals.format(commentItem.createdAt, 'yyyy.MM.dd')}"></div>
																									<div th:if="${#authentication.id != commentItem.user.id}" class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
																										<img src="/static/images/f_basic.jpg" class="avatar">
																									</div>
																								</div>
																							</li>
																						</ul>
																					</div>
																					<form th:action="|/project-bids/${bidItem.id}/comments|" method="post" enctype="multipart/form-data">
																						<div class="input-group mb-2">
																							<div class="">
																								<input type="file" style="display: none;" name="commentFile" />
																								<button class="btn btn-light border-0 p-2" type="button" data-toggle="tooltip" data-placement="top" title="" data-original-title="파일을 첨부해주세요" th:onclick="clickAddFile(this)"><i class="fas fa-plus fa-lg"></i></button>
																							</div>
																							<textarea rows="1" class="form-control form-control-sm rounded" name="contents" maxlength="1000" placeholder="메시지 입력 또는 파일을 전송하세요!" style="resize: none;height:35px;line-height: 25px;"></textarea>
																							<div class="">
																								<button type="button" th:onclick="|writeComment(this)|" class="btn btn-light border-0 text-color-primary py-1 px-2"><i class="fas fa-arrow-alt-circle-up fa-2x"></i></button>
																							</div>
																						</div>
																					</form>
																					<!-- 메시지//-->
																				</div>
																				<div class="d-flex" style="justify-content: space-between;">
																					<div class="d-flex">
																						<div class="align-self-center">
																							<div class="mr-2">
																								<i th:if="${bidIter.index + 1 == 1}" class="fas fa-trophy mr-1" style="color: #d73038" ></i>
																								<i th:if="${bidIter.index + 1 == 2}" class="fas fa-trophy mr-1" style="color: #edb508" ></i>
																								<i th:if="${bidIter.index + 1 == 3}" class="fas fa-trophy mr-1" style="color: #2e9de4" ></i>
																								<span th:text="|${bidIter.index + 1}위|"></span>
																								<span class="text-4 font-weight-bold" th:text="|*{#numbers.formatInteger(bidItem.amountOfMoney, 0, 'COMMA')}원|"></span>
																							</div>
																						</div>
																					</div>
																					<div class="">
																						<th:block th:if="${bidItem.contestEntryReward == null}">
																							<button th:if="${bidItem.contestEntryReward == null}" class="payment btn btn-outline-primary rounded-0" th:disabled="${bidItem.rewardGivenOrRequested}" th:onclick="|showRatePopup(${bidItem.id})|" data-toggle="tooltip" data-placement="top" title="" data-original-title="수정이 완료된 후 상금을 지급하셔야 저작권이 의뢰자에게 이전됩니다.">상금지급</button>
																						</th:block>
																						<th:block th:if="${bidItem.contestEntryReward != null && bidItem.contestEntryReward.status.name() == 'REQUESTED'}">
																							<button class="payment btn btn-outline-primary rounded-0" th:disabled="${bidItem.rewardGivenOrRequested}" data-toggle="tooltip" data-placement="top" title="" data-original-title="상금 지급 승인 후 저작권이 의뢰자에게 이전됩니다.">상금지급 대기 중</button>
																						</th:block>
																						<th:block th:if="${bidItem.contestEntryReward != null && bidItem.contestEntryReward.status.name() == 'ACCEPTED'}">
																							<button  class="payment btn btn-outline-primary rounded-0" th:disabled="${bidItem.rewardGivenOrRequested}" data-toggle="tooltip" data-placement="top" title="" data-original-title="저작권이 의뢰자에게 이전되었습니다.">상금지급완료</button>
																						</th:block>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="action_line border-0">
											    	<div class="row">
														<div class="">
														</div>
														<div class="col-12 text-right">
															<div aria-label="Buttons Group" class="btn-group" role="group">
																<button class="btn btn-secondary rounded-0" th:onclick="|contestDetail(${item.id})|">컨테스트 상세보기<i class="fas fa-angle-right"></i></button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</article>
									<!-- 컨테스트 리스트// -->

								</div>
							</div>
						</th:block>

						<!-- 가이드 -->
						<div class="heading heading-border heading-middle-border" style="margin-top:5rem;">
				            <h4 class="font-weight-normal"><strong class="font-weight-bold">낙찰 후 진행중인 프로젝트</strong></h4>
				        </div>
						<div class="row" style="align-items: center;margin-bottom:5rem;">
							<!-- <div class="guide_title col-12 mb-5">낙찰 후 진행중인 프로젝트</div> -->
							<div class="col-lg-8">
								<div class="row">
									<div class="pickme_guid_1 guide col-6">
										<div class="form-row">
											<div class="col-lg-12">
												<img src="/static/images/use-guide/bid_1.png" class="img-fluid">
											</div>
											<div class="col-lg-12" style="align-self: center;">
												선정하셨군요!<br class="d-block d-md-none"> 축하합니다!
											</div>
										</div>
									</div>
									<div class="pickme_guid_2 guide col-6">
										<div class="form-row">
											<div class="col-lg-12">
												<img src="/static/images/use-guide/bid_2.png" class="img-fluid">
											</div>
											<div class="col-lg-12" style="align-self: center;">
												프리랜서와<br class="d-block d-md-none"> 자주 소통하시며<br/>작업하세요.
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-lg-4">
								<div class="row">
									<div class="pickme_guid_3 guide col-12">
										<div class="form-row">
											<div class="col-12">
												<img src="/static/images/use-guide/bid_4.png" class="img-fluid">
											</div>
											<div class="col-12" style="align-self: center;">
												프로젝트가 완료됐다면,<br/> 프리랜서를 평가해주세요.
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- 가이드// -->

					</section>
				</div>
			
			</div>
		</section>



		<!-- 프리랜서 평가하기 팝업 -->
		<div class="modal fade modal_wrap" id="rateModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-md" role="document">
				<form method="post" id="rateForm">
					<input type="hidden" name="raterType" value="CLIENT"/>
					<div class="modal-content">

						<!-- 팝업 헤더 -->
						<div class="head modal-header">
							<h5 class="modal-title" id="ModalLabel">프리랜서 평가하기</h5>
							<div class="">
								<a class="close" data-dismiss="modal" aria-label="Close">
									<i class="fas fa-times"></i>
								</a>
							</div>
						</div>
						<!-- 팝업 헤더// -->

						<!-- 팝업 컨텐츠 -->
						<div class="content modal-body">
							<div class="title">
								<i class="icon-magic-wand icons mr-1"></i>
								프리랜서를 평가해주세요.
							</div>
							<table class="popup_boardform">
								<colgroup>
									<col width="200">
									<col width="">
								</colgroup>
								<tbody>
								<tr>
									<th>전반적인 만족도</th>
									<td>
										<input type="hidden" name="projectId" />
										<select name="type1Rate" id="satisfactory" style="width:80px">
											<option value="">선택</option>
											<option value="5">최상</option>
											<option value="4">상</option>
											<option value="3">중</option>
											<option value="2">하</option>
											<option value="1">최하</option>
										</select>
									</td>
								</tr>
								<tr>
									<th>속도</th>
									<td>
										<select name="type2Rate" id="respectAttitude" style="width:80px">
											<option value="">선택</option>
											<option value="5">최상</option>
											<option value="4">상</option>
											<option value="3">중</option>
											<option value="2">하</option>
											<option value="1">최하</option>
										</select>
									</td>
								</tr>
								<tr>
									<th>정확성</th>
									<td>
										<select name="type3Rate" id="accuracy" style="width:80px">
											<option value="">선택</option>
											<option value="5">최상</option>
											<option value="4">상</option>
											<option value="3">중</option>
											<option value="2">하</option>
											<option value="1">최하</option>
										</select>
									</td>
								</tr>
								<tr>
									<th>신뢰성</th>
									<td>
										<select name="type4Rate" id="reliability" style="width:80px">
											<option value="">선택</option>
											<option value="5">최상</option>
											<option value="4">상</option>
											<option value="3">중</option>
											<option value="2">하</option>
											<option value="1">최하</option>
										</select>
									</td>
								</tr>
								<tr>
									<th>소통능력</th>
									<td>
										<select name="type5Rate" id="communication" style="width:80px">
											<option value="0">선택</option>
											<option value="5">최상</option>
											<option value="4">상</option>
											<option value="3">중</option>
											<option value="2">하</option>
											<option value="1">최하</option>
										</select>
									</td>
								</tr>
								</tbody>
							</table>

							<div class="title mt-4">
								<i class="icon-bubble icons mr-1"></i>
								피드백을 남겨주세요
							</div>
							<div>
								<textarea class="form-control" name="content" style="width:99%" rows="3"></textarea>
							</div>
							<div class="popup_boardbutton">
								<div class="d-flex justify-content-center mb-3">
									<input id="ratePopupRaterId" type="text" hidden>
									<input id="ratePopupRatedId" type="text" hidden>
									<input id="ratePopupProjectId" type="text" hidden>
									<button type="submit" class="btn btn-primary rounded-0">평가남기기</button>
									<button type="button" class="btn btn-light rounded-0" onclick="acceptProjectCompleted();">평가하지 않고 완료처리</button>
									<a href="#" class="btn btn-light rounded-0 pop_close" data-dismiss="modal" aria-label="Close">취소</a>
								</div>
							</div>
						</div>
						<!-- 팝업 컨텐츠//-->

					</div>
				</form>
			</div>
		</div>

		<!-- 지급승인 팝업 -->
		<div class="modal fade modal_wrap" id="paymentToUserModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
			 aria-hidden="true">
			<div class="modal-dialog modal-md" role="document">
				<div class="modal-content">
					<form id="paymentToUserForm" action="" method="post">
						<input id="popUpBidId" type="text" hidden>

						<!-- 팝업 헤더 -->
						<div class="head modal-header">
							<h5 class="modal-title" id="ModalLabel">지급승인</h5>
							<div class="">
								<a class="close" data-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></a>
							</div>
						</div>
						<!-- 팝업 헤더// -->

						<!-- 팝업 컨텐츠 -->
						<div class="content">
							<table class="popup_boardform">
								<colgroup>
									<col width="25%">
									<col width="">
								</colgroup>
								<tbody>
								<tr>
									<th>요청금액</th>
									<td id="paymentToUserAmount"></td>
								</tr>
								<tr>
									<th>요청내용</th>
									<td id="paymentToUserDescription"></td>
								</tr>
								</tbody>
							</table>

							<div class="text mt-3" style="font-size: 13px;">
								<div class="text-secondary">
									<i class="fas fa-exclamation-circle" style="font-size: 13px;color : #e36159"></i>
									승인하시면 해당금액이 프리랜서에게 전달됩니다.
								</div>
								<div class="text-secondary">
									<i class="fas fa-exclamation-circle" style="font-size: 13px;color : #e36159"></i>
									용역결과를 꼼꼼히 확인하시고, 프리랜서와 소통하신 후에 승인하세요.
								</div>
								<i class="fas fa-exclamation-circle" style="font-size: 13px;color : #e36159"></i>
								오후 5시 이후 승인하시면 익일 지급 처리됩니다.
							</div>
						</div>
						<div class="popup_boardbutton mb-3">
							<div class="tc">
								<button type="submit" class="btn btn-lg btn-primary rounded-0" id="payment_submit_btn">승인하기</button>
								<a href="#" class="btn btn-lg btn-light rounded-0 payment_unapproved">미승인</a>
							</div>
						</div>
						<div id="payment_unapproved_pop" style="display: none" class="mb-3">
							<textarea rows="3" name="denyReason" placeholder="미승인 사유를 입력해주세요" class="form-control mt-3"></textarea>
							<div class="text-center">
								<a href="#" class="btn btn-primary btn-lg rounded-0 request_return mt-3" id="denyPaymentToUserBtn">미승인하기</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<th:block th:include="modal/rate-spec-modals">
			
		</th:block>
		<script>
			$(document).ready(function(){
			    $(".comments").animate({ scrollTop: $(this).height() }, "slow");
  				return false;
			});
		</script>
		<script>
			var currentZoom = 100;
		</script>
		<script src="/static/js/portfolio-common-popup.js"></script>
		<script src="/static/js/rate-spec-common.js"></script>
		<script src="/static/js/client/bid/common.js"></script>
		<script src="/static/js/client/project/processing.js"></script>
	</div>
	

</html>
