.policy li{margin-bottom:1rem;margin-left:1rem;}

.policy ul{margin-top:1rem!important;margin-bottom:1rem!important;}

.policy table{margin-top:1rem!important;margin-bottom:1rem!important;}
.policy table th, table td{padding:0.5rem;vertical-align: middle!important;}