<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorator="layout/layout">

<head>
    <!-- 로컬적용 css -->
    <link rel="stylesheet" href="/static/css/common/aboutus.css">
</head>

    
    <section id="content" layout:fragment="content">
        <div class="aboutus_content">
            <div class="main_title"><span>A</span>bout Us</div>
            <ul>
                <li class="">
                    <div class="sub_title_01">
                        여러 프로젝트들을 진행해오며,<span class="br"></span>우리는 늘 궁금했습니다.<br>
                        왜 인재는 회사 밖에 있을까?
                    </div>

                    <div class="line"></div>

                    <div class="des_01">
                        <span>내 인생의 보스는 '나'</span>여야만 합니다.<br/>
                        누군가에게 나의 운명을 맡길 수는 없습니다.<br/><br/>

                        그래서 지금, 바로 이 시대 각 분야의 전문가들은<br/>
                        조직과 보스를 떠나 본인 스스로의 가치를 높이고 있습니다.<br/>
                    </div>

                    <div class="video">
                        <iframe src="https://player.vimeo.com/video/238345598?loop=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen" allowfullscreen>
                        </iframe>
                    </div>
                    
                    <div class="sub_title_02">
                        그래서 저희는, <br/>
                        지금까지 없었던 <span>크라우드소싱 플랫폼</span>을<span class="br"></span> 대한민국에 제시합니다.<br/>
                    </div>
                    
                    <div class="des_02 row">
                        <div class="list col-md-6">
                            <img src="/static/images/icon/aboutus_03.png"/>
                            <div>이용자 모두 무료로도<span class="br_reverse"></span> 충분히 이용할 수 있습니다.</div>
                        </div>
                        <div class="list col-md-6">
                            <img src="/static/images/icon/aboutus_01.png"/>
                            <div>플랫폼의 개입없이 프리랜서와<span class="br_reverse"></span> 클라이언트가 직거래 할 수 있습니다.</div>
                        </div>
                        <div class="list col-md-6">
                            <img src="/static/images/icon/aboutus_04.png"/>
                            <div>프리랜서는 학력과 외모가 아닌,<span class="br_reverse"></span> 실력과 경력으로 인정받습니다.</div>
                        </div>
                        <div class="list col-md-6">
                            <img src="/static/images/icon/aboutus_02.png"/>
                            <div>클라이언트는 프로젝트의 합리적<span class="br_reverse"></span> '가격'을 제안받을 수 있습니다.</div>
                        </div>
                        <div class="list col-12">
                            <img src="/static/images/icon/aboutus_05.png"/>
                            <div>클라이언트는 컨테스트를 통해<span class="br_reverse"></span> 프리랜서에게 '작품'을 받아볼 수 있습니다.</div>
                        </div>
                    </div>

                    <div class="line"></div>

                    <div class="des_03">
                        이 모든 것들이 프리랜서코리아를 통해 가능합니다.<br>
                        프리랜서코리아가 여러분 모두에게 높은 수준의 가치를 제공하겠습니다.
                        <br/><br/>
                        @프리랜서코리아팀 드림
                    </div>
                </li>
            </ul>
        </div>

    </section>

</html>

    