<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no, maximum-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="/static/css/plugin/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/common/fonts.css" />
    <link rel="stylesheet" href="/static/css/common/reset.css" />
    <link rel="stylesheet" href="/static/css/auth/privacy.css" />
    <link rel="stylesheet" href="/static/css/client/join.css"/>
</head>
<body>
<div class="container">
    <!-- 패스워드 찾기 -->
    <div id="search">
        <div class="right">
            <div class="title">
                <img src="/static/images/idsearch_02.png">
                <p>패스워드 찾기</p>
                아래 회원가입 시 입력하신 이메일 정보를 입력해 주세요.
            </div>
            <form method="post">
                <input type="hidden">
                <div class="form">
                    <ul class="m-0">
                        <li>
                            <input type="email" name="email" value="" placeholder="이메일" class="input_text" required="" title="이메일">
                        </li>
                    </ul>
                </div>
                <div class="btn p-0">
                    <input class="btn" type="button" value="패스워드 찾기" onclick="requestLink()">
                </div>
            </form>
        </div>

    </div>
    <div class=""></div>
    <!-- 패스워드찾기// -->
</div>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script>

    function requestLink() {
        var email = $('input[name=email]').val();

        if (!confirm('요청하시겠습니까?')) {
            return false;
        }

        if (!email) {
            alert('이메일을 입력해 주세요');
            return false;
        }

        var formData = new FormData();
        formData.append("email", email);

        $.ajax({
            type: 'POST',
            url: '/users/email-for-resetting-password',
            data: formData,
            processData: false,
            cache: false,
            contentType: false,
            success: function (result) {
                if ('SUCCESS' === result.responseCode) {
                    alert('성공적으로 요청되었습니다. 비밀번호 재설정 후 로그인을 진행해 주세요');
                    location.href = '/auth/login';
                } else {
                    alert(result.message);
                }
            },
            error: function () {
                alert('요청에 실패했습니다. 문제가 계속될 경우 고객센터로 문의 주세요.');
            }
        });
    }
</script>
</body>
</html>