<html>
    <link rel="stylesheet" href="/static/css/common/jhtest.css">
    <head>
    </head>
    <body>
        <div class="twoSiteHome">
            <div class="introHomeTopInfo">
                <img src="/static/img/Shape%201.png"><a style="margin-right: 10px;"></a>
                <img src="/static/img/01.png">
                <a style="margin-right: 10px;"></a>
                  <img src="/static/img/SEASON.png">
                 <a style="margin-right: 10px;"></a>
                <img src="/static/img/02.png">
                  <a style="margin-right: 10px;"></a>
                 <img src="/static/img/rightShape.png">
            </div>
            <div class="introMainDiv">
                <img src="/static/img/intro1.jpg" class="introMainImg"/>
                <div class="introPageInfoBox"> <!-- absolute 박스-->
                    <div>
                        <img src="/static/img/intro_logo1.png" class="introLogoImg">
        <!--               <a class="introPageIcon"></a>-->
                    </div>
                    <div class="introInfoTitle">
                        당신의 <a style="font-weight: 600; color: #ffffff;">그 일</a>, <br>
                        프리랜서 전문가로 끝내버리세요.
                    </div>
                    <div class="introInfoDescription">
                        자신의 이름으로 승부하는 '진짜 일잘러'들과 일해보세요.<br>
                        프코의 비즈니스 모델은 '당신의 성공'이기에.<br>
                        <a style="font-weight: 600;   color: #ffffff;">당연하게도 매칭 수수료 0%</a>
                    </div>
                    <div class="introInfoBoxBtnBox">
                        <span onclick="location.href='/main'" class="introInfoBoxBtn introInfoBoxBtnL" style="cursor: pointer;" >프리랜서 코리아 바로가기</span>
                    </div>
                </div>
            </div>
            <div class="introMainDiv">
                <img src="/static/img/intro2.jpg" class="introMainImg">
                <div class="introPageInfoBox"> <!-- absolute 박스-->
                    <div>
                        <img src="/static/img/intro_logo2.png" class="introLogoImg2">
        <!--               <a class="introPageIcon"></a>-->
                    </div>
                    <div class="introInfoTitle">
                       난 A+는 받아 본 적 없어. <br>
                        하지만<a style="font-weight: 600; color: #ffffff; margin-left: 4px; margin-right: 2px;">F+</a>에서는 찐이야!
                    </div>
                     <div class="introAuditionJoinBtnDiv">
                         <div onclick="location.href='/fplus'" style="cursor: pointer;" class="introAuditionJoinBtn">
                             오디션 지원하기
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>