<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" 
				xmlns:th="http://www.thymeleaf.org"
				xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 				layout:decorator="layout/layout">

<!-- css -->
<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
<link rel="stylesheet" href="/static/css/plugin/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/common/reset.css">
<link rel="stylesheet" href="/static/css/common/common.css">
<link rel="stylesheet" href="/static/css/plugin/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/common/navigation.css">
<link rel="stylesheet" href="/static/css/auth/privacy.css">
<link rel="stylesheet" href="/static/css/client/join.css"/>

<!-- 프리랜서코리아 이용약관 -->
<div class="policy container">
	<h4>제1조(목적)</h4>
	<p>이 약관은 주식회사 플랫폼위즈컴퍼니가 회원에게 제공하는 “프리랜서코리아” 서비스의 이용과 관련하여 회원의 권리, 의무, 책임사항 및 기타 필요한 사항을 규정함을 목적으로 합니다. “프리랜서코리아”는 주식회사 플랫폼위즈컴퍼니의 등록상표입니다. 따라서 본 이용약관에서 지칭하는 “프리랜서코리아”는 (주)플랫폼위즈컴퍼니와 권리, 의무 관계를 같이 하는 동일체로 봐야합니다.</p>

	<h4>제2조(정의)</h4>
	<ol>
		<li>
		① “회원”이란 본 약관에 동의하고 프리랜서코리아(프리랜서코리아 웹사이트와 어플리케이션 등 서비스 일체를 의미하며, 본 약관에서는 이를 통칭하여 “프리랜서코리아“로 합니다.)”의 회원가입 절차를 마친 자를 말합니다.
		</li>
		<li>
		② “클라이언트”란 “회원”으로 제 2조 3항의 “프리랜서”에게 용역을 의뢰하기 위하여 “회원”이 된 자를 말합니다. 그러므로 통상적으로 용역을 의뢰하는 자를 지칭하는 ‘클라이언트’, ‘의뢰자’, ‘의뢰인’, ‘발주자’ 등은 본 약관에서 모두 “클라이언트”에 속합니다.
		</li>
		<li>
		③ “프리랜서”란 “회원”으로 위 제2항의 “클라이언트”의 의뢰 또는 수주를 받아 용역을 수행하기 위하여 회원이 된 자를 말합니다. 그러므로 통상적으로 용역을 수행하는 개인 또는 단체를 지칭하는 ‘프리랜서’, ‘전문가’, “업체” 등은 모두 “프리랜서”에 속합니다.
		</li>
	</ol>

	<h4>제3조(약관 등의 명시와 설명 및 개정)</h4>
	<ol>
		<li>
		① 프리랜서코리아는 이 약관의 내용과 상호 및 대표자 성명, 영업소 소재지 주소(소비자의 불만을 처리할 수 있는 곳의 주소를 포함), 전화번호․모사전송번호․전자우편주소, 사업자등록번호, 개인정보관리책임자등을 이용자가 쉽게 알 수 있도록 서비스화면(전면)에 게시합니다. 다만, 약관의 내용은 이용자가 연결화면을 통하여 볼 수 있도록 할 수 있습니다.
		</li>
		<li>
		② 프리랜서코리아는 「약관의 규제에 관한 법률」, 「전자문서 및 전자거래기본법」, 「전자금융거래법」, 「전자서명법」, 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 등 관련 법을 위배하지 않는 범위에서 이 약관을 개정할 수 있습니다.
		</li>
		<li>
		③ 프리랜서코리아는 이 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행약관과 함께 프리랜서코리아의 초기화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다. 다만, 이용자에게 불리하게 약관내용을 변경하는 경우에는 최소한 30일 이상의 사전 유예기간을 두고 공지합니다. 이 경우프리랜서코리아는 개정 전 내용과 개정 후 내용을 명확하게 비교하여 이용자가 알기 쉽도록 표시합니다.
		</li>
		<li>
		④ 프리랜서코리아가 이 약관을 개정할 경우에는 그 개정약관은 그 적용일자 이후에 체결되는 계약에만 적용되고 그 이전에 이미 체결된 계약에 대해서는 개정 전의 약관조항이 그대로 적용됩니다. 다만 이미 계약을 체결한 이용자가 개정약관 조항의 적용을 받기를 원하는 뜻을 제3항에 의한 개정약관의 공지기간 내에 프리랜서코리아에 송신하여 프리랜서코리아의 동의를 받은 경우에는 개정약관 조항이 적용됩니다.
		</li>
		<li>
		⑤ 이 약관에서 정하지 아니한 사항과 이 약관의 해석에 관하여는 전자상거래 등에서의 소비자보호에 관한 법률, 약관의 규제 등에 관한 법률, 공정거래위원회가 정하는 전자상거래 등에서의 소비자 보호지침 및 관계법령 또는 상관례에 따릅니다.
		</li>
	</ol>

	<h4>제4조(회원가입)</h4>
	<ol>
		<li>
		① 프리랜서코리아를 이용하려는 자는 프리랜서코리아가 정한 가입 양식에 따라 회원정보를 기입한 후 이 약관에 동의함으로서 회원가입을 신청해야 합니다.
		</li>
		<li>
		② 제1항과 같이 회원으로 가입할 것을 신청한 이용자는 다음 각 호에 해당하지 않는 한 회원의 자격을 부여받습니다. 
		<ul>
			<li>
			1. 등록 내용에 허위, 기재누락, 오기가 있는 경우
			</li>
			<li>
			2. 회원으로 등록하는 것이 프리랜서코리아의 기술상 지장이 있다고 판단되는 경우
			</li>
			<li>
			3. 만 14세 미만의 자가 이용신청을 하는 경우
			</li>
			<li>
			4. 제 2조 2항 또는 3항의 이용 목적이 아닌 다른 목적으로 이용신청을 하는 경우
			</li>
		</ul>
		</li>
		<li>
		③ 회원가입의 성립 시기는 프리랜서코리아의 승낙이 회원에게 도달한 시점으로 합니다.
		</li>
		<li>
		④ 회	원은 회원가입 시 등록한 사항에 변경이 있는 경우, 상당한 기간 이내에 프리랜서코리아에 대하여 회원정보 수정 등의 방법으로 그 변경사항을 알려야 합니다.
		</li>
	</ol>

	<h4>제5조(회원 탈퇴 및 자격 상실 등)</h4>
	<ol>
		<li>
		① 회원은 프리랜서코리아에 언제든 탈퇴를 요청할 수 있으며 프리랜서코리아는 즉시 회원탈퇴를 처리합니다.
		</li>
		<li>
		② 회원이 다음 각 호의 사유에 해당하는 경우, 프리랜서코리아는 회원자격을 정지시킬 수 있으며, 그 정도가 회원 다수의 이익에 반한다고 프리랜서코리아가 판단하는 경우 회원등록을 말소할 수 있습니다. 이 경우 기존의 이용과 관련하여 적립된 개인정보, 누적 평점, 누적 포인트 등의 데이터베이스는 영구히 삭제되며 회원은 이에 대한 항변이나 복구 등의 요청을 할 수 없습니다.
		<ul>
			<li>
			1. 프리랜서코리아를 이용함에 있어 허위 내용과 정보 등을 등록 또는 입력하거나 중대한 내용 또는 정보 등의 누락으로 거래 상대방에게 피해를 끼친 경우
			</li>
			<li>
			2. 회원 간의 금전 및 용역 채무에 대한 계약 불이행으로 어느 일방에 민형사상의 책임이 상당하다고 프리랜서코리아가 판단하는 경우
			</li>
			<li>
			3. 다른 사람의 프리랜서코리아 이용을 방해하거나 그 정보를 도용하는 등 전자상거래 질서를 위협하는 경우
			</li>
			<li>
			4. 프리랜서코리아를 이용하며 법령 또는 이 약관의 중대한 위반, 공공질서 및 미풍양속에 반하는 행위를 한 경우
			</li>
			<li>
			5. 프리랜서코리아의 관리자가 해당 플랫폼 내 명시한 팝업 등의 안내 문구를 “회원”이 위반하여 이용자들 간의 거래질서를 해한 경우
			</li>
			<li>
			6. 동일인의 이중 회원가입 또는 회원 간의 통정, 담합을 통해 프리랜서코리아 질서를 교란시킨 경우
			</li>
		</ul>
		</li>
	</ol>

	<h4>제6조(회원에 대한 통지)</h4>
	<ol>
		<li>
		① 프리랜서코리아가 회원에 대해 통지를 하는 경우, 회원이 프리랜서코리아에 기입한 전자우편, SMS, SNS 등으로 할 수 있습니다.
		</li>
		<li>
		② 프리랜서코리아는 불특정다수 회원에 대한 통지의 경우 1주일이상 프리랜서코리아 게시판에 게시함으로서 개별 통지에 갈음할 수 있습니다. 다만, 회원 본인의 거래와 관련하여 중대한 영향을 미치는 사항에 대하여는 개별통지를 합니다.
		</li>
	</ol>

	<h4>제7조(서비스의 중단)</h4>
	<ol>
		<li>
		① 정보통신설비의 보수점검․교체 및 고장, 통신의 두절 등의 사유가 발생한 경우, 프리랜서코리아는 서비스의 제공을 일시적으로 중단할 수 있습니다.
		</li>
		<li>
		② 프리랜서코리아는 제1항의 사유로 서비스의 제공이 일시적으로 중단됨으로 인하여 회원이 입은 손해에 대하여 배상합니다. 단, 프리랜서코리아가 고의 또는 중과실이 없음을 입증하는 경우에는 그러하지 아니합니다.
		</li>
		<li>
		③ 사업종목의 전환, 폐업, 업체 간의 통합 등의 이유로 프리랜서코리아의 본 약관에서 제시하는 서비스를 더 이상 제공할 수 없어 회원이 금전적인 손해를 입게 된 경우, 프리랜서코리아는 제6조에 정한 방법으로 회원에게 통지하고 프리랜서코리아에서 제시하는 조건에 따라 회원에게 보상합니다. 
		</li>
	</ol>

	<h4>제8조(서비스의 제공 및 규정 등)</h4>
	<ol>
		<li>
		① 프리랜서코리아는 다음과 같은 서비스를 제공합니다.
		<ul>
			<li>
			1. 회원에 대한 정보제공
			</li>
			<li>
			2. 회원 간 중개서비스 제공
			</li>
			<li>
			3. 회원의 서비스 이용과 관련한 편의 증대를 위한 유상 서비스의 제공
			</li>
			<li>
			4. 기타 온라인 거래장소 제공 및 중개서비스 관련 부가서비스와 광고 일체
			</li>
		</ul>
		</li>
		<li>
		② 프리랜서코리아는 제공하는 서비스 또는 기술적 사양의 변경 등이 있는 경우 장차 제공할 서비스의 내용을 변경할 수 있으며 이 경우 변경된 서비스의 내용 등을 프리랜서코리아 웹사이트에 즉시 공고합니다.
		</li>
		<li>
		③ 전항의 경우로 회원이 입은 손해를 입은 경우 프리랜서코리아는 이를 배상합니다. 단 프리랜서코리아가 고의 또는 과실이 없음을 입증하는 경우에는 그러하지 아니합니다.
		</li>
		<li>
		④ 프리랜서코리아는 회원의 서비스 이용에 필요하다고 판단되는 경우, 회원이 프리랜서코리아에 기입한 이메일, SMS, SNS 등의 수단으로 이에 대한 안내를 할 수 있습니다. 해당 안내에 대한 확인 불능 또는 미확인으로 발생하는 회원의 피해에 대한 모든 책임은 회원에게 있습니다.
		</li>
		<li>
		⑤ “프리랜서”와 “클라이언트”는 프리랜서코리아를 이용하며 발생하는 용역 의뢰, 용역 수행 등의 모든 절차에 대하여 신의성실의 원칙에 의해 임해야 합니다.
		</li>
		<li>
		⑥ 프리랜서코리아에 지급하는 수수료를 제외한 회원 간의 배송비 등 용역 수행 및 용역 결과에 의해 발생하는 부수 비용은 상호간에 협의하여 각자 부담해야 합니다.
		</li>
		<li>
		⑦ 회원은 회원이 각자 입력한 개인 정보와 함께 회원등급, 레벨(Level), 레이블(Label), 뱃지(Badge), 평점 등 프리랜서코리아가 부여하는 자격으로도 본인을 소개할 수 있습니다. 단 허위로 관련 자격을 취득하여 본인이 부당이익을 취하거나 제 3자에게 손해를 끼친 경우, 해당 회원은 이에 대한 모든 책임이 있습니다. 프리랜서코리아는 각 회원이 입력 또는 취득한 모든 정보 및 자격에 대한 신뢰도 및 신빙성을 보증하지 않으며 이로 인한 분쟁에 대해 일체의 책임을 지지 않습니다. 따라서 모든 회원은 거래 상대방과의 거래 전 또는 거래 중 충분히 상대방에 대해 검증하는 절차를 밟아야 합니다.
		</li>
		<li>
		⑧ 회원은 프리랜서코리아의 모든 상세 페이지 및 개별 페이지에 기재되어 있는 안내 문구 및 설명 등(이하 “안내 문구”)을 본 약관에 명시되어 있지 않더라도 준수해야 합니다. 만약 본 약관과 안내 문구에 차이가 있는 경우 안내 문구가 우선 적용 됩니다.
		</li>
		<li>
		⑨ 모든 회원은 프리랜서코리아를 이용하며 온라인 상 주고 받는 전자문서(파일)에 대해 열람 전 반드시 바이러스 등의 악성코드를 검사한 후 본인의 PC 등의 저장장치에 저장해야 하는 의무가 있습니다. 바이러스 등으로 인한 피해가 있는 경우 프리랜서코리아는 책임지지 않으며, 프리랜서코리아에 저장된 파일은 용역 기간 만료 후 일정 기간이 지나면 영구적으로 삭제됩니다.
		</li>
		<li>
		⑩ 회원의 평점 또는 포트폴리오에 대한 댓글 등은 일반 대중에게 공개될 수 있음을 원칙으로 합니다. 단 해당 평가가 현저히 악의적이거나, 다수를 위한 이익에 부합하지 않는다고 판단되는 경우, 프리랜서코리아의 결정에 의해 임의적으로 삭제가 가능하며, 이 경우 해당 평가 또는 댓글을 기록한 회원은 프리랜서코리아의 결정에 항변할 수 없습니다.
		</li>
	</ol>

	<h4>제8조의1 (프로젝트 온라인 중개서비스)</h4>
	<p>프리랜서코리아는 온라인 구인구직 관련 중개자로서 회원 간의 중개서비스 및 이와 관련한 부수 서비스를 제공합니다.</p>
	
	<ol>
		<li>
		① 프리랜서코리아는 프로젝트 중개서비스 관련 상세 이용 안내 및 절차 등을 해당 서비스 화면에 명시합니다. 동 안내 문구의 효력은 제 8조 8항에서 명시한 바와 같습니다.
		</li>
		<li>
		② 프리랜서코리아의 프로젝트 온라인 중개서비스를 이용하는 이용자는 에스크로서비스를 이용할 수 있습니다. 이 경우 별도의 에스크로서비스 이용약관을 참고해주십시오. 또한 모든 회원은 에스크로서비스를 이용하지 않고도 프로젝트 온라인 중개서비스를 이용할 수 있습니다.(이하 “직거래”) 프리랜서코리아는 회원 간의 직거래로 발생한 분쟁, 하자보수, 손해배상 등을 인지할 수 없으며, 이에 대해 책임지지 않습니다. 
		</li>
		<li>
		③ 회원 간의 계약은 회원 간의 자유로운 의사에 따라 자기책임 하에 이뤄지는 것을 원칙으로 합니다. 따라서 모든 회원은 상대방과의 충분한 협의를 통해 용역의 범위, 가격, 기간 등의 세부 사항을 정해야 하며 프리랜서코리아는 회원 간의 계약에 개입하지 않습니다. 프리랜서코리아는 프리랜서코리아의 자료실에 상호간의 용역계약에 대한 표준계약서를 비치할 수 있습니다. 동 표준계약서는 회원 누구나 열람하여 이용할 수 있으나 기본적으로 프리랜서코리아의 에스크로서비스를 이용하는 회원들을 위한 프리랜서코리아의 무상서비스입니다. 동 표준계약서는 회원 간의 자기책임 하에 자유롭게 수정하여 사용할 수 있습니다. 단 프리랜서코리아의 동의를 득하지 아니한 조항 변경, 추가, 삭제 등의 행위는 무효이며 이로 인하여 회원은 프리랜서코리아에 항변할 수 없습니다.
		</li>
		<li>
		④ 기타 동조(프로젝트 온라인 중개서비스)와 관련하여 적용되는 회원과 프리랜서코리아의 의무와 권리에 관한 상세한 사항은 본 이용약관 제 9조부터 마지막 조항까지의 내용과 함께 별도로 첨부된 에스크로서비스 이용약관을 참조해주시기 바랍니다.
		</li>
	</ol>

	<h4>제8조의2 (컨테스트 온라인 중개서비스)</h4>
	<p>
	프리랜서코리아는 공모전 형식의 컨테스트 중개 서비스를 제공합니다. 컨테스트를 포스팅(개최) 한 클라이언트 회원은 불특정 다수의 프리랜서 회원에게 “용역의 결과물 또는 시안”(이하 “출품작”)을 제공받은 후, 자체적인 심사를 통해 당선자에게 상금을 지급하여 컨테스트를 합니다. 프리랜서코리아는 컨테스트 서비스 관련 상세 이용 안내 및 절차 등을 해당 서비스 화면에 명시합니다. 동 안내 문구의 효력은 제 8조 8항에서 명시한 바와 같습니다.
	</p>
	
	<ol>
		<li>
		⓵ 출품
		“클라이언트”가 “프리랜서”의 출품작 중 당선작을 선정하면 양자에게는 의무가 발생합니다. 선정된 당선작을 제출한 프리랜서는 “당선자” 또는 “당선인”이라고 합니다. “클라이언트”는 당선인에게 [7일] 이내에 상금 지급을 완료해야 할 의무가 발생하며 “당선인”은 “클라이언트”의 수정 및 보완 요구에 대해 성실히 응대해야 할 의무가 발생합니다. 프리랜서코리아는 회원간의 중개자로서 “클라이언트”의 당선작 선정 후 양자 간에 성립된 위 계약관계에 개입하지 않는 것을 원칙으로 합니다. 단 프리랜서코리아의 판단으로 어느 일방의 의무 해태 또는 중과실이 있는 경우, 프리랜서코리아는 양자 간의 계약관계에 적극적으로 개입하여 어느 일방의 의무를 이행하게 하거나 일방의 권리를 제한시킬 수 있습니다.
		</li>
		<li>
		⓶ 클라이언트의 의무
			<ul>
				<li>
				1) 클라이언트는 출품작에 대한 평가를 통해 당선인을 선정해야 합니다. 따라서 클라이언트는 당선인 선정 전 출품자들에게 개별적인 연락을 취할 수 없습니다. 단 동조 1항에 따른 계약관계가 성립된 후에는 공개된 당선인의 연락처를 통해 의사소통하며 수정 보완이 가능합니다.
				</li>
				<li>
				2) 클라이언트는 컨테스트에 관한 프리랜서코리아 약관과 서비스 화면에 명시된 안내 및 절차 외에 다른 사항을 프리랜서에게 요구할 수 없습니다.
				</li>
				<li>
				3) 프리랜서코리아는 출품 행위를 하는 프리랜서에게 지적재산권 침해에 대한 경고 및 안내를 할 수 있습니다. 그러나 프리랜서코리아에게는 프리랜서들의 출품작에 대해 법령 위반 여부를 검토할 의무가 없습니다. 따라서 클라이언트는 당선작을 선정하기 전 출품작의 지적재산권 침해 여부에 대해 면밀히 검토해야 할 의무가 있습니다. 본 지적재산권 침해와 관련한 클라이언트의 손해에 대해 프리랜서코리아는 책임지지 않습니다.
				</li>
				<li>
				4) 클라이언트는 당선작 선정 후 [7일] 이내에 당선자에게 상금 지급을 완료해야 합니다. [7일] 이내에 클라이언트의 상금 지급이 완료되지 않는 경우, 해당 상금은 클라이언트의 의사와 무관하게 당선작 선정 후 [8일]째 되는 날 당선인에게 지급됩니다.
				</li>
				<li>
				5) 당선인이 상금을 수령하면 당선작에 대한 지적재산권은 클라이언트에게 귀속됩니다.
				</li>
				<li>
				6) 당선작 선정 후 클라이언트에게는 적극적인 소통의무가 있습니다. 따라서 당선작에 대한 수정 및 보완이 필요한 경우 클라이언트는 적극적으로 프리랜서에게 이를 요구해야 합니다. 이 의무를 해태한 클라이언트는 [7일]이 경과하여 당선인에게 지급된 상금에 대하여 항변할 수 없습니다.
				</li>
				<li>
				7) 당선작 선정 후 클라이언트의 수정 및 보완 요구는 당선작의 근본적 디자인 또는 형질을 변경하거나 대체하지 않는 범위 내에서 이뤄져야 하며, 작업량은 통상적인 관점 하에 당선인이 [1일] 이내에 완료할 수 있는 수준이어야 합니다.
				</li>
				<li>
				8) 클라이언트는 본인의 컨테스트에 프리랜서의 자격으로 참여할 수 없으며, 공모전과 관련한 절차, 취지 등을 호도할 목적으로 제 3자와 통정하여 출품할 수 없습니다. 
				</li>
				<li>
				9) 개최한 컨테스트가 통상적인 공모전의 관점을 벗어나 회원 다수의 이용에 불편을 끼치거나, 부정한 목적으로 개최되거나, 미풍양속에 반한다고 프리랜서코리아가 판단하는 경우 비록 해당 컨테스트가 개최된 후라도 프리랜서코리아가 해당 컨테스트를 직권으로 취소 처분할 수 있습니다. 
				</li>
				<li>
				10) 출품작에 대한 당선 결정, 당선작에 대한 최종 확인, 당선작의 지적재산권 위반 여부 등에 관한 책임은 클라이언트에게 있습니다. 프리랜서코리아는 당선작에 대한 법적 무결성, 용역 완성도 등에 대한 담보 또는 보증을 하지 않습니다.
				</li>
			</ul>
		</li>
		<li>
		⓷ 프리랜서의 의무
			<ul>
				<li>
				1) 컨테스트에 출품하는 프리랜서의 출품작은 해당 컨테스트의 취지에 정합해야 하며 하자가 없어야 합니다. 그렇지 아니한 경우 클라이언트의 요청 또는 프리랜서코리아에 의해 해당 출품작은 출품자의 동의 없이 삭제될 수 있습니다. 출품작에 하자가 발생한 경우는 다음과 같습니다.
				<ul>
					<li>
					가. 해당 컨테스트의 클라이언트와 출품자가 해당 출품작에 하자가 있다고 동의한 경우
					</li>
					<li>
					나. 프리랜서코리아와 클라이언트가 해당 출품작에 하자가 있다고 동의한 경우
					</li>
					<li>
					다. 해당 출품작에 대해 지적재산권 침해를 주장하는 저작권자의 주장을 프리랜서코리아가 인용한 경우
					</li>
					<li>
					라. 출품작이 해당 컨테스트의 취지에 맞지 않는다고 클라이언트 또는 프리랜서코리아가 판단하는 경우
					</li>
				</ul>
				</li>
				<li>
				2) 프리랜서의 출품작이 당선되는 경우 해당 당선인에게는 상금을 지급 받을 권리가 발생함과 동시에 해당 클라이언트와 원활히 소통하고, 당선 후 [7일] 이내에 해당 클라이언트의 당선작에 대한 수정 및 보완 요구를 성실히 이행해야 할 의무가 발생합니다. 수정 및 보완의 범위에 대한 기준은 제8조의2 2항 7)과 같습니다.
				</li>
				<li>
				3) 모든 출품작은 프리랜서코리아를 통해 클라이언트에게 전달되어야 하며, 출품자가 당선된 경우 모든 당선인은 클라이언트가 요구하는 수정과 보완이 완료된 최종 결과물 원본을 클라이언트에게 제출해야 합니다. 출품작의 업로드 방법과 절차 등은 서비스 화면에 명시된 안내 문구를 준수해야 합니다.
				</li>
				<li>
				4) 프리랜서의 출품 행위는 프리랜서코리아의 약관과 서비스 화면에 명시된 안내 문구를 명확히 이해했음을 의미하며, 타인의 지적재산권에 속하거나 특정 지적재산의 2차 저작물이 아님을 약속하고 보증한 것을 의미합니다.
				</li>
				<li>
				5) 프리랜서는 출품 행위를 하며 타인의 지적재산권을 침해함으로써 발생한 클라이언트의 손해에 대하여 책임져야 합니다. 만약 이로 인해 프리랜서코리아가 피해를 입었다면 해당 프리랜서는 이에 대한 손해배상책임도 있습니다.
				</li>
			</ul>
		</li>
		<li>
		⓸ 권리 침해와 이용 제한, 의무 불이행
			<p>
			프리랜서코리아는 중개자로서 거래 질서를 위하여 이 약관에서 정한 바에 따라 회원자격을 정지하거나 서비스의 이용 제한, 기타 필요한 조치를 취할 수 있습니다. 프리랜서코리아가 특정 회원에 대한 자격을 정지하거나 기타 필요한 조치를 취하는 경우 프리랜서코리아는 사전에 회원에게 이메일, 유선 등으로 해당 사실을 통보합니다. 그러나 만약 다수의 이익을 위한 긴급한 사안이거나, 법령 위반, 업무 방해, 회원과의 연락 두절, 불능의 경우에는 사전 통보를 생략할 수 있습니다. 회원 자격이 정지 또는 제한된 회원은 해당 사유에 따라 일부 또는 모든 서비스를 이용할 수 없게 됩니다. 
			</p>
			<ul>
				<li>
				1) 출품작의 지적재산권 침해, 담합, 법률위반
				<ul>
					<li>
					가. 프리랜서의 출품작이 타인의 지적재산권을 침해하거나 해당 출품작의 취득 과정에서 법률을 위반한 것으로 명백히 판단되는 경우, 프리랜서코리아는 직권으로 해당 회원의 자격을 영구적으로 정지시킬 수 있습니다. 영구 정지되는 경우 해당 프리랜서의 계정에 누적된 모든 데이터는 삭제되며 프리랜서코리아에 대한 접근이 차단됩니다. 이 경우 프리랜서코리아는 기 수령한 상금에 대한 반환을 해당 프리랜서에게 요구할 수 있으며 해당 프리랜서는 이에 대해 항변할 수 없습니다.
					</li>
					<li>
					나. 회원이 제 3자와 통정하여 출품을 담합하는 행위, 컨테스트의 취지와 상이한 출품작을 제출하여 이용질서를 훼손하는 행위가 적발된 경우 프리랜서코리아는 직권으로 해당 회원의 자격을 영구적으로 정지시킬 수 있으며 연루된 관련자들에 대하여 민형사상의 책임을 물을 수 있습니다. 
					</li>
				</ul>
				</li>
				<li>
				2) 부정컨테스트
				제8조의2 2항 8)과 9)에 해당하는 경우 컨테스트 직권 취소 후 중개수수료를 제한 나머지 금액에 상당하는 금액을 출품자들에게 균등하게 포인트로 배분합니다. 이 경우 해당 클라이언트는 컨테스트 환불규정에도 불구하고 해당 컨테스트에 지불하였던 보증금과 상금을 환불 받을 수 없으며 프리랜서코리아는 해당 회원에게 동조 4항 2)의 책임을 물을 수 있습니다.
				</li>
				<li>
				3) 선정 후 연락두절 및 수정 보완 지체
				<ul>
					<li>
					가. 선정 후 클라이언트의 수정 및 보완 요구가 없는 경우
					클라이언트에게는 제8조의2 2항 6)에서 명시된 의무가 있습니다. 즉 클라이언트는 선정 후 [7일] 동안 당선인이 공개한 연락처를 통하여 당선작에 대한 수정 및 보완에 대한 요구를 해야 합니다. 해당 기간 내 클라이언트의 요구가 없는 경우 이는 요구 사항이 없는 것으로 간주되어 상금이 당선인에게 지급되고 해당 컨테스트는 종료됩니다.
					</li>
					<li>
					나. 선정 후 프리랜서의 연락두절 또는 지체
					프리랜서는 당선인이 된 후 [7일]의 기간 내에 제8조의2 3항 2)에서 명시된 바를 준수해야 할 의무가 있습니다. ‘프리랜서의 연락두절’이란 컨테스트를 개최한 클라이언트가 출품작에 대한 선정을 완료하고 당선작에 대한 수정 및 보완을 위해 당선자 프리랜서의 공개된 연락처로 연락을 취하였으나 [7일]의 기간 내에 무응답인 경우를 의미하며, ‘프리랜서의 지체’란 클라이언트의 제8조의2 2항 8)에 의거한 요구사항에 대해 이를 접수한 프리랜서가 정당한 이유 없이 당선 후 [8일]내 수정 및 보완에 응하지 않은 경우입니다. 이 경우 프리랜서코리아는 사안의 경중을 판단하여 해당 클라이언트와의 협의를 통해 ㄱ.상금지급보류, ㄴ.당선 순위의 변경, ㄷ.해당 당선자 지위 박탈 후 확정상금 재분배, ㄹ.본 약관의 환불규정에 의거한 컨테스트 취소 처분을 할 수 있습니다. 
					</li>
				</ul>
				</li>
			</ul>
		</li>
		<li>
		⓹ 지적재산권
			<ul>
				<li>
				1) 프리랜서가 타인의 지적재산권을 양수하지 못하고 사용에 대한 권리만을 취득하여 컨테스트 출품에 활용할 수 없습니다. 만약 프리랜서가 출품 후 이 사실을 인지하였다면 프리랜서는 반드시 그 사실을 해당 컨테스트의 클라이언트에게 고지해야 합니다. 이 경우 해당 클라이언트는 해당 출품작에 대한 지적재산권이 본인에게 이전될 수 있는 지의 여부를 스스로 반드시 점검해야 하며 지적재산권 위반으로 발생한 손해에 대해 프리랜서코리아는 책임지지 않습니다.
				</li>
				<li>
				2) 당선인과 그 당선작을 선정한 클라이언트는, 프리랜서코리아가 해당 당선작을 프리랜서코리아의 홍보를 위한 수단으로 별도의 사용료 없이 사용할 수 있다는 점에 동의합니다.
				</li>
				<li>
				3) 프리랜서코리아는 온라인 컨테스트 중개자로서 단순한 중개업무를 수행합니다. 즉 프리랜서코리아는 클라이언트나 프리랜서가 위반한 지적재산권 침해를 알 수 없으며, 일방이 입은 피해에 대해 책임지지 않습니다.
				</li>
			</ul>
		</li>
		<li>
		⑥ 결제
			<ul>
				<li>
				1) 보증금
				컨테스트 개최를 희망하는 클라이언트는 거래 안정성을 위해 보증금을 결제해야 하며, 프리랜서코리아는 결제된 해당 보증금을 보관합니다. 해당 보증금은 당선작을 선정하여 상금 지급을 완료하거나, 출품작이 없어 무응찰로 해당 컨테스트가 종료된 경우 전액 환불됩니다. 동 환불금액은 보증금과 보증금액의 10%(부가가치세)가 합산된 금액이 환불되며, 발생한 기간 이자는 포함되지 않습니다. 컨테스트 기한이 만료되거나 기한 내 중도 취소되는 경우 등 여러 상황 하에서의 환불 조건은 동조 8항의 환불조건표를 참고해주십시오.
				</li>
				<li>
				2) 확정상금
				컨테스트 개최를 희망하는 클라이언트는 전 조의 보증금과 함께 확정상금을 결제해야 합니다. 확정상금은 기본상금과 인센티브 금액의 합계 금액입니다. 확정상금은 실제 당선자에게 지급되는 금액이며 당선자는 복수가 될 수 있습니다. 클라이언트가 당선작을 확정하고 당선자에게 상금을 지급하는 경우 프리랜서코리아는 중개자로서 동 상금에서 중개수수료(10%)를 제한 후 사업소득세와 지방소득세를 원천징수(차감) 한 금액을 프리랜서에게 지급합니다. 프리랜서의 사업자 형태에 따라 사업소득세와 지방소득세 원천징수가 아닌 부가가치세가 적용될 수 있습니다. 컨테스트 기한이 만료되거나 기한 내 중도 취소되는 경우의 환불 조건은 동조 8항의 환불조건표를 참고해주십시오.
				</li>
				<li>
				3) 옵션
				프리랜서코리아의 컨테스트 서비스를 이용하는 모든 회원은 보다 더 효율적인 이용에 대한 기대로 프리랜서코리아가 제공하는 컨테스트 관련 옵션을 구매할 수 있습니다. 해당 옵션은 이용자의 이용 효율을 높일 수 있도록 설계되었습니다. 그러나 옵션보다 중요한 것은 클라이언트가 개최한 컨테스트의 본질적인 매력이고, 프리랜서가 제출한 출품작의 완성도입니다. 프리랜서코리아는 구매자가 옵션 구매를 통해 의도한 소기의 결과를 담보하거나 보증하지 않습니다. 클라이언트가 구매한 옵션은 컨테스트 개최가 완료된 후 환불이 불가능하며, 프리랜서가 구매한 옵션은 출품행위를 완료한 후 환불되지 않습니다.
				</li>
			</ul>
		</li>
		<li>
		⑦ 상금 지급
		클라이언트가 프리랜서코리아에서 상금지급 행위를 모두 완료하거나 상금지급 행위 없이 선정 후 [7일]이 경과하여 해당 컨테스트가 종료되면 프리랜서코리아는 클라이언트가 결제한 해당 확정상금을 프리랜서 당선인에게 지급합니다. 단 제 8조의2 4항 3)에 해당하는 경우는 예외로 합니다. 프리랜서코리아는 해당 컨테스트가 완료된 당일 또는 익일에 상금 지급을 완료합니다. 단 익일이 공휴일인 경우 돌아오는 프리랜서코리아의 영업일에 지급되며, 당선인의 계좌번호 등 입력정보가 불명확한 경우 지급이 지체될 수 있습니다.
		</li>
		<li>
		⑧ 환불 및 배당
		프리랜서코리아의 컨테스트 환불 및 배당 정책은 아래의 표와 같습니다.
		<div class="table-responsive">
			<table class="table table-sm table-bordered" style="min-width:800px;max-width: 1000px;margin:auto;">
				<tr class="table-active text-center">
					<td>구분</td>
					<td>상황</td>
					<td>보증금</td>
					<td>확정상금</td>
					<td>저작권</td>
				</tr>
				<tr>
					<td class="table-active">당선</td>
					<td class="table-active">컨테스트 마감 기한 내 참여자 중 단독 또는 수인이 당선된 경우</td>
					<td class="table-active">전액환불</td>
					<td class="table-active">10% 수수료와 세금을 제외한 금액이 당선자에게 지급됨</td>
					<td class="table-active text-center">이전</td>
				</tr>
				<tr>
					<td class="table-active">무응찰</td>
					<td class="table-active">출품작 없이 컨테스트가 취소 또는 기한마감으로 종료된 경우</td>
					<td class="table-active">전액환불</td>
					<td class="table-active">전액환불</td>
					<td class="table-active text-center">-</td>
				</tr>
				<tr>
					<td>2인이하</td>
					<td>2인 이하의 출품자가 있었으나 미선정하여 취소, 종료된 경우</td>
					<td><strong>80%환불</strong><br>20%출품자배당</td>
					<td><strong>70%환불</strong><br>20%출품자배당<br>10%수수료</td>
					<td style="text-align:center">불가</td>
				</tr>
				<tr>
					<td>3~5인</td>
					<td>3인~5인의 출품자가 있었으나 미선정하여 취소, 종료된 경우</td>
					<td><strong>50%환불</strong><br>50%출품자배당</td>
					<td><strong>50%환불</strong><br>40%출품자배당<br>10%수수료</td>
					<td style="color:red;text-align:center">불가</td>
				</tr>
				<tr>
					<td>6인 이상 참여</td>
					<td>6인 이상의 출품자가 있었으나 미선정하여 취소, 종료된 경우</td>
					<td><strong>20%환불</strong><br>80%출품자배당</td>
					<td><strong>20%환불</strong><br>70%출품자배당<br>10%수수료</td>
					<td style="color:red;text-align:center">불가</td>
				</tr>
			</table>
		</div>

		환불금액에는 기간이자가 포함되지 않으며 환불에 소요되는 비용이 발생하는 경우 클라이언트의 계산으로 합니다. 프리랜서의 배당은 포인트로 누적됩니다. 1원은 1포인트에 해당하며, 유효기간은 1년입니다. 프리랜서코리아의 포인트는 프리랜서코리아에서 현금과 동일하게 옵션 구매에 사용할 수 있습니다. 프리랜서코리아는 상기 환불 또는 배당 조건이 달성된 당일 또는 익일에 당사자에게 환불 또는 배당을 완료합니다. 단 익일이 공휴일인 경우 돌아오는 프리랜서코리아의 영업일에 지급되며, 해당 클라이언트가 입력한 계좌번호 등 입력정보가 불명확한 경우 지급이 지체될 수 있습니다.
		</li>
	</ol>
	<h4>제9조 게시물의 관리 운영</h4>
	<ol>
		<li>
		⓵ 프리랜서코리아에서 회원이 직접 작성하여 게시한 게시물의 저작권은 작성자 본인에게 귀속됩니다. 다만 프리랜서코리아는 홍보의 목적으로 이를 인용 또는 취합하여 서비스 외의 곳에 게시할 수 있으며 해당 저작권에 대한 사용료는 면제되는 것으로 합니다.
		</li>
		<li>
		⓶ 프리랜서가 본인과 관련한 또는 본인이 수행한 용역과 관련한 이미지를 이미지파일 또는 영상파일의 형태로 프리랜서코리아에 저장하거나, 게시물의 형태로 불특정 다수에게 공개하는 경우, 해당 프리랜서는 사전에 해당 용역 결과물의 소유자 또는 저작권자에게 승인을 받아야 합니다. 만약 명백한 저작권자가 프리랜서코리아에 본인 소유의 저작물에 대한 삭제 요청을 하는 경우 프리랜서코리아는 지체 없이 해당 요청에 응해야합니다. 이 경우 해당 게시물과 관련한 데이터는 영구히 삭제 처리 되며, 해당 게시물의 게시에 소요된 옵션, 결제금액 등은 환불되지 않습니다.
		</li>
		<li>
		⓷ 프리랜서코리아는 다음 각 호에 해당하는 게시물이나 자료를 사전 통지 없이 삭제할 수 있으며, 회원의 자격을 정지 또는 소멸시킬 수 있습니다. 이 경우 게시물 개제와 관련하여 회원이 지출한 비용은 환불되지 않습니다.
		<ul>
			<li>
			가. 본 서비스 약관에 위배, 현행법 위반, 음란, 저속하다고 판단되는 게시물
			</li>
			<li>
			나. 다른 회원 또는 제 3자를 비방하거나 중상모략으로 명예를 손상시키는 내용인 경우
			</li>
			<li>
			다. 공공질서 및 미풍양속에 위반되는 내용인 경우
			</li>
			<li>
			라. 범죄적 행위에 결부된다고 인정되는 내용일 경우
			</li>
			<li>
			마. 제3자의 저작권 등 기타 권리를 침해하는 내용인 경우
			</li>
			<li>
			바. 서비스 성격에 부합하지 않는 정보의 경우
			</li>
			<li>
			사. 허위 프로젝트(신분위장, 아이디어 침해 등을 목적으로 한 컨테스트)를 등록한 경우
			</li>
			<li>
			아. 프리랜서코리아 내부 검수기준에 부합하지 않는 경우
			</li>
			<li>
			자. 기타 관계 법령에 위배되는 경우
			</li>
		</ul>
		</li>
		<li>
		⓸ 프리랜서코리아는 게시된 내용이 일정 기간 이상 경과되어 게시물로써의 효력을 상실하여 그 존치 목적이 불분명한 경우, 해당 게시물을 삭제할 수 있으며 게시와 관련한 회원의 비용은 환불되지 않습니다.
		</li>
		<li>
		⓹ 모든 회원은 게시물의 효율성 재고, 또는 게시물의 판촉, 홍보를 위하여 유료 옵션을 구매할 수 있습니다. 해당 옵션에 적용되는 유효 기간과 가격은 언제든 변동될 수 있습니다. 따라서 모든 회원은 구매 시점의 서비스 화면 안내 및 옵션 금액, 유효 기간 등을 정확히 인지한 후 구매해주시기 바랍니다. 기타 결제, 구매, 환불, 포인트 등에 관한 사항은 본 약관 제 19조를 참조해주십시오.
		</li>
	</ol>

	<h4>제10조 프리랜서코리아의 소유권</h4>
	<ol>
		<li>
		⓵ 프리랜서코리아가 제공하는 서비스, 그에 필요한 소프트웨어, 이미지, 마크, 로고, 디자인, 서비스 명칭, 정보 및 상표 등과 관련된 지적재산권 및 기타 권리는 프리랜서코리아에게 있습니다.
		</li>
		<li>
		⓶ 회원은 프리랜서코리아가 명시적으로 승인한 경우를 제외하고는 제1항 소정의 각 재산에 대한 전부 또는 일부의 수정, 대여, 대출, 판매, 배포, 제작, 양도, 재라이센스, 담보권설정행위, 상업적 이용행위를 할 수 없으며, 제3자로 하여금 이와 같은 행위를 하도록 허락할 수 없습니다.
		</li>
	</ol>
	<h4>제11조(정보제공 및 광고의 게재)</h4>
	<ol>
		<li>
		① 프리랜서코리아는 회원의 서비스 이용에 필요한 다양한 정보 및 광고를 배너, 전자우편, 서신우편, 휴대폰 문자메시지, 전화, 어플리케이션 알림 등의 방법으로 회원에게 제공할 수 있습니다. 다만, 회원이 이를 원하지 않는 경우 프리랜서코리아가 제공하는 방법에 따라 수신을 거부할 수 있습니다.
		</li>
		<li>
		② 전항 단서에 따른 수신을 거부한 회원의 경우라도 이용약관, 개인정보보호정책, 기타 회원의 이익에 영향을 미칠 수 있는 중요한 사항의 변경 등 회원이 반드시 알고 있어야 하는 사항에 대해서는 전항의 방법으로 정보의 제공 등을 할 수 있습니다.
		</li>
		<li>
		③ 프리랜서코리아에는 배너와 링크(Link) 등 다양한 형태의 광고가 포함될 수 있으며, 이는 제3자가 제공하는 페이지와 연결될 수 있습니다. 이 경우 해당 페이지는 프리랜서코리아의 서비스 영역이 아니므로 프리랜서코리아가 신뢰성, 안정성 등을 보장하지 않으며 그로 인한 회원의 손해에 대하여 책임을 지지 않습니다.
		</li>
		<li>
		④ 프리랜서코리아는 서비스 상에 게재되어 있거나 서비스를 통한 제3자와의 판촉활동에 회원이 참여하거나 교신 또는 거래의 결과로서 발생하는 모든 손실 또는 손해에 대해 관련 법에 특별한 규정이 있거나 프리랜서코리아의 고의 또는 중과실로 인한 경우가 아닌 한 책임을 지지 않습니다.
		</li>
	</ol>

	<h4>제12조(개인정보보호)</h4>
	<ol>
		<li>
		①프리랜서코리아는 회원의 개인정보 수집 시 서비스제공을 위하여 필요한 범위에서 최소한의 개인정보를 수집합니다. 
		</li>
		<li>
		②프리랜서코리아는 회원가입 시 구체적인 서비스계약이행에 필요한 정보를 미리 수집하지 않습니다. 다만, 관련 법령상 의무이행을 위하여 구매계약 이전에 본인확인이 필요한 경우로서 최소한의 특정 개인정보를 수집하는 경우에는 그러하지 아니합니다.
		</li>
		<li>
		③프리랜서코리아는 회원의 개인정보를 수집·이용하는 때에는 당해 회원에게 그 목적을 고지하고 동의를 받습니다. 
		</li>
		<li>
		④프리랜서코리아는 수집된 개인정보를 목적 외의 용도로 이용할 수 없으며, 새로운 이용목적이 발생한 경우 또는 제3자에게 제공하는 경우에는 이용·제공단계에서 당해 회원에게 그 목적을 고지하고 동의를 받습니다. 다만, 관련 법령에 달리 정함이 있는 경우에는 예외로 합니다.
		</li>
		<li>
		⑤프리랜서코리아가 제2항과 제3항에 의해 동의를 받아야 하는 경우에는 개인정보관리 책임자의 신원(소속, 성명 및 전화번호, 기타 연락처), 정보의 수집목적 및 이용목적, 제3자에 대한 정보제공 관련사항(제공받은 자, 제공목적 및 제공할 정보의 내용) 등 「정보통신망 이용촉진 및 정보보호 등에 관한 법률」 제22조제2항이 규정한 사항을 미리 명시하거나 고지해야 하며 회원은 언제든지 이 동의를 철회할 수 있습니다.
		</li>
		<li>
		⑥ 회원은 언제든지 프리랜서코리아가 가지고 있는 자신의 개인정보에 대해 열람 및 오류정정을 요구할 수 있으며 프리랜서코리아는 이에 대해 지체 없이 필요한 조치를 취할 의무를 집니다. 회원이 오류의 정정을 요구한 경우 프리랜서코리아는 그 오류를 정정할 때까지 당해 개인정보를 이용하지 않습니다.
		</li>
		<li>
		⑦프리랜서코리아는 개인정보 보호를 위하여 회원의 개인정보를 취급하는 자를 최소한으로 제한하여야 하며 신용카드, 은행계좌 등을 포함한 회원의 개인정보의 분실, 도난, 유출, 동의 없는 제3자 제공, 변조 등으로 인한 회원의 손해에 대하여 모든 책임을 집니다.
		</li>
		<li>
		⑧프리랜서코리아 또는 그로부터 개인정보를 제공받은 제3자는 개인정보의 수집목적 또는 제공받은 목적을 달성한 때에는 당해 개인정보를 지체 없이 파기합니다.
		</li>
		<li>
		⑨프리랜서코리아는 개인정보의 수집·이용·제공에 관한 동의 선택 박스를 미리 선택한 것으로 설정해두지 않습니다. 또한 개인정보의 수집·이용·제공에 관한 이용자의 동의거절시 제한되는 서비스를 구체적으로 명시하고, 필수수집항목이 아닌 개인정보의 수집·이용·제공에 관한 이용자의 동의 거절을 이유로 회원가입 등 서비스 제공을 제한하거나 거절하지 않습니다.
		</li>
	</ol>

	<h4>제13조(프리랜서코리아의무)</h4>
	<ol>
		<li>
		①프리랜서코리아는 법령과 이 약관이 금지하거나 공서양속에 반하는 행위를 하지 않으며 이 약관이 정하는 바에 따라 지속적이고, 안정적으로 재화․용역을 제공하는데 최선을 다하여야 합니다.
		</li>
		<li>
		②프리랜서코리아는 회원이 안전하게 인터넷 서비스를 이용할 수 있도록 회원의 개인정보(신용정보 포함)보호를 위한 보안 시스템을 갖추어야 합니다.
		</li>
		<li>
		③프리랜서코리아가 상품이나 용역에 대하여 「표시․광고의 공정화에 관한 법률」 제3조 소정의 부당한 표시․광고행위를 함으로써 회원이 손해를 입은 때에는 이를 배상할 책임을 집니다.
		</li>
	</ol>

	<h4>제14조(회원의 ID 및 비밀번호에 대한 의무)</h4>
	<ol>
		<li>
		① 제12조의 경우를 제외한 ID와 비밀번호에 관한 관리책임은 회원에게 있습니다.
		</li>
		<li>
		② 회원은 자신의 ID 및 비밀번호를 제3자에게 이용하게 해서는 안됩니다.
		</li>
		<li>
		③ 회원이 자신의 ID 및 비밀번호를 도난당하거나 제3자가 사용하고 있음을 인지한 경우에는 바로 프리랜서코리아에 통보하고 프리랜서코리아의 안내가 있는 경우에는 그에 따라야 합니다.
		</li>
	</ol>

	<h4>제15조(회원의 의무)</h4>
	<p>
	회원은 다음 행위를 하여서는 안 됩니다.
	<ul>
		<li>
		1. 회원가입 또는 정보 변경 시 허위 내용의 등록
		</li>
		<li>
		2. 타인의 정보 도용
		</li>
		<li>
		3.프리랜서코리아에 게시된 정보의 변경
		</li>
		<li>
		4.프리랜서코리아가 정한 정보 이외의 정보(컴퓨터 프로그램 등) 등의 송신 또는 게시
		</li>
		<li>
		5.프리랜서코리아 기타 제3자의 저작권 등 지적재산권에 대한 침해
		</li>
		<li>
		6.프리랜서코리아 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위
		</li>
		<li>
		7. 외설 또는 폭력적인 메시지, 화상, 음성, 기타 공서양속에 반하는 정보를 프리랜서코리아에 공개 또는 게시하는 행위
		</li>
		<li>
		8. 프리랜서가 복수의 아이디로 하나의 입찰에 참여하거나 시안을 제출하여 입찰을 교란하는 행위 또는 클라이언트가 실질적인 본인의 아이디로 본인의 입찰에 참여하거나 또는 프리랜서와 통정하여 입찰을 담합하는 행위
		</li>
		<li>
		9. 세금계산서 미발행 및 미수령, 원천징수의무 해태 등의 현행 세법에 위배된 행위
		</li>
	</ul>

	위에 열거된 행위에 직접 해당되지 않아도 타 회원 및 프리랜서코리아에 대한 이익침해, 중개 서비스의 이용 질서 혼란, 위법 등의 우려가 있는 경우 프리랜서코리아는 재량의 판단으로 해당 회원에 대해 서비스 이용 정지, 서비스 제공 거부 등의 조치를 취할 수 있습니다.
	</p>

	<h4>제16조(저작권의 귀속 및 이용제한)</h4>
	<ol>
		<li>
		①프리랜서코리아가 작성한 저작물에 대한 저작권 기타 지적재산권은 프리랜서코리아에 귀속합니다.
		</li>
		<li>
		② 회원은“프리랜서코리아 플랫폼”을 이용함으로써 얻은 정보 중 프리랜서코리아에게 지적재산권이 귀속된 정보를 프리랜서코리아의 사전 승낙 없이 복제, 송신, 출판, 배포, 방송 기타 방법에 의하여 영리목적으로 이용하거나 제3자에게 이용하게 하여서는 안됩니다.
		</li>
		<li>
		③프리랜서코리아는 약정에 따라 회원에게 귀속된 저작권을 사용하는 경우 당해 회원에게 통보하여야 합니다. 단 회원이 프리랜서코리아의 이용을 통해 생성된 저작권 또는 용역 결과물의 경우 프리랜서코리아는 저작권자에 대한 통보 또는 저작권의 동의 없이 무료로 사용할 수 있습니다.
		</li>
	</ol>

	<h4>제17조(분쟁해결)</h4>
	<ol>
		<li>
		①프리랜서코리아는 온라인 상에서 회원 간의 중개서비스를 목적으로 하고 있습니다. 따라서 모든 회원은 자기결정에 의해 용역을 의뢰하고, 이를 수임하며, 양자 간의 합의된 계약을 통해 구체적 권리 의무 관계를 정해야 합니다. 프리랜서코리아는 양자의 계약 및 분쟁에 개입하지 않으나, 회원이 “에스크로서비스”를 이용한 경우에는 제한적으로 분쟁 해결을 위한 서비스를 제공할 수 있습니다. 이에 대한 자세한 사항은 별도의 “에스크로서비스 이용약관”을 참조해주십시오. 
		</li>
		<li>
		②프리랜서코리아는 회원이 제기하는 이용 상의 불만을 반영하고 회원 간의 이해관계 조율을 위해 상담창구를 운영합니다.
		</li>
		<li>
		③프리랜서코리아는 회원으로부터 제출되는 불만사항 및 의견은 우선적으로 그 사항을 처리합니다. 다만, 신속한 처리가 곤란한 경우에는 회원에게 그 사유와 처리일정을 즉시 통보해 드립니다.
		</li>
		<li>
		④프리랜서코리아와 회원 간에 발생한 상거래 분쟁과 관련하여 회원의 피해구제신청이 있는 경우에는 공정거래위원회 또는 시·도지사가 의뢰하는 분쟁조정기관의 조정에 따를 수 있습니다. 
		</li>
	</ol>

	<h4>제18조(대리 및 보증의 부인)</h4>
	<ol>
		<li>
		⓵ 프리랜서코리아는 온라인 중개를 위해 온라인 중개 장소(e-Marketplace)를 제공하며, 용역 의뢰 또는 용역 수행의 주체가 되지 않습니다. 따라서 프리랜서코리아는 용역의 의뢰인(클라이언트 등)과 용역의 수행인(프리랜서 등)을 대리 또는 보증하지 않습니다. 
		</li>
		<li>
		⓶ 프리랜서코리아는 회원 간에 발생하는 계약과 의사소통, 프리랜서 용역의 완성도, AS, 적법성, 관련 법령 준수여부, 회원이 직접 입력한 정보, 발주 또는 수행하는 용역 및 용역에 부수되는 일체의 행위에 대해 보증하지 않습니다. 따라서 모든 회원은 각자의 자율적인 소통과, 신중한 판단에 의해 용역을 의뢰하고 수임해야 하며 모든 위험과 책임은 각 회원이 각자 부담해야 합니다.
		</li>
	</ol>

	<h4>제19조(결제, 구매, 환불, 포인트 등)</h4>
	<ol>
		<li>
		① 모든 회원은 프리랜서코리아의 효과적인 이용을 위해 “옵션”을 구매할 수 있습니다. 프리랜서코리아의 모든 옵션은 구매자의 이용 효율을 높일 수 있게 설계하였으나, 구매자가 기대하는 목적의 달성을 보장하지 않습니다. 각 유료옵션에 대한 가격은 언제든 변경될 수 있습니다. 또한 프리랜서코리아는 자의적 판단으로 프리랜서코리아에 대한 잠재적 기여도를 감안하여 특정 회원에게 무상으로 해당 유료옵션을 제공할 수 있습니다.
		</li>
		<li>
		② 클라이언트는 용역 대금에 대한 결제 시 프리랜서코리아의 대금보관서비스(에스크로서비스)를 이용할 수 있습니다. 이 경우 프리랜서코리아는 세금계산서를 발행하여 해당 클라이언트에게 교부합니다. 단 클라이언트가 세금계산서 발행 및 수수의무가 없는 경우 프리랜서코리아는 이를 거절할 수 있습니다. 프리랜서코리아는 용역 대금 결제, 용역 대금 입금 등에 관한 정보 등을 클라이언트의 이용화면에 보일 수 있게 합니다. 프리랜서코리아의 에스크로서비스 이용에 의한 결제 또는 환불의 경우 별도의 “에스크로서비스이용약관”을 참조해주시기를 바랍니다.
		</li>
		<li>
		③ 프리랜서코리아는 회원의 옵션 구매와 관련하여 포인트를 제공할 수 있습니다. 모든 회원은 적립된 포인트를 옵션의 구매 수단으로 활용할 수 있습니다. 프리랜서코리아 내에서 1포인트는 1원과 같습니다. 포인트는 현금 전환 청구, 환불, 양도, 이전, 매매, 담보제공이 불가하며, 발생한 신규 포인트의 유효기한은 1년을 원칙으로 합니다. 포인트가 적용되는 기준금액과 적립률 등은 항상 서비스 화면에 정리되어 있으며 해당 기준은 언제든 변경될 수 있습니다.
		</li>
		<li>
		④ 프리랜서코리아가 비상시적 이벤트로 회원에게 지급한 무상의 혜택은 본래의 사용 기간과는 별도로 그 사용 기간을 정할 수 있습니다. 
		</li>
		<li>
		⑤ 본 약관 제 8조의2 4항과 제 9조의 위반에 의해 회원자격이 박탈, 소멸된 경우와 더불어 자발적인 회원자격 상실, 탈퇴로 인한 포인트 이전, 양도, 반환, 매매 등을 요구할 수 없으며, 누적된 포인트는 영구히 소멸됩니다.
		</li>
		<li>
		⑥ 서비스 이용 요금 및 환불과 관련한 사항은 다음과 같습니다.
		<ul>
			<li>
			가. 용역의 대가로 발생하는 수수료(서비스 이용 요금)는 프리랜서코리아가 제공하는 서비스 유형에 따라 다르게 적용되며, 이 경우 프리랜서코리아는 이용 화면에 해당 안내 정보를 명시해야 합니다.
			</li>
			<li>
			나. 모든 회원은 프리랜서코리아가 제공하는 유료옵션을 구매할 수 있으며, 각 옵션의 성격에 따라 요금은 차등적으로 적용됩니다. 또한 본 유료옵션의 가격은 언제든 변할 수 있습니다.
			</li>
			<li>
			다. 제 8조의1과 관련한 서비스를 이용하며 프리랜서코리아의 에스크로계좌에 예치한 대금에 대한 환불은 별도의 에스크로서비스 이용약관에 의합니다. 
			</li>
			<li>
			라. 모든 회원은 게시물의 효율을 높이기 위해 유료옵션을 구매할 수 있으나, 구매한 유료옵션 항목은 해당 게시물의 잔여 기간(결제한 옵션이 유효한 기간)에 관계없이 환불되지 않습니다. 구매한 옵션이 유효한 상태임에도 게시물을 회원 스스로 삭제, 취소한 경우에도 잔여 유효 기간과 관계없이 환불이 불가능합니다.
			</li>
			<li>
			라. 제 8조의 2와 관련한 서비스를 이용한 경우 환불정책은 다음과 같습니다. 단 보증금과 확정상금 외 컨테스트 포스팅의 효과를 높이기 위한 유료옵션 항목은 환불되지 않습니다.
			</li>
		</ul>
		<div class="table-responsive">
			<table class="table table-sm table-bordered" style="min-width:800px;max-width: 1000px;margin:auto">
				<tr class="table-active text-center">
					<td>구분</td>
					<td>상황</td>
					<td>보증금</td>
					<td>확정상금</td>
					<td>저작권</td>
				</tr>
				<tr>
					<td class="table-active">당선</td>
					<td class="table-active">컨테스트 마감 기한 내 참여자 중 단독 또는 수인이 당선된 경우</td>
					<td class="table-active">전액환불</td>
					<td class="table-active">10% 수수료와 세금을 제외한 금액이 당선자에게 지급됨</td>
					<td class="table-active text-center">이전</td>
				</tr>
				<tr>
					<td class="table-active">무응찰</td>
					<td class="table-active">출품작 없이 컨테스트가 취소 또는 기한마감으로 종료된 경우</td>
					<td class="table-active">전액환불</td>
					<td class="table-active">전액환불</td>
					<td class="table-active text-center">-</td>
				</tr>
				<tr>
					<td>2인이하</td>
					<td>2인 이하의 출품자가 있었으나 미선정하여 취소, 종료된 경우</td>
					<td><strong>80%환불</strong><br>20%출품자배당</td>
					<td><strong>70%환불</strong><br>20%출품자배당<br>10%수수료</td>
					<td style="text-align:center">불가</td>
				</tr>
				<tr>
					<td>3~5인</td>
					<td>3인~5인의 출품자가 있었으나 미선정하여 취소, 종료된 경우</td>
					<td><strong>50%환불</strong><br>50%출품자배당</td>
					<td><strong>50%환불</strong><br>40%출품자배당<br>10%수수료</td>
					<td style="text-align:center">불가</td>
				</tr>
				<tr>
					<td>6인 이상 참여</td>
					<td>6인 이상의 출품자가 있었으나 미선정하여 취소, 종료된 경우</td>
					<td><strong>20%환불</strong><br>80%출품자배당</td>
					<td><strong>20%환불</strong><br>70%출품자배당<br>10%수수료</td>
					<td style="color:red;text-align:center">불가</td>
				</tr>
			</table>
		</div>
		</li>
	</ol>


	<h4>제20조(재판권 및 준거법)</h4>
	<ol>
		<li>
		①프리랜서코리아와 회원 간에 발생한 전자상거래 분쟁에 관한 소송은 제소 당시의 회원의 주소에 의하고, 주소가 없는 경우에는 거소를 관할하는 지방법원의 전속관할로 합니다. 다만, 제소 당시 회원의 주소 또는 거소가 분명하지 않거나 외국 거주자의 경우에는 민사소송법상의 관할법원에 제기합니다.
		</li>
		<li>
		②프리랜서코리아와 회원 간에 제기된 전자상거래 소송에는 한국법을 적용합니다.
		</li>
	</ol>
</div>
<!-- 프리랜서코리아 이용약관// -->

</html>