<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator=" layout/layout">
<head>
	<!-- 로컬적용 css -->
	<link rel="stylesheet" href="/static/css/contest.css">
</head>

	
	<section id="content" layout:fragment="content">
		<div id="container">
			<div id="container_side">
				<div id="cs_list">
					<ul>
						<li><a href="">컨테스트 리스트</a></li>
					</ul>
				</div>
			</div>
			<div id="container_content">		
				<div class="container_inner">
					<h1>■ 컨테스트 보기</h1>
					<form id="" name="" method="get">
						<table class="boardform">
							<colgroup>
								<col width="120">
								<col width="150">
								<col width="150">
								<col width="150">
							</colgroup>
							<tbody>
								<tr>
									<th>구분</th>
									<td>1위</td>
									<td>2위</td>
									<td>3위</td>
								</tr>
								<tr>
									<th>컨테스트명</th>
									<td colspan="3">사보표지디자인</td>
								</tr>
								<tr>
									<th>낙찰자</th>
									<td>박송제</td>
									<td>이현주</td>
									<td>양미현</td>
								</tr>
								<tr>
									<th>작품</th>
									<td><div style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMqhA_eRai9M3T9HeB1rfp4z77D9UbE2roQoSHwjsU64qz98yl')no-repeat;width:100px;height:100px;background-position: center center;background-size: cover;"></div></td>
									<td><div style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMqhA_eRai9M3T9HeB1rfp4z77D9UbE2roQoSHwjsU64qz98yl')no-repeat;width:100px;height:100px;background-position: center center;background-size: cover;"></div></td>
									<td><div style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMqhA_eRai9M3T9HeB1rfp4z77D9UbE2roQoSHwjsU64qz98yl')no-repeat;width:100px;height:100px;background-position: center center;background-size: cover;"></div></td>
								</tr>
								<tr>
									<th>완료일</th>
									<td colspan="3">2018.07.26</td>
								</tr>
								<tr>
									<th>첨부파일</th>
									<td>기획안 52p</td>
									<td>기획안 52p</td>
									<td>기획안 52p</td>
								</tr>
								<tr>
									<th>평점(클라이언트)</th>
									<td>
										<table>
											<tr>
												<td>전반적</td>
												<td>존중하는</td>
												<td>명확한</td>
												<td>신뢰성</td>
												<td>소통능력</td>
											</tr>
											<tr>
												<td>5.0</td>
												<td>5.0</td>
												<td>5.0</td>
												<td>5.0</td>
												<td>5.0</td>
											</tr>
											<tr>
												<td colspan="5">주관식평가</td>
											</tr>
										</table>
									</td>
									<td>
										<table>
											<tr>
												<td>전반적</td>
												<td>존중하는</td>
												<td>명확한</td>
												<td>신뢰성</td>
												<td>소통능력</td>
											</tr>
											<tr>
												<td>5.0</td>
												<td>5.0</td>
												<td>5.0</td>
												<td>5.0</td>
												<td>5.0</td>
											</tr>
											<tr>
												<td colspan="5">주관식평가</td>
											</tr>
										</table>
									</td>
									<td>
										<table>
											<tr>
												<td>전반적</td>
												<td>존중하는</td>
												<td>명확한</td>
												<td>신뢰성</td>
												<td>소통능력</td>
											</tr>
											<tr>
												<td>5.0</td>
												<td>5.0</td>
												<td>5.0</td>
												<td>5.0</td>
												<td>5.0</td>
											</tr>
											<tr>
												<td colspan="5">주관식평가</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<th>평점(프리랜서)</th>
									<td>
										<table>
											<tr>
												<td>전반적</td>
												<td>존중하는</td>
												<td>명확한</td>
												<td>신뢰성</td>
												<td>소통능력</td>
											</tr>
											<tr>
												<td>5.0</td>
												<td>5.0</td>
												<td>5.0</td>
												<td>5.0</td>
												<td>5.0</td>
											</tr>
											<tr>
												<td colspan="5">주관식평가</td>
											</tr>
										</table>
									</td>
									<td>
										<table>
											<tr>
												<td>전반적</td>
												<td>존중하는</td>
												<td>명확한</td>
												<td>신뢰성</td>
												<td>소통능력</td>
											</tr>
											<tr>
												<td>5.0</td>
												<td>5.0</td>
												<td>5.0</td>
												<td>5.0</td>
												<td>5.0</td>
											</tr>
											<tr>
												<td colspan="5">주관식평가</td>
											</tr>
										</table>
									</td>
									<td>
										<table>
											<tr>
												<td>전반적</td>
												<td>존중하는</td>
												<td>명확한</td>
												<td>신뢰성</td>
												<td>소통능력</td>
											</tr>
											<tr>
												<td>5.0</td>
												<td>5.0</td>
												<td>5.0</td>
												<td>5.0</td>
												<td>5.0</td>
											</tr>
											<tr>
												<td colspan="5">주관식평가</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<th>지급상금</th>
									<td>160,000</td>
									<td>120,000</td>
									<td>80,000</td>
								</tr>
								<tr>
									<th>명세서</th>
									<td class="tc"><a href="" class="btn-black medium">보기</a></td>
									<td class="tc"><a href="" class="btn-black medium">보기</a></td>
									<td class="tc"><a href="" class="btn-black medium">보기</a></td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
			</div>
		</div>
	</section>
	

</html>