<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  
  <th:block th:replace="fragments/head :: headFragment"></th:block>
  
  
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
	  
		<!-- side navigation -->
		<th:block th:replace="fragments/sidebar :: sidebarFragment"></th:block>
		<!-- side navigation -->
		
        <!-- top navigation -->
        <th:block th:replace="fragments/topbar :: topbarFragment"></th:block>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
        	<th:block layout:fragment="content"></th:block>
        </div>
        <!-- /page content -->


        <!-- footer content -->         
     	<th:block th:replace="fragments/footer :: footerFragment"></th:block>     	 
        <!-- /footer content -->
        
      </div>
    </div>
   
    <th:block th:replace="fragments/script :: scriptFragment"></th:block>  
  
  
  </body>
</html>