.table th, .table td {
    padding: 0.3rem 1rem;
    vertical-align: middle;
}
.col-md-9.col-lg-6{
	margin: auto;
	margin-top: 3rem;
	margin-bottom: 5rem;
}


@media (max-width: 575.98px) { 
	.table th, .table td {
	    padding: 0.3rem 0rem;
	    vertical-align: middle;
	}
}
@media (min-width: 576px) and (max-width: 767.98px) { 

}
@media (min-width: 768px) and (max-width: 991.98px) { 
	
}
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }
@media (min-width: 1200px) { 

}