.project-container{
    max-width: 1750px;
    margin:auto;

}
#key_add_pop .key_btn{
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 100%;
    text-align:center;
}
#key_add_pop .key_btn .key_add_btn{
    min-width: 200px;
    position: relative;
    bottom: 40px;
    width: 100%;
    max-width: 500px;
}
#fproject .mypage_form_right label { font-size: 13px; margin-bottom: 8px; color: #A3A6A7; }
#fproject button.keyword { width: 100%; background-color: #499BE9; border-color: #499BE9; height: 50px;}
#fproject .guide { font-size: 12px; color: #999999; font-weight: 400; }
#fproject .text_cnt {color: #A1B1BE; font-weight: 400; }
#fproject .btn_container .btn-save { background-color: #0088cc; border-color: #0088cc; }
#fproject input { font-size: .8rem };
#fproject .title { font-weight: 400; color: #2a2a2a; font-size: 13px; }
.budget-general-container .d-flex span {white-space: nowrap;align-self: center;}
.project_list .item div.image .project_ca_img {width: 100%;}

#sampleLogoModal .content .pms_c{
    max-width: 250px;
    border: 1px solid #ddd;
    margin-bottom: 0.5rem;
    cursor: pointer;
    padding:1rem;
}
#sampleLogoModal .content .pms_c:hover{
    border: 1px solid #0088cc;
    background-color: aliceblue;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
	.project-container{
        max-width: 400px;
    }
    #key_add_pop .key_btn .key_add_btn{
        bottom: 15px;
        max-width: 300px;
    }
}
@media (max-width: 375px) {
    .project-container{
        max-width: 350px;
    }
    #key_add_pop .key_btn .key_add_btn{
        bottom: 15px;
        max-width: 300px;
    }
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
	.project-container{
        max-width: 520px;
    }
    #key_add_pop .key_btn .key_add_btn{
        bottom: 15px;
        max-width: 300px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
 	.project-container{
        max-width: 700px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}

.note-editing-area p {
 margin-bottom: 0;
 line-height: 23px !important;
 color: black;
}
