/* ν‘Έν„° */
#footer {width:100%; padding:0;text-align:center; line-height:22px; overflow:hidden;}
#footer .container{padding:0rem 2rem;}
#footer .info {font-size:13px; color:#222; text-align:left; overflow:hidden; margin-top:1px;}
#footer .info .left {float:left;}
#footer .info .left p {font-size:12px; color:#aaa; font-weight:900;}
#footer .info .left p b {color:#4a9ce9}
#footer .info .right {float:right;}
#footer .info .right div {cursor: pointer;  float:left; width:120px; height:30px; line-height:30px; border:1px solid #ddd; background-color:#fff; text-align:center; color:#555; font-size:12px; font-weight:700; margin-left:3px;}
#footer .info .right div:hover {color:#4a9ce9; border:1px solid #4a9ce9;}
#footer .copy {padding-top:10px; margin-top:10px; border-top:1px solid #ddd; text-align:left; color:#777; font-size:12px; overflow:hidden; padding-bottom:30px;}
#footer .copy span {padding:0 5px; color:#ddd;}

/*μ°¨νΈ*/

/*@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}*/
#chart {
  width: 1050px;
  height: 300px;
  margin: 30px auto 0;
  display: block;
}
#chart #numbers {
  width: 30px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: left;
}
#chart #numbers li {
  text-align: right;
  padding-right: 1em;
  list-style: none;
  height: 29px;
  border-bottom: 1px solid #444;
  position: relative;
  bottom: 30px;
}
#chart #numbers li:last-child {
  height: 30px;
}
#chart #numbers li span {
  color: #333;
  position: absolute;
  bottom: 0;
  right: 10px;
}
#chart #bars {
  display: inline-block;
  background: rgba(0, 0, 0, 0.1);
  width: 1000px;
  height: 300px;
  padding: 0;
  margin: 0;
  box-shadow: 0 0 0 1px #444;
}
#chart #bars li {
  display: table-cell;
  width: 32px;
  height: 300px;
  margin: 0;
  text-align: center;
  position: relative;
}
#chart #bars li .bar {
  display: block;
  width: 20px;
  margin-left: 10px;
  background: #49e;
  position: absolute;
  bottom: 0;
}
#chart #bars li .bar:hover {
  background: #5ae;
  cursor: pointer;
}
#chart #bars li .bar:hover:before {
  color: #333;
  content: attr(data-percentage) "%";
  position: relative;
  bottom: 20px;
}
#chart #bars li span {
  color: #333;
  width: 100%;
  position: absolute;
  bottom: -2em;
  left: 0;
  text-align: center;
}
